{% extends "../layouts/default.njk" %}

{% block page_title %}
  {{ texts.ERRORS['403'] }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}Forbidden{% endblock %}

{% block content %}
<h1 class="heading-xlarge">{{ texts.ERRORS.FORBIDDEN }}</h1>
<p>{{ texts.ERRORS.NO_PERMISSION }}</p>
<p>{{ texts.INTERFACE.YOU_CAN }} <a href="/">{{ texts.INTERFACE.RETURN_HOME }}</a>.</p>
{% endblock %}
