// Utilities

// Hide visually but not from screen readers
// Allow important defs in utility class
// scss-lint:disable ImportantRule
.u-hide {
  left: -9999em !important;
  position: absolute !important;
}

.u-spacer {
  margin-bottom: 1rem;
}

.u-noscroll {
  overflow: hidden;
}

.u-hide--small {
  display: none;
}

.text-center {
  text-align: center;
}

.inactive {
  color: $grey-1;
}

.fill {
  width: 80% !important;
}

.error-input {
  border: 4px solid $red;
}

.box-grey {
  background-color: $light-grey-1;
  padding: 1em;

  input {
    background-color: $white;
    margin-bottom: .5em;
  }
}

// DatePicker

.noscript {
  display: none;
}

.calendar-button {
  float: right;
  background: none;
  border: none;
  padding: 0;
}

.datepicker {
  // margin: 10px;
  padding: 2px;
  position: absolute;
  width: 261px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index: 1;
}

// div#month-wrap {
//   height: 30px;
//   background-color: #ddd;
//   border: 1px solid black;
//   -webkit-border-radius: 4px;
//   -moz-border-radius: 4px;
//   border-radius: 4px;
// }

div#bn_prev {
  margin: 3px;
  float: left;
  width: 24px;
  height: 24px;
  text-align: center;

}

div#bn_next {
  margin: 3px;
  float: right;
  width: 24px;
  height: 24px;
  text-align: center;
}

div#bn_prev:hover,
div#bn_prev:focus,
div#bn_next:hover,
div#bn_next:focus {
  margin: 3px;
  background-color: #fc3;
  // border: 1px solid #800;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

img.bn_img {
  margin: 0;
  padding: 2px;
}

div#month {
  float: left;
  padding-top: 3px;
  width: 190px;
  height: 24px;
  text-align: center;
  font-weight: bold;
}

table#cal {
  // width: 261px;
  font-size: 1.2em;
  text-align: center;
}

table#cal th,
table#cal td {
  width: 35px;
  height: 30px;
  padding: 0;
}

table#cal thead {
  // background-color: #ddd;
  border-bottom: 1px solid #999;
}


table#cal td {
  // background-color: #ddd;
  // border: 1px solid #999;
  border: none;
  text-align: center;
}

table#cal td.today {
  background-color: #fc3;
  //background-color: #FFF0C4;
  // border: 1px solid #999;
  border-radius: 2px;
}

table#cal td.empty {
  // background-color: #f9f9f9;
  // border: 1px solid #eee;
}

table#cal td:hover,
table#cal td.focus {
  // border-color: #800;
  background-color: #fc3;
}

table#cal td.empty:hover {
  background-color: #f9f9f9;
  border: 1px solid #eee;
}

.offscreen {
  position: absolute;
  left: -200em;
  top: -100em;
}

.datepicker[aria-hidden="true"] {
  display: none;
}


.notice ul {
  display: block;
  padding-left: 70px;
}

.notice ul li strong {
  padding-left: 0;
  margin-left: 15px;
}