**/node_modules/*
**/tmp/*

dist/
test/
dev/
logs/
coverage/
reports/
client/css
development/client/js/i18n/en.json

*.log*
*.map
bundle.js
server/config/environment/secret.js
.sonar
govuk_modules/
/.idea/
npm-debug.log
.vscode/
package-lock.json
/juror-public-front-end.iml
.scannerwork
.DS_store
