{% extends "./govuk_template.njk" %}

{% block head %}
  {% include "../includes/head.njk" %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.njk" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block body_end %}
  {% include "../includes/scripts.njk" %}
{% endblock %}

{% block footer_support_links %}
<ul>
  <li><a href="{{ url('cookie.get') }}" target="_blank" id="cookiesLink" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.INTERFACE.FOOTER_LINKS.COOKIES }}</a></li>
  <li><a href="{{ url('privacy.get') }}" target="_blank" id="privacyPolicyLink" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.INTERFACE.FOOTER_LINKS.PRIVACY }}</a></li>
</ul>
{% endblock %}
