{# Get ready for jury service #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">{{ texts.PDF.sharedText.getReadyHeader }}</h2>

    <p class="govuk-body">{{ texts.PDF.sharedText.govWebsiteText }}</p>
    <p class="govuk-body">
      {{ texts.PDF.sharedText.visit }}<a href="{{texts.PDF.sharedText.govWebsiteLink}}" class="govuk-link">{{ texts.PDF.sharedText.govWebsiteLink }}</a>{{ texts.PDF.sharedText.toLearnMoreAbout }}
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        {{ texts.PDF.sharedText.govPointOne }}
      </li>
      <li>
        {{ texts.PDF.sharedText.govPointTwo }}
      </li>
      <li>
        {{ texts.PDF.sharedText.govPointThree }}
      </li>
      <li>
        {{ texts.PDF.sharedText.govPointFour }}
      </li>
      <li>
        {{ texts.PDF.sharedText.govPointFive }}
      </li>
    </ul>

  </div>
</div>

