.check-your-answers {

  thead th:first-child {
    @include core-24;
    font-weight: bold;
  }

  thead th:last-child {
    @include core-19;
  }

  td {
    @include core-19;
    vertical-align: top;
  }

  .change-answer {
    padding-bottom: 28px;
    padding-right: 0;
    text-align: right;
    vertical-align: top;
  }

  pre {
    white-space: pre-wrap;
  }

  .question {
    color: #6F777B;
    width: 170px;

    &--full {
      width: 100%;
    }
  }

}
