{% extends "./layouts/default-gds.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  {{ texts.COOKIE_SETTINGS_PAGE.HEADING }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}CookieSettings{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ url('cookie-settings.post') }}" method="post">

        <div class="govuk-body">

           <noscript>
            <p>
              {{ texts.COOKIE_SETTINGS_PAGE.JAVASCRIPT_GUIDANCE }}
            </P>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ texts.COOKIE_SETTINGS_PAGE.JAVASCRIPT_ITEM_1 }}</li>
              <li>{{ texts.COOKIE_SETTINGS_PAGE.JAVASCRIPT_ITEM_2 }}</li>
            </ul>
          </noscript>

          {% if analyticsCookie == 'yes' %}
            {% set radioAnalyticsYesChecked = true %}
          {% endif %}
          {% if analyticsCookie == 'no' %}
            {% set radioAnalyticsNoChecked = true %}
          {% endif %}

          {% if returnUrl %}
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
              <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                  {{ texts.COOKIE_SETTINGS_PAGE.SAVE_SUCCESS_HEADING }}
                </h2>
              </div>
              <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                  {{ texts.COOKIE_SETTINGS_PAGE.SAVE_SUCCESS_MESSAGE }} <a class="govuk-notification-banner__link" href="{{returnUrl}}">{{ texts.COOKIE_SETTINGS_PAGE.SAVE_SUCCESS_LINK_TEXT }}</a>.
                </p>
              </div>
            </div>
          {% endif %}

          <h1 class="govuk-heading-l">
            {{ texts.COOKIE_SETTINGS_PAGE.HEADING }}
          </h1>

          <p>
            {{ texts.COOKIE_SETTINGS_PAGE.COOKIE_GUIDANCE_1 }}
          </p>

          <p>
            {{ texts.COOKIE_SETTINGS_PAGE.COOKIE_GUIDANCE_2 }}
          </p>

          <h2 class="govuk-heading-m">
            {{ texts.COOKIE_SETTINGS_PAGE.COOKIE_SETTINGS_HEADING }}
          </h2>

          <p class="govuk-body">
            {{ texts.COOKIE_SETTINGS_PAGE.COOKIE_SETTINGS_GUIDANCE }}
          </p>

          {% set analyticsHintText %}
            <p class="govuk-body">
              {{ texts.COOKIE_SETTINGS_PAGE.COOKIE_ANALYTICS_HINT_1 }}
            </p>
            <p class="govuk-body">
              {{ texts.COOKIE_SETTINGS_PAGE.COOKIE_ANALYTICS_HINT_2 }}
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                {{ texts.COOKIE_SETTINGS_PAGE.COOKIE_ANALYTICS_ITEM_1 }}
              </li>
              <li>
                {{ texts.COOKIE_SETTINGS_PAGE.COOKIE_ANALYTICS_ITEM_2 }}
              </li>
              <li>
                {{ texts.COOKIE_SETTINGS_PAGE.COOKIE_ANALYTICS_ITEM_3 }}
              </li>
            </ul>
          {% endset %}


          {{ govukRadios({
            name: "analyticsUsage",
            fieldset: {
              legend: {
                text: texts.COOKIE_SETTINGS_PAGE.COOKIE_ANALYTICS_HEADING,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              html: analyticsHintText
            },
            items: [
              {
                id: "analyticsYes",
                value: 'yes',
                checked: radioAnalyticsYesChecked,
                text: texts.COOKIE_SETTINGS_PAGE.COOKIE_ANALYTICS_BUTTON_YES
                
              },
              {
                id: "analyticsNo",
                value: 'no',
                checked: radioAnalyticsNoChecked,
                text: texts.COOKIE_SETTINGS_PAGE.COOKIE_ANALYTICS_BUTTON_NO
              }
            ]
          }) }}

          <h2 class="govuk-heading-m">
            {{ texts.COOKIE_SETTINGS_PAGE.COOKIE_NECESSARY_HEADING }}
          </h2>
          <p>
          {{ texts.COOKIE_SETTINGS_PAGE.COOKIE_NECESSARY_GUIDANCE_1 }}
          </p>    

          <p>
            {{ texts.COOKIE_SETTINGS_PAGE.COOKIE_NECESSARY_GUIDANCE_2 }}
          </p>

          <p>
            <a class="govuk-link" id="cookieInfoLink" href="{{ url('cookie.get') }}">{{ texts.COOKIE_SETTINGS_PAGE.COOKIE_LINK_TEXT }}</a>
          </p>

          {# Submit form #}
          {{ govukButton({
            text: texts.COOKIE_SETTINGS_PAGE.SAVE_BUTTON_TEXT,
            attributes: {
            id: "cookieSaveButton"
          }
          }) }}

          <input type="hidden" name="returl" value="{{ returnURL }}">
          <input type="hidden" name="_csrf" value="{{ csrftoken }}">

        </div>

      </form>
    </div>
  </div>

{% endblock %}

{% block bodyEnd %}

<script src="../js/cookies.js"></script>

<script>
  
  document.querySelector('#cookieSaveButton').addEventListener('click', function(event){
    // update usage cookie
    if (document.getElementById("analyticsYes").checked == true) {
      window.GOVUK.setConsentCookie({'usage': true});
    } else {
      window.GOVUK.setConsentCookie({'usage': false});
    }
    return true;
  });
  
</script>

{% endblock %}