{% extends "./layouts/default-gds.njk" %}

{% block page_title %}
  {{ texts.COOKIE_PAGE.HEADING }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}Cookies{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
   <h1 class="govuk-heading-l">{{- texts.COOKIE_PAGE.HEADING -}}</h1>

    <p>{{ texts.COOKIE_PAGE.SUMMARY }}</p>

    <p>{{ texts.COOKIE_PAGE.LIST_HEADING }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ texts.COOKIE_PAGE.BULLET_ONE }}</li>
      <li>{{ texts.COOKIE_PAGE.BULLET_TWO }}</li>
    </ul>

    <div class="panel panel-border-wide">
      <p>
        {{ texts.COOKIE_PAGE.IDENTIFY }}
      </p>
    </div>

    <p>{{ texts.COOKIE_PAGE.MESSAGE }}</p>

    <p>{{ texts.COOKIE_PAGE.MORE_INFO_START }}
    <a class="govuk-link" href="{{ texts.COOKIE_PAGE.MORE_INFO_LINK }}" id="moreInfoLink">{{ texts.COOKIE_PAGE.MORE_INFO_END }}</a>
    </p>

    <h3 class="govuk-heading-m">
    {{ texts.COOKIE_PAGE.COOKIE_USAGE }}
    </h3>

    <h4 class="govuk-heading-s">
    {{ texts.COOKIE_PAGE.MEASURE_HEADING }}
    </h4>
    <p>
      {{ texts.COOKIE_PAGE.MEASURE_INFO }}
    </p>
    <p>
      {{ texts.COOKIE_PAGE.ANALYTICS }}
    </p>
    <p>
      {{ texts.COOKIE_PAGE.ANALYTICS_REPORT }}
    </p>
    <p>
      {{ texts.COOKIE_PAGE.TRACKING }}
    </p>
    <p>
      {{ texts.COOKIE_PAGE.DATA_CAPTURE }}
    </p>
    <p>
      {{ texts.COOKIE_PAGE.REASON }}
    </p>
    <p>
      {{ texts.COOKIE_PAGE.USED_COOKIES }}
    </p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">{{ texts.COOKIE_PAGE.NAME_TITLE }}</th>
          <th scope="col" class="govuk-table__header">{{ texts.COOKIE_PAGE.PURPOSE_TITLE }}</th>
          <th scope="col" class="govuk-table__header">{{ texts.COOKIE_PAGE.EXPIRES_TITLE }}</th>
        </tr class="govuk-table__row">
      </thead>
      <tbody class="govuk-table__body">
        <tr>
          <td class="govuk-table__cell">{{ texts.COOKIE_PAGE.NAME_ONE }}</td>
          <td class="govuk-table__cell">{{ texts.COOKIE_PAGE.PURPOSE_ONE }}</td>
          <td class="govuk-table__cell">{{ texts.COOKIE_PAGE.EXPIRES_ONE }}</td>
        </tr>
        <tr>
          <td class="govuk-table__cell">{{ texts.COOKIE_PAGE.NAME_TWO }}</td>
          <td class="govuk-table__cell">{{ texts.COOKIE_PAGE.PURPOSE_TWO }}</td>
          <td class="govuk-table__cell">{{ texts.COOKIE_PAGE.EXPIRES_TWO }}</td>
        </tr>
        <tr>
          <td class="govuk-table__cell">{{ texts.COOKIE_PAGE.NAME_FIVE }}</td>
          <td class="govuk-table__cell">{{ texts.COOKIE_PAGE.PURPOSE_FIVE }}</td>
          <td class="govuk-table__cell">{{ texts.COOKIE_PAGE.EXPIRES_FIVE }}</td>
        </tr>
      </tbody>
    </table>

    <p>{{ texts.COOKIE_PAGE.OPT_OUT_START }}
      <a class="govuk-link" href="{{ texts.COOKIE_PAGE.OPT_OUT_LINK }}" id="optOutLink">{{ texts.COOKIE_PAGE.OPT_OUT_END }}</a>
    </p>

    </br>

    <h4 class="govuk-heading-s">
    {{ texts.COOKIE_PAGE.SESSIONS }}</p>
    </h4>

    <p>{{ texts.COOKIE_PAGE.SESSION_SUMMARY }}</p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">{{ texts.COOKIE_PAGE.NAME_TITLE }}</th>
          <th scope="col" class="govuk-table__header">{{ texts.COOKIE_PAGE.PURPOSE_TITLE }}</th>
          <th scope="col" class="govuk-table__header">{{ texts.COOKIE_PAGE.EXPIRES_TITLE }}</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ texts.COOKIE_PAGE.NAME_THREE }}</td>
          <td class="govuk-table__cell">{{ texts.COOKIE_PAGE.PURPOSE_THREE }}</td>
          <td class="govuk-table__cell">{{ texts.COOKIE_PAGE.EXPIRES_THREE }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ texts.COOKIE_PAGE.NAME_FOUR }}</td>
          <td class="govuk-table__cell">{{ texts.COOKIE_PAGE.PURPOSE_FOUR }}</td>
          <td class="govuk-table__cell">{{ texts.COOKIE_PAGE.EXPIRES_FOUR }}</td>
        </tr>
      </tbody>
    </table>
    </br>
    <h4 class="govuk-heading-s">
      {{ texts.COOKIE_PAGE.FEEDBACK_SURVEY_HEADER }}</p>
    </h4>

    <p>
      {{ texts.COOKIE_PAGE.FEEDBACK_SURVEY_SERVICE }}
    </p>
    <p>
      {{ texts.COOKIE_PAGE.FEEDBACK_SURVEY_DETAILS }}
    </p>
    <a class="govuk-link" href="{{ texts.COOKIE_PAGE.FEEDBACK_SURVEY_LINK }}">
      {{ texts.COOKIE_PAGE.FEEDBACK_SURVEY_LINK }}
    </a>
    <br></br>
    <p>
      {{ texts.COOKIE_PAGE.FEEDBACK_SURVEY_RESULTS }}
    </p>
    <p>
      {{ texts.COOKIE_PAGE.FEEDBACK_SURVEY_DATA }}
    </p>
    <p>
      {{ texts.COOKIE_PAGE.FEEDBACK_SURVEY_COOKIES }}
    </p>
    <a class="govuk-link" href="{{ texts.COOKIE_PAGE.FEEDBACK_SURVEY_COOKIES_LINK }}">
      {{ texts.COOKIE_PAGE.FEEDBACK_SURVEY_COOKIES_LINK }}
    </a>
    
    <br/>
    <br/>

    <p class="govuk-heading-m">
      {{ texts.COOKIE_PAGE.CHANGE_SETTINGS_HEADING }}
    </p>
    <p>
    {{ texts.COOKIE_PAGE.CHANGE_SETTINGS_GUIDANCE}} <a class="govuk-link" href="{{ texts.COOKIE_PAGE.CHANGE_SETTINGS_LINK_URL }}" id="cookieSettingsLink">{{ texts.COOKIE_PAGE.CHANGE_SETTINGS_LINK_TEXT }}</a>
    </p>


  </div>
</div>

{% endblock %}
