{% extends "../../layouts/default-gds.njk" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% include "../../includes/title-error.njk" %}
  {{ texts.CHECK_ANSWERS_PAGE.HEADING }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}Check Your Answers{% endblock %}

{% block content %}

  {% include "../../includes/errors-gds.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        {{- texts.CHECK_ANSWERS_PAGE.HEADING -}}
      </h1>

      <p class="govuk-body">
        {% if user.thirdParty == 'Yes' %}
          {{ texts.CHECK_ANSWERS_PAGE.OB_INFO }}
        {% else %}
          {{ texts.CHECK_ANSWERS_PAGE.JUROR_INFO }}
        {% endif %}
      </p>

    {% if user.ineligibleDeceased !== true %}

      <div class="govuk-body govuk-table__cell" >
        {% if user.thirdParty == 'Yes' %}
          <h2 class="govuk-heading-m">{{ texts.CHECK_ANSWERS_PAGE.DETAILS_HEADER_OB }}</h2>
        {% else %}
          <h2 class="govuk-heading-m">{{ texts.CHECK_ANSWERS_PAGE.DETAILS_HEADER_NORMAL }}</h2>
        {% endif %}
      </div>

      <dl class="govuk-summary-list">

        {# name #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__key_jd" id="question-name">
            {{ texts.CHECK_ANSWERS_PAGE.NAME_LABEL }}
          </dt>
          <dd class="govuk-summary-list__value govuk-summary-list__value_jd" id="name">
            {{ user.nameRender }}
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__actions_jd">
            <a class="govuk-link" href="{{ personalDetailsChangeNameLink }}" id="changeName" aria-describedby="question-name">
              {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
              {% if user.thirdParty == 'Yes' %}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.NAME_READER_OB }}</span>
              {% else %}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.NAME_READER }}</span>
              {% endif %}
            </a>
          </dd>
        </div>

        {# address #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" id="question-address">
            {{ texts.CHECK_ANSWERS_PAGE.ADDRESS_LABEL }}
          </dt>
          <dd class="govuk-summary-list__value" id="adress">
            {{ user.addressRender | replace("<br>", ", ") }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{{ personalDetailsChangeAddressLink }}" id="changeAddress" aria-describedby="question-address">
              {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
              {% if user.thirdParty == 'Yes' %}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.ADDRESS_READER_OB }}</span>
              {% else %}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.ADDRESS_READER }}</span>
              {% endif %}
            </a>
          </dd>
        </div>

        {# date of birth #}
        {% set dobValue %}
          {{- user.dobDay -}}/{{- user.dobMonth -}}/{{- user.dobYear -}}
        {% endset %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" id="question-dob">
            {{ texts.CHECK_ANSWERS_PAGE.DOB_LABEL }}
          </dt>
          <dd class="govuk-summary-list__value" id="dateOfBirth">
            {{ dobValue | translateDate("DD/MM/YYYY", "D MMMM YYYY", texts.INTERFACE.HTML_LANG)}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{{ personalDetailsChangeDateOfBirthLink }}" id="changeDob" aria-describedby="question-dob">
              {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
              {% if user.thirdParty == 'Yes' %}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.DOB_READER_OB }}</span>
              {% else %}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.DOB_READER }}</span>
              {% endif %}
            </a>
          </dd>
        </div>

        {# primary phone #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" id="question-phoneprimary">
            {{ texts.CHECK_ANSWERS_PAGE.PHONE_LABEL }}
          </dt>
          <dd class="govuk-summary-list__value" id="primaryPhone">
            {{ user.primaryPhone }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{{ contactDetailsChangePhoneLink }}" id="changePhone" aria-describedby="question-phoneprimary">
              {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
              {% if user.thirdParty == 'Yes' %}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.PHONE_READER_OB }}</span>
              {% else %}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.PHONE_READER }}</span>
              {% endif %}
            </a>
          </dd>
        </div>

        {# secondary phone #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" id="question-phonesecondary">
            {{ texts.CHECK_ANSWERS_PAGE.ALT_PHONE_LABEL }}
          </dt>
          <dd class="govuk-summary-list__value" id="secondaryPhone">
            {{ user.secondaryPhone }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{{ contactDetailsChangePhoneLink }}" id="changeSecondaryPhone" aria-describedby="question-phonesecondary">
              {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
              {% if user.thirdParty == 'Yes' %}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.ALT_PHONE_READER_OB }}</span>
              {% else %}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.ALT_PHONE_READER }}</span>
              {% endif %}
            </a>
          </dd>
        </div>

        {# email #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" id="question-email">
            {{ texts.CHECK_ANSWERS_PAGE.EMAIL_LABEL }}
          </dt>
          <dd class="govuk-summary-list__value" id="emailAddress">
            {{ user.emailAddress }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{{ contactDetailsChangeEmailLink }}" id="changeEmailAddress" aria-describedby="question-email">
              {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
              {% if user.thirdParty == 'Yes' %}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.EMAIL_READER_OB }}</span>
              {% else %}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.EMAIL_READER }}</span>
              {% endif %}
            </a>
          </dd>
        </div>
      </dl>

    {% endif %}

    {% if user.thirdParty == 'Yes' %}
      <br>

      <div class="govuk-body govuk-table__cell" >
        <h2 class="govuk-heading-m">{{ texts.CHECK_ANSWERS_PAGE.OB_HEADING }}</h2>
      </div>

      <dl class="govuk-summary-list">

        {# TP name #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__key_jd" id="question-obname">
            {{ texts.CHECK_ANSWERS_PAGE.OB_NAME_LABEL }}
          </dt>
          <dd class="govuk-summary-list__value govuk-summary-list__value_jd" id="thirdPartyName">
            {{ user.thirdPartyDetails.nameRender }}
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__actions_jd">
            <a class="govuk-link" href="{{ url('branches.third.party.details.change.name.get') }}" id="changeThirdPartyName" aria-describedby="question-obname">
              {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}<span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.OB_NAME_READER }}</span>
            </a>
          </dd>
        </div>

        {# TP relationship #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" id="question-obrelationship">
            {{ texts.CHECK_ANSWERS_PAGE.OB_RELATIONSHIP_LABEL }}
          </dt>
          <dd class="govuk-summary-list__value" id="thirdPartyRelationship">
            {{ user.thirdPartyDetails.relationship }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{{ url('branches.third.party.details.change.relationship.get') }}" id="changeThirdPartyRelationship" aria-describedby="question-obrelationship">
              {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}<span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.OB_RELATIONSHIP_READER }}</span>
            </a>
          </dd>
        </div>

        {# TP primary phone #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" id="question-obphoneprimary">
            {{ texts.CHECK_ANSWERS_PAGE.OB_MAIN_PHONE_LABEL }}
          </dt>
          <dd class="govuk-summary-list__value" id="thirdPartyMainPhone">
            {{ user.thirdPartyDetails.mainPhone }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{{ url('branches.third.party.details.change.contact.get') }}" id="changeThirdPartyMainPhone" aria-describedby="question-obphoneprimary">
              {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}<span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.OB_MAIN_PHONE_READER }}</span>
            </a>
          </dd>
        </div>

        {# TP secondary phone #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" id="question-obphonesecondary">
            {{ texts.CHECK_ANSWERS_PAGE.OB_OTHER_PHONE_LABEL }}
          </dt>
          <dd class="govuk-summary-list__value" id="thirdPartyOtherPhone">
            {{ user.thirdPartyDetails.otherPhone }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{{ url('branches.third.party.details.change.contact.get') }}" id="changeThirdPartyOtherPhone" aria-describedby="question-obphonesecondary">
              {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}<span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.OB_OTHER_PHONE_READER }}</span>
            </a>
          </dd>
        </div>

        {# TP email #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" id="question-obemail">
            {{ texts.CHECK_ANSWERS_PAGE.OB_EMAIL_ADDRESS_LABEL }}
          </dt>
          <dd class="govuk-summary-list__value" id="thirdPartyEmailAddress">
            {{ user.thirdPartyDetails.emailAddress }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{{ url('branches.third.party.details.change.contact.get') }}" id="changeThirdPartyEmailAddress" aria-describedby="question-obemail">
              {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}<span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.OB_EMAIL_ADDRESS_READER }}</span>
            </a>
          </dd>
        </div>

        {# TP Reason #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" id="question-obreason">
            {{ texts.CHECK_ANSWERS_PAGE.OB_WHY_QUESTION }}
          </dt>
          <dd class="govuk-summary-list__value" id="thirdPartyReason">
           {{ user.thirdPartyDetails.reasonText }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{{ url('branches.third.party.reason.change.get') }}" id="changeReason" aria-describedby="question-obreason">
              {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}<span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.OB_WHY_READER }}</span>
            </a>
          </dd>
        </div>

      </dl>

    {% endif %}

    <br>
    {% if user.ineligibleAge === false and user.ineligibleDeceased !== true %}

      <div class="govuk-body govuk-table__cell" >
        {% if user.thirdParty == 'Yes' %}
          <h2 class="govuk-heading-m">{{ texts.CHECK_ANSWERS_PAGE.OB_QUALIFY_QUESTION }}</h2>
        {% else %}
          <h2 class="govuk-heading-m">{{ texts.CHECK_ANSWERS_PAGE.JUROR_QUALIFY_QUESTION }}</h2>
        {% endif %}
      </div>

      {# Eligibility - Residency Lived Consecutive #}
      <dl class="govuk-summary-list govuk-body">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__key_jd" id="questionLivedConsecutive">
            {% if user.thirdParty == 'Yes' %}
              {{ texts.CHECK_ANSWERS_PAGE.OB_QUALIFY_QUESTION_LIVED_CONSECUTIVE }}
            {% else %}
              {{ texts.CHECK_ANSWERS_PAGE.JUROR_QUALIFY_QUESTION_LIVED_CONSECUTIVE }}
            {% endif %}
          </dt>
          <dd class="govuk-summary-list__value govuk-summary-list__value_jd" id="answerLivedConsecutive">
            {% if user.qualify.livedConsecutive.details.length > 0 and user.qualify.livedConsecutive.answer == texts.QUALIFY_PAGE.NO %}
              {% if user.thirdParty == 'Yes' %}
                <span id="livedConsecutiveAnswer">{{ texts.QUALIFY_PAGE.RESIDENCY_NO_OB }} - {{ user.qualify.livedConsecutive.details }}</span>
              {% else %}
                <span id="livedConsecutiveAnswer">{{ texts.QUALIFY_PAGE.RESIDENCY_NO }} - {{ user.qualify.livedConsecutive.details }}</span>
              {% endif %}
            {% else %}
              {% if user.thirdParty == 'Yes' %}
                <span id="livedConsecutiveAnswer">{{ texts.QUALIFY_PAGE.RESIDENCY_YES_OB }}</span>
              {% else %}
                <span id="livedConsecutiveAnswer">{{ texts.QUALIFY_PAGE.RESIDENCY_YES }}</span>
              {% endif %}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__actions_jd">
            {% if user.thirdParty == 'Yes' %}
              <a class="govuk-link" href="{{ url('steps.qualify.residency.change.tp.get') }}" id="changeLivedConsecutive" aria-describedby="questionLivedConsecutive">
                {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.OB_QUALIFY_QUESTION_LIVED_CONSECUTIVE_READER }}</span>
              </a>
            {% else %}
              <a class="govuk-link" href="{{ url('steps.qualify.residency.change.get') }}" id="changeLivedConsecutive" aria-describedby="questionLivedConsecutive">
                {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.JUROR_QUALIFY_QUESTION_LIVED_CONSECUTIVE_READER }}</span>
              </a>
            {% endif %}
          </dd>
        </div>
        

        {# Eligibility - CJS Employed #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__key_jd" id="questionCJSEmployed">
            {% if user.thirdParty == 'Yes' %}
              {{ texts.CHECK_ANSWERS_PAGE.OB_EMPLOYED_QUESTION }}
            {% else %}
              {{ texts.CHECK_ANSWERS_PAGE.JUROR_EMPLOYED_QUESTION }}
            {% endif %}
          </dt>
          <dd class="govuk-summary-list__value govuk-summary-list__value_jd" id="answerCJSEmployed">
            {% if (user.cjsEmployed == texts.CHECK_ANSWERS_PAGE.EMPLOYED_YES) or (user.cjsEmployed == texts.CHECK_ANSWERS_PAGE.OB_EMPLOYED_YES) %}
              {% if user.thirdParty == 'Yes' %}
                {{ texts.CHECK_ANSWERS_PAGE.OB_EMPLOYED_YES }}
              {% else %}
                {{ texts.CHECK_ANSWERS_PAGE.EMPLOYED_YES }}
              {% endif %}
              
              {% if user.cjsPolice %}
                <br><br>
                {{ texts.CHECK_ANSWERS_PAGE.POLICE }}<br>{{ user.cjsPoliceDetails }}
              {% endif %}
              {% if user.cjsPrison %}
                <br><br>
                {{ texts.CHECK_ANSWERS_PAGE.PRISON_SERVICE }}<br>{{ user.cjsPrisonDetails }}
              {% endif %}
              {% if user.cjsNca %}
                <br><br>
                {{ texts.CHECK_ANSWERS_PAGE.NCA }}
              {% endif %}
              {% if user.cjsJudiciary %}
                <br><br>
                {{ texts.CHECK_ANSWERS_PAGE.JUDICIARY }}
              {% endif %}
              {% if user.cjsHMCTS %}
                <br><br>
                {{ texts.CHECK_ANSWERS_PAGE.HMCTS }}
              {% endif %}
              {% for employer in user.cjsEmployer %}
                {% if employer === 'Other' %}
                  <br><br>
                  {{ texts.CHECK_ANSWERS_PAGE.OTHER }}<br>{{ user.cjsEmployerDetails }}
                {% endif %}
              {% endfor %}
              {% if user.cjsEmployer === 'Other' %}
                <br><br>
                {{ texts.CHECK_ANSWERS_PAGE.OTHER }}<br>{{ user.cjsEmployerDetails }}
              {% endif %}
            {% else %}
              {% if user.thirdParty == 'Yes' %}
                {{ texts.CHECK_ANSWERS_PAGE.OB_EMPLOYED_NO }}
              {% else %}
                {{ texts.CHECK_ANSWERS_PAGE.EMPLOYED_NO }}
              {% endif %}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__actions_jd">
            {% if user.thirdParty == 'Yes' %}
              <a class="govuk-link" href="{{ url('steps.qualify.cjs.employed.change.tp.get') }}" id="changeCJS" aria-describedby="questionCJSEmployed">
                {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.OB_EMPLOYED_QUESTION_READER }}</span>
              </a>
            {% else %}
              <a class="govuk-link" href="{{ url('steps.qualify.cjs.employed.change.get') }}" id="changeCJS" aria-describedby="questionCJSEmployed">
                {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.JUROR_EMPLOYED_QUESTION_READER }}</span>
              </a>
            {% endif %}
          </dd>
        </div>


        {# Eligibility - On Bail #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__key_jd" id="questionOnBail">
            {% if user.thirdParty == 'Yes' %}
              {{ texts.CHECK_ANSWERS_PAGE.OB_QUALIFY_QUESTION_BAIL }}
            {% else %}
              {{ texts.CHECK_ANSWERS_PAGE.JUROR_QUALIFY_QUESTION_BAIL }}
            {% endif %}
          </dt>
          <dd class="govuk-summary-list__value govuk-summary-list__value_jd" id="answerOnBail">
            {% if user.qualify.onBail.details.length > 0 and user.qualify.onBail.answer == texts.QUALIFY_PAGE.YES %}
              {% if user.thirdParty == 'Yes' %}
                <span id="onBailAnswer">{{ texts.QUALIFY_PAGE.BAIL_YES_OB }} - {{ user.qualify.onBail.details }}</span>
              {% else %}
                <span id="onBailAnswer">{{ texts.QUALIFY_PAGE.BAIL_YES }} - {{ user.qualify.onBail.details }}</span>
              {% endif %}
            {% else %}
              {% if user.thirdParty == 'Yes' %}
                <span id="onBailAnswer">{{ texts.QUALIFY_PAGE.BAIL_NO_OB }}</span>
              {% else %}
                <span id="onBailAnswer">{{ texts.QUALIFY_PAGE.BAIL_NO }}</span>
              {% endif %}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__actions_jd">
            {% if user.thirdParty == 'Yes' %}
              <a class="govuk-link" href="{{ url('steps.qualify.bail.change.tp.get') }}" id="changeOnBail" aria-describedby="questionOnBail">
                {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.OB_QUALIFY_QUESTION_BAIL_READER }}</span>
              </a>
            {% else %}
              <a class="govuk-link" href="{{ url('steps.qualify.bail.change.get') }}" id="changeOnBail" aria-describedby="questionOnBail">
                {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.JUROR_QUALIFY_QUESTION_BAIL_READER }}</span>
              </a>
            {% endif %}
          </dd>
        </div>


        {# Eligibility - Convictions #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__key_jd" id="questionConvictions">
            {% if user.thirdParty == 'Yes' %}
              {{ texts.CHECK_ANSWERS_PAGE.OB_QUALIFY_QUESTION_CONVICTED }}
            {% else %}
              {{ texts.CHECK_ANSWERS_PAGE.JUROR_QUALIFY_QUESTION_CONVICTED }}
            {% endif %}
          </dt>
          <dd class="govuk-summary-list__value govuk-summary-list__value_jd" id="answerConvictions">
            {% if user.qualify.convicted.details.length > 0 and user.qualify.convicted.answer == texts.QUALIFY_PAGE.YES %}
              {% if user.thirdParty == 'Yes' %}
                <span id="convictionAnswer">{{ texts.QUALIFY_PAGE.CONVICTIONS_YES_OB}} - {{ user.qualify.convicted.details }}</span>
              {% else %}
                <span id="convictionAnswer">{{ texts.QUALIFY_PAGE.CONVICTIONS_YES}} - {{ user.qualify.convicted.details }}</span>
              {% endif %}
            {% else %}
              {% if user.thirdParty == 'Yes' %}
                <span id="convictionAnswer">{{ texts.QUALIFY_PAGE.CONVICTIONS_NO_OB }}</span>
              {% else %}
                <span id="convictionAnswer">{{ texts.QUALIFY_PAGE.CONVICTIONS_NO }}</span>
              {% endif %}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__actions_jd">
            {% if user.thirdParty == 'Yes' %}
              <a class="govuk-link" href="{{ url('steps.qualify.convictions.change.tp.get') }}" id="changeConvictions" aria-describedby="questionConvictions">
                {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.OB_QUALIFY_QUESTION_CONVICTED_READER }}</span>
              </a>
            {% else %}
              <a class="govuk-link" href="{{ url('steps.qualify.convictions.change.get') }}" id="changeConvictions" aria-describedby="questionConvictions">
                {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.JUROR_QUALIFY_QUESTION_CONVICTED_READER }}</span>
              </a>
            {% endif %}
          </dd>
        </div>


        {# Eligibility - Mental Health Sectioned #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__key_jd" id="questionMentalHealthSectioned">
            {% if user.thirdParty == 'Yes' %}
              {{ texts.CHECK_ANSWERS_PAGE.OB_QUALIFY_QUESTION_MENTAL_HEALTH_SECTIONED }}
            {% else %}
              {{ texts.CHECK_ANSWERS_PAGE.JUROR_QUALIFY_QUESTION_MENTAL_HEALTH_SECTIONED }}
            {% endif %}
          </dt>
          <dd class="govuk-summary-list__value govuk-summary-list__value_jd" id="answerMentalHealthSectioned">
            {% if user.qualify.mentalHealthSectioned.details.length > 0 and user.qualify.mentalHealthSectioned.answer == texts.QUALIFY_PAGE.YES %}
              {% if user.thirdParty == 'Yes' %}
                <span id="mentalHealthSectionedAnswer">{{ texts.QUALIFY_PAGE.MENTAL_HEALTH_YES_OB }} - {{ user.qualify.mentalHealthSectioned.details }}</span>
              {% else %}
                <span id="mentalHealthSectionedAnswer">{{ texts.QUALIFY_PAGE.MENTAL_HEALTH_YES }} - {{ user.qualify.mentalHealthSectioned.details }}</span>
              {% endif %}
            {% else %}
              {% if user.thirdParty == 'Yes' %}
                <span id="mentalHealthSectionedAnswer">{{ texts.QUALIFY_PAGE.MENTAL_HEALTH_NO_OB }}</span>
              {% else %}
                <span id="mentalHealthSectionedAnswer">{{ texts.QUALIFY_PAGE.MENTAL_HEALTH_NO }}</span>
              {% endif %}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__actions_jd">
            {% if user.thirdParty == 'Yes' %}
              <a class="govuk-link" href="{{ url('steps.qualify.mental.health.sectioned.change.tp.get') }}" id="changeMentalHealthSectioned" aria-describedby="questionMentalHealthSectioned">
                {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.OB_QUALIFY_QUESTION_MENTAL_HEALTH_SECTIONED_READER }}</span>
              </a>
            {% else %}
              <a class="govuk-link" href="{{ url('steps.qualify.mental.health.sectioned.change.get') }}" id="changeMentalHealthSectioned" aria-describedby="questionMentalHealthSectioned">
                {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.JUROR_QUALIFY_QUESTION_MENTAL_HEALTH_SECTIONED_READER }}</span>
              </a>
            {% endif %}
          </dd>
        </div>


        {# Eligibility - Mental Health Capacity #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__key_jd" id="questionMentalHealthCapacity">
            {% if user.thirdParty == 'Yes' %}
              {{ texts.CHECK_ANSWERS_PAGE.OB_QUALIFY_QUESTION_MENTAL_HEALTH_CAPACITY }}
            {% else %}
              {{ texts.CHECK_ANSWERS_PAGE.JUROR_QUALIFY_QUESTION_MENTAL_HEALTH_CAPACITY }}
            {% endif %}
          </dt>
          <dd class="govuk-summary-list__value govuk-summary-list__value_jd" id="answerMentalHealthCapacity">
            {% if user.qualify.mentalHealthCapacity.details.length > 0 and user.qualify.mentalHealthCapacity.answer == texts.QUALIFY_PAGE.YES %}
              {% if user.thirdParty == 'Yes' %}
                <span id="mentalHealthCapacityAnswer">{{ texts.QUALIFY_PAGE.MENTAL_HEALTH_CAPACITY_YES_OB }} - {{ user.qualify.mentalHealthCapacity.details }}</span>
              {% else %}
                <span id="mentalHealthCapacityAnswer">{{ texts.QUALIFY_PAGE.MENTAL_HEALTH_CAPACITY_YES }} - {{ user.qualify.mentalHealthCapacity.details }}</span>
              {% endif %}
            {% else %}
              {% if user.thirdParty == 'Yes' %}
                <span id="mentalHealthCapacityAnswer">{{ texts.QUALIFY_PAGE.MENTAL_HEALTH_CAPACITY_NO_OB }}</span>
              {% else %}
                <span id="mentalHealthCapacityAnswer">{{ texts.QUALIFY_PAGE.MENTAL_HEALTH_CAPACITY_NO }}</span>
              {% endif %}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__actions_jd">
            {% if user.thirdParty == 'Yes' %}
              <a class="govuk-link" href="{{ url('steps.qualify.mental.health.capacity.change.tp.get') }}" id="changeMentalHealthCapacity" aria-describedby="questionMentalHealthCapacity">
                {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.OB_QUALIFY_QUESTION_MENTAL_HEALTH_CAPACITY_READER }}</span>
              </a>
            {% else %}
              <a class="govuk-link" href="{{ url('steps.qualify.mental.health.capacity.change.get') }}" id="changeMentalHealthCapacity" aria-describedby="questionMentalHealthCapacity">
                {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.JUROR_QUALIFY_QUESTION_MENTAL_HEALTH_CAPACITY_READER }}</span>
              </a>
            {% endif %}
          </dd>
        </div>

      </dl>

      <br>

      <div class="govuk-body govuk-table__cell" >
        {% if user.thirdParty == 'Yes' %}
          <h2 class="govuk-heading-m">{{ texts.CHECK_ANSWERS_PAGE.OB_CONFIRM_DATE_HEADER }}</h2>
        {% else %}
          <h2 class="govuk-heading-m">{{ texts.CHECK_ANSWERS_PAGE.JUROR_CONFIRM_DATE_HEADER }}</h2>
        {% endif %}
      </div>

      {# Date of Jury Service #}
      <dl class="govuk-summary-list govuk-body">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__key_jd" id="questionConfirmDate">
            {% if user.thirdParty == 'Yes' %}
              {{ texts.CHECK_ANSWERS_PAGE.OB_CONFIRM_DATE_PROMPT }}
            {% else %}
              {{ texts.CHECK_ANSWERS_PAGE.JUROR_CONFIRM_DATE_PROMPT }}
            {% endif %}
          </dt>
          <dd class="govuk-summary-list__value govuk-summary-list__value_jd" id="answerConfirmDate">
             {% if user.confirmedDate == 'Change' %}
                {% if user.thirdParty == 'Yes' %}
                  {{ texts.CHECK_ANSWERS_PAGE.OB_LATER_DATE_REQUEST }}
                {% else %}
                  {{ texts.CHECK_ANSWERS_PAGE.JUROR_LATER_DATE_REQUEST }}
                {% endif %}
              {% elseif user.confirmedDate == 'Yes' %}
                {% if user.thirdParty == 'Yes' %}
                  {{ texts.CHECK_ANSWERS_PAGE.OB_CONFIRM_DATE }}
                {% else %}
                  {{ texts.CHECK_ANSWERS_PAGE.JUROR_CONFIRM_DATE }}
                {% endif %}
              {% else %}
                {% if user.thirdParty == 'Yes' %}
                  {{ texts.CHECK_ANSWERS_PAGE.OB_EXCUSAL_REQUEST }}
                {% else %}
                  {{ texts.CHECK_ANSWERS_PAGE.JUROR_EXCUSAL_REQUEST }}
                {% endif %}
              {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__actions_jd">
            {% if user.thirdParty == 'Yes' %}
              <a class="govuk-link" href="{{ url('steps.confirm.date.change.tp.get') }}" id="changeConfirmDate" aria-describedby="questionConfirmDate">
                {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.OB_CONFIRM_DATE_READER }}</span>
              </a>
            {% else %}
              <a class="govuk-link" href="{{ url('steps.confirm.date.change.get') }}" id="changeConfirmDate" aria-describedby="questionConfirmDate">
                {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.JUROR_CONFIRM_DATE_READER }}</span>
              </a>
            {% endif %}
          </dd>
        </div>

      </dl>

      {# Change Date - Deferral #}
      {% if user.confirmedDate == 'Change' %}
        <br>

        <div class="govuk-body govuk-table__cell" >
          {% if user.thirdParty == 'Yes' %}
            <h2 class="govuk-heading-m">{{ texts.CHECK_ANSWERS_PAGE.OB_CHANGE_DATE_HEADER }}</h2>
          {% else %}
            <h2 class="govuk-heading-m">{{ texts.CHECK_ANSWERS_PAGE.JUROR_CHANGE_DATE_HEADER }}</h2>
          {% endif %}
        </div>

        <dl class="govuk-summary-list govuk-body">

          {# Deferral Reason #}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key_jd" id="questionDeferralReason">
              {% if user.thirdParty == 'Yes' %}
                {{ texts.CHECK_ANSWERS_PAGE.OB_CHANGE_DATE_QUESTION_1 }}
              {% else %}
                {{ texts.CHECK_ANSWERS_PAGE.JUROR_CHANGE_DATE_QUESTION_1 }}
              {% endif %}
            </dt>
            <dd class="govuk-summary-list__value govuk-summary-list__value_jd" id="answerDeferralReason">
              {{ user.deferral.reason }} 
            </dd>
            <dd class="govuk-summary-list__actions govuk-summary-list__actions_jd">
              {% if user.thirdParty == 'Yes' %}
                <a class="govuk-link" href="{{ url('steps.confirm.date.deferral.change.tp.get') }}" id="changeDeferral" aria-describedby="questionDeferralReason">
                  {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                  <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.OB_CHANGE_DATE_QUESTION_1_READER }}</span>
                </a>
              {% else %}
                <a class="govuk-link" href="{{ url('steps.confirm.date.deferral.change.get') }}" id="changeDeferral" aria-describedby="questionDeferralReason">
                  {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                  <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.JUROR_CHANGE_DATE_QUESTION_1_READER }}</span>
                </a>
              {% endif %}
            </dd>
          </div>

          {# Deferral Dates #}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key_jd" id="questionDeferralDates">
              {% if user.thirdParty == 'Yes' %}
                {{ texts.CHECK_ANSWERS_PAGE.OB_CHANGE_DATE_QUESTION_2 }}
              {% else %}
                {{ texts.CHECK_ANSWERS_PAGE.JUROR_CHANGE_DATE_QUESTION_2 }}
              {% endif %}
            </dt>
            <dd class="govuk-summary-list__value govuk-summary-list__value_jd" id="answerDeferralDates">

              {# Deferral dates summary list #}
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {{ texts.DEFERRAL_PAGE.DATES.DATE1_LABEL }}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ deferralDisplayDates['date1'] | translateDate('DD/MM/YYYY', 'dddd D MMMM YYYY', texts.INTERFACE.HTML_LANG) }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {{ texts.DEFERRAL_PAGE.DATES.DATE2_LABEL }}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ deferralDisplayDates['date2'] | translateDate('DD/MM/YYYY', 'dddd D MMMM YYYY', texts.INTERFACE.HTML_LANG) }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {{ texts.DEFERRAL_PAGE.DATES.DATE3_LABEL }}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ deferralDisplayDates['date3'] | translateDate('DD/MM/YYYY', 'dddd D MMMM YYYY', texts.INTERFACE.HTML_LANG) }}
                  </dd>
                </div>
              </dl>

            </dd>
            <dd class="govuk-summary-list__actions govuk-summary-list__actions_jd">
              {% if user.thirdParty == 'Yes' %}
                <a class="govuk-link" href="{{ url('steps.confirm.date.deferral-dates.change.tp.get') }}" id="changeDeferralDates" aria-describedby="questionDeferralDates">
                  {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                  <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.OB_CHANGE_DATE_QUESTION_2_READER }}</span>
                </a>
              {% else %}
                <a class="govuk-link" href="{{ url('steps.confirm.date.deferral-dates.change.get') }}" id="changeDeferralDates" aria-describedby="questionDeferralDates">
                  {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                  <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.JUROR_CHANGE_DATE_QUESTION_2_READER }}</span>
                </a>
              {% endif %}
            </dd>
          </div>

        </dl>

      {% endif %}

      {% if user.confirmedDate == 'No' %}
        <br>

        <div class="govuk-body govuk-table__cell" >
          {% if user.thirdParty == 'Yes' %}
            <h2 class="govuk-heading-m">{{ texts.CHECK_ANSWERS_PAGE.OB_EXCUSAL_HEADER }}</h2>
          {% else %}
            <h2 class="govuk-heading-m">{{ texts.CHECK_ANSWERS_PAGE.JUROR_EXCUSAL_HEADER }}</h2>
          {% endif %}
        </div>

        <dl class="govuk-summary-list govuk-body">

          {# Excusal Reason #}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key_jd" id="questionExcusalReason">
              {% if user.thirdParty == 'Yes' %}
                {{ texts.CHECK_ANSWERS_PAGE.OB_EXCUSAL_PROMPT }}
              {% else %}
                {{ texts.CHECK_ANSWERS_PAGE.JUROR_EXCUSAL_PROMPT }}
              {% endif %}
            </dt>
            <dd class="govuk-summary-list__value govuk-summary-list__value_jd" id="answerExcusalReason">
              {{ user.excusal.reason }}
            </dd>
            <dd class="govuk-summary-list__actions govuk-summary-list__actions_jd">
              {% if user.thirdParty == 'Yes' %}
                <a class="govuk-link" href="{{ url('steps.confirm.date.excusal.change.tp.get') }}" id="changeExcusalReason" aria-describedby="questionExcusalReason">
                  {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                  <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.OB_EXCUSAL_PROMPT_READER }}</span>
                </a>
              {% else %}
                <a class="govuk-link" href="{{ url('steps.confirm.date.excusal.change.get') }}" id="changeExcusalReason" aria-describedby="questionExcusalReason">
                  {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                  <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.JUROR_EXCUSAL_PROMPT_READER }}</span>
                </a>
              {% endif %}
            </dd>
          </div>

        </dl>

      {% endif %}

      <br>

      {# Assistance in Court (Reasonable Adustments) #}
      <div class="govuk-body govuk-table__cell" >
        {% if user.thirdParty == 'Yes' %}
          <h2 class="govuk-heading-m">{{ texts.CHECK_ANSWERS_PAGE.OB_ASSISTANCE_HEADER }}</h2>
        {% else %}
          <h2 class="govuk-heading-m">{{ texts.CHECK_ANSWERS_PAGE.JUROR_ASSISTANCE_HEADER }}</h2>
        {% endif %}
      </div>

      <dl class="govuk-summary-list govuk-body">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__key_jd" id="questionAdjustments">
            {% if user.thirdParty == 'Yes' %}
              {{ texts.CHECK_ANSWERS_PAGE.OB_ASSISTANCE_QUESTION_1 }}
            {% else %}
              {{ texts.CHECK_ANSWERS_PAGE.JUROR_ASSISTANCE_QUESTION_1 }}
            {% endif %}
          </dt>
          <dd class="govuk-summary-list__value govuk-summary-list__value_jd" id="answerAdjustments">
            {% if user.assistanceNeeded == 'Yes' %}
              {{ texts.CHECK_ANSWERS_PAGE.YES_ASSISTANCE }}<br>
              {{ user.assistanceTypeOutput}}

              <br><br>
              {% if user.assistanceTypeDetails %}
                <div id="assistanceTypeOther">{{ texts.CHECK_ANSWERS_PAGE.OTHER }}</br>{{ user.assistanceTypeDetails }}</div>
              {% endif %}

            {% else %}
              {{ texts.CHECK_ANSWERS_PAGE.NO_ASSISTANCE }}
            {% endif %}
            
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__actions_jd">
            {% if user.thirdParty == 'Yes' %}
              <a class="govuk-link" href="{{ url('steps.assistance.change.tp.get') }}" id="changeAdjustments" aria-describedby="questionAdjustments">
                {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.OB_ASSISTANCE_QUESTION_1_READER }}</span>
              </a>
            {% else %}
              <a class="govuk-link" href="{{ url('steps.assistance.change.get') }}" id="changeAdjustments" aria-describedby="questionAdjustments">
                {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.JUROR_ASSISTANCE_QUESTION_1_READER }}</span>
              </a>
            {% endif %}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__key_jd" id="questionSpecialArrangements">
            {% if user.thirdParty == 'Yes' %}
              {{ texts.CHECK_ANSWERS_PAGE.OB_ASSISTANCE_QUESTION_2 }}
            {% else %}
              {{ texts.CHECK_ANSWERS_PAGE.JUROR_ASSISTANCE_QUESTION_2 }}
            {% endif %}
          </dt>
          <dd class="govuk-summary-list__value govuk-summary-list__value_jd" id="answerSpecialArrangements">
            {% if user.assistanceSpecialArrangements and user.assistanceNeeded == 'Yes' %}
              <div id="assistanceSpecialArrangements">{{ user.assistanceSpecialArrangements }}</div>
            {% else %}
              &nbsp;
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions govuk-summary-list__actions_jd">
            {% if user.thirdParty == 'Yes' %}
              <a class="govuk-link" href="{{ url('steps.assistance.change.tp.get') }}" id="changeSpecialArrangements" aria-describedby="questionSpecialArrangements">
                {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.OB_ASSISTANCE_QUESTION_2_READER }}</span>
              </a>
            {% else %}
              <a class="govuk-link" href="{{ url('steps.assistance.change.get') }}" id="changeSpecialArrangements" aria-describedby="questionSpecialArrangements">
                {{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}
                <span class="govuk-visually-hidden">&nbsp;{{ texts.CHECK_ANSWERS_PAGE.JUROR_ASSISTANCE_QUESTION_2_READER }}</span>
              </a>
            {% endif %}
          </dd>
        </div>
      </dl>

      <br/><br/><br/>
    {% endif %}{#{% if user.ineligibleAge === false %}#}
    
    <form action="{{ url('steps.confirm.information.post') }}" method="post">

      <div class="govuk-form-group {% if errors.items['informationConfirmed'] %}govuk-form-group--error{% endif %}">

        <h2 class="govuk-heading-m">
          {{ texts.VALIDATION.CONFIRM_INFO.CONFIRM_CORRECT }}
        </h2>

        <br/>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__icon govuk-warning-text__assistive">{{ texts.CHECK_ANSWERS_PAGE.WARNING }}</span>
              {% if user.thirdParty == 'Yes' %}
                {{ texts.CHECK_ANSWERS_PAGE.OB_WARNING_TEXT }}
              {% else %}
                {{ texts.CHECK_ANSWERS_PAGE.WARNING_TEXT }}
              {% endif %}
          </strong>
        </div>

        {# Confirm panel #}
        <div class="{% if errors.items['informationConfirmed'] %} panel panel-border-narrow govuk-error {% endif %}" id="informationConfirmedGroup">
          {% if errors.items['informationConfirmed'] %}
          <span class="govuk-error-message">
            <span class="govuk-visually-hidden">{{texts.ERRORS.HIDDEN_ERROR}}: </span>
            {{ errors.items['informationConfirmed'][0].details }}
          </span>
          {% endif %}
          <div class="grey-background-box">
            
            <br style="clear:both">

            <fieldset class="govuk-fieldset">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input govuk-error" id="informationConfirmed" name="informationConfirmed" type="checkbox" value="true">
                  <label class="govuk-label govuk-checkboxes__label" for="informationConfirmed">
                    {% if user.thirdParty == 'Yes' %}
                      {{ texts.CHECK_ANSWERS_PAGE.OB_CONFIRM_TRUE }}
                      <p>{{ texts.CHECK_ANSWERS_PAGE.OB_UNDERSTAND_MUST_BE_TRUE }}</p>
                    {% else %}
                      {{ texts.CHECK_ANSWERS_PAGE.JUROR_CONFIRM_TRUE }}
                      <p>{{ texts.CHECK_ANSWERS_PAGE.JUROR_UNDERSTAND_MUST_BE_TRUE }}</p>
                    {% endif %}
                  </label>
                </div>
              </div>
            </fieldset>

          </div>
        </div>

      </div>

      {# Submit form #}
      {{ govukButton({
        text: texts.INTERFACE.BUTTON_TEXT_SUBMIT
      }) }}

      <input type="hidden" name="_csrf" value="{{ csrftoken }}">

    </form>

  </div>

</div>

{% endblock %}
