{% extends "../../layouts/default.njk" %}

{% block page_title %}
  {% include "../../includes/title-error.njk" %}
  {{ texts.CHECK_ANSWERS_PAGE.HEADING }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}Check Your Answers{% endblock %}

{% block content %}

<div class="grid-row">

  <div class="column-two-thirds">

    <h1 class="heading-xlarge">{{ texts.CHECK_ANSWERS_PAGE.HEADING }}</h1>

    {% include "../../includes/errors.njk" %}

    <p>
      {% if user.thirdParty == 'Yes' %}
      {{ texts.CHECK_ANSWERS_PAGE.OB_INFO }}
      {% else %}
      {{ texts.CHECK_ANSWERS_PAGE.JUROR_INFO }}
      {% endif %}
    </p>

    {% if user.ineligibleDeceased !== true %}
    <table caption="juror details" class="check-your-answers">
      <thead>
        <tr>
          <th colspan="3">
            {% if user.thirdParty == 'Yes' %}
            {{ texts.CHECK_ANSWERS_PAGE.DETAILS_HEADER_OB }}
            {% else %}
            {{ texts.CHECK_ANSWERS_PAGE.DETAILS_HEADER_NORMAL }}
            {% endif %}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="question" id="question-name">{{ texts.CHECK_ANSWERS_PAGE.NAME_LABEL }}</th>
          <td id="name">{{ user.nameRender }}</td>
          <td class="change-answer"><a href="{{ personalDetailsChangeNameLink }}" id="changeName" aria-describedby="question-name">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
        </tr>
        <tr>
          <th class="question" id="question-address">{{ texts.CHECK_ANSWERS_PAGE.ADDRESS_LABEL }}</th>
          <td id="address">{{ user.addressRender | replace("<br>", ", ") }}</td>
          <td class="change-answer"><a href="{{ personalDetailsChangeAddressLink }}" aria-describedby="question-address">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
        </tr>
        <tr>
          <th class="question" id="question-dob">{{ texts.CHECK_ANSWERS_PAGE.DOB_LABEL }}</th>
          <td id="dateOfBirth">{{ user.dobDay }} / {{ user.dobMonth }} / {{ user.dobYear }}</td>
          <td class="change-answer"><a href="{{ personalDetailsChangeDateOfBirthLink }}" aria-describedby="question-dob">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
        </tr>
        <tr>
          <th class="question" id="question-phoneprimary">{{ texts.CHECK_ANSWERS_PAGE.PHONE_LABEL }}</th>
          <td id="primaryPhone">{{ user.primaryPhone }}</td>
          <td class="change-answer"><a href="{{ contactDetailsChangePhoneLink }}" id="changePhone" aria-describedby="question-phoneprimary">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
        </tr>
        <tr>
          <th class="question" id="question-phonesecondary">{{ texts.CHECK_ANSWERS_PAGE.ALT_PHONE_LABEL }}</th>
          <td id="secondaryPhone">{{ user.secondaryPhone }}</td>
          <td class="change-answer"><a href="{{ contactDetailsChangePhoneLink }}" id="changeSecondaryPhone" aria-describedby="question-phonesecondary">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
        </tr>
        <tr>
          <th class="question" id="question-email">{{ texts.CHECK_ANSWERS_PAGE.EMAIL_LABEL }}</th>
          <td id="emailAddress">{{ user.emailAddress }}</td>
          <td class="change-answer"><a href="{{ contactDetailsChangeEmailLink }}" id="changeEmailAddress" aria-describedby="question-email">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
        </tr>
      </tbody>
    </table>
    {% endif %}

    {% if user.thirdParty == 'Yes' %}
    <br>
    <table caption="juror details" class="check-your-answers">
      <thead>
        <tr>
          <th colspan="3">{{ texts.CHECK_ANSWERS_PAGE.OB_HEADING }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="question" id="question-obname">{{ texts.CHECK_ANSWERS_PAGE.OB_NAME_LABEL }}</th>
          <td id="thirdPartyName">{{ user.thirdPartyDetails.nameRender }}</td>
          <td class="change-answer"><a href="{{ url('branches.third.party.details.change.name.get') }}" id="changeThirdPartyName" aria-describedby="question-obname">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
        </tr>

        <tr>
          <th class="question" id="question-obrelationship">{{ texts.CHECK_ANSWERS_PAGE.OB_RELATIONSHIP_LABEL }}</th>
          <td id="thirdPartyRelationship">{{ user.thirdPartyDetails.relationship }}</td>
          <td class="change-answer"><a href="{{ url('branches.third.party.details.change.relationship.get') }}" id="changeThirdPartyRelationship" aria-describedby="question-obrelationship">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
        </tr>

        <tr>
          <th class="question" id="question-obphoneprimary">{{ texts.CHECK_ANSWERS_PAGE.OB_MAIN_PHONE_LABEL }}</th>
          <td id="thirdPartyMainPhone">{{ user.thirdPartyDetails.mainPhone }}</td>
          <td class="change-answer"><a href="{{ url('branches.third.party.details.change.contact.get') }}" id="changeThirdPartyMainPhone" aria-describedby="question-obphoneprimary">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
        </tr>

        <tr>
          <th class="question" id="question-obphonesecondary">{{ texts.CHECK_ANSWERS_PAGE.OB_OTHER_PHONE_LABEL }}</th>
          <td id="thirdPartyOtherPhone">{{ user.thirdPartyDetails.otherPhone }}</td>
          <td class="change-answer"><a href="{{ url('branches.third.party.details.change.contact.get') }}" id="changeThirdPartyOtherPhone" aria-describedby="question-obphonesecondary">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
        </tr>

        <tr>
          <th class="question" id="question-obemail">{{ texts.CHECK_ANSWERS_PAGE.OB_EMAIL_ADDRESS_LABEL }}</th>
          <td id="thirdPartyEmailAddress">{{ user.thirdPartyDetails.emailAddress }}</td>
          <td class="change-answer"><a href="{{ url('branches.third.party.details.change.contact.get') }}" id="changeThirdPartyEmailAddress" aria-describedby="question-obemail">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
        </tr>

        <tr>
          <td colspan="2">
            <p class="question question--full" id="question-obreason">{{ texts.CHECK_ANSWERS_PAGE.OB_WHY_QUESTION }}</p>
            <p id="thirdPartyReason">{{ user.thirdPartyDetails.reasonText }}</p>
          </td>
          <td class="change-answer"><a href="{{ url('branches.third.party.reason.change.get') }}" id="changeReason" aria-describedby="question-obreason">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
        </tr>
      </tbody>
    </table>

    {% endif %}

    <br><br>
    {% if user.ineligibleAge === false and user.ineligibleDeceased !== true %}
      <table class="check-your-answers" id="qualifyAnswersTable">
        <thead>
          <tr>
            <th colspan="2">
              {% if user.thirdParty == 'Yes' %}
              {{ texts.CHECK_ANSWERS_PAGE.OB_QUALIFY_QUESTION }}
              {% else %}
              {{ texts.CHECK_ANSWERS_PAGE.JUROR_QUALIFY_QUESTION }}
              {% endif %}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="question question--full" id="question-livedconsecutive">
                {% if user.thirdParty == 'Yes' %}
                {{ texts.CHECK_ANSWERS_PAGE.OB_QUALIFY_QUESTION_LIVED_CONSECUTIVE }}
                {% else %}
                {{ texts.CHECK_ANSWERS_PAGE.JUROR_QUALIFY_QUESTION_LIVED_CONSECUTIVE }}
                {% endif %}
              </p>
              <p>
                {% if user.qualify.livedConsecutive.details.length > 0 and user.qualify.livedConsecutive.answer == texts.QUALIFY_PAGE.NO %}
                  {% if user.thirdParty == 'Yes' %}
                    <pre>{{ texts.QUALIFY_PAGE.RESIDENCY_NO_OB }} - {{ user.qualify.livedConsecutive.details }}</pre>
                  {% else %}
                    <pre>{{ texts.QUALIFY_PAGE.RESIDENCY_NO }} - {{ user.qualify.livedConsecutive.details }}</pre>
                  {% endif %}
                {% else %}
                  {% if user.thirdParty == 'Yes' %}
                    {{ texts.QUALIFY_PAGE.RESIDENCY_YES_OB }}
                  {% else %}
                    {{ texts.QUALIFY_PAGE.RESIDENCY_YES }}
                  {% endif %}
                {% endif %}
              </p>
            </td>
            {% if user.thirdParty == 'Yes' %}
              <td class="change-answer"><a href="{{ url('steps.qualify.residency.change.tp.get') }}" id="changeQualify" aria-describedby="question-livedconsecutive">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% else %}
              <td class="change-answer"><a href="{{ url('steps.qualify.residency.change.get') }}" id="changeQualify" aria-describedby="question-livedconsecutive">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% endif %}

          </tr>
          <tr>
            <td>
              <p class="question question--full" id="question-mentalhealth-sectioned">
                {% if user.thirdParty == 'Yes' %}
                {{ texts.CHECK_ANSWERS_PAGE.OB_QUALIFY_QUESTION_MENTAL_HEALTH_SECTIONED }}
                {% else %}
                {{ texts.CHECK_ANSWERS_PAGE.JUROR_QUALIFY_QUESTION_MENTAL_HEALTH_SECTIONED }}
                {% endif %}
              </p>
              <p>
                {% if user.qualify.mentalHealthSectioned.details.length > 0 and user.qualify.mentalHealthSectioned.answer == texts.QUALIFY_PAGE.YES %}
                  {% if user.thirdParty == 'Yes' %}
                    <pre id="mentalHealthAnswer">{{ texts.QUALIFY_PAGE.MENTAL_HEALTH_YES_OB }} - {{ user.qualify.mentalHealthSectioned.details }}</pre>
                  {% else %}
                    <pre id="mentalHealthAnswer">{{ texts.QUALIFY_PAGE.MENTAL_HEALTH_YES }} - {{ user.qualify.mentalHealthSectioned.details }}</pre>
                  {% endif %}
                {% else %}
                  {% if user.thirdParty == 'Yes' %}
                    <span id="mentalHealthAnswer">{{ texts.QUALIFY_PAGE.MENTAL_HEALTH_NO_OB }}</span>
                  {% else %}
                    <span id="mentalHealthAnswer">{{ texts.QUALIFY_PAGE.MENTAL_HEALTH_NO }}</span>
                  {% endif %}
                {% endif %}
              </p>
            </td>
            {% if user.thirdParty == 'Yes' %}
              <td class="change-answer"><a href="{{ url('steps.qualify.mental.health.sectioned.change.tp.get') }}" aria-describedby="question-mentalhealth">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% else %}
              <td class="change-answer"><a href="{{ url('steps.qualify.mental.health.sectioned.change.get') }}" aria-describedby="question-mentalhealth">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% endif %}
          </tr>

          <tr>
            <td>
              <p class="question question--full" id="question-mentalhealth-capacity">
                {% if user.thirdParty == 'Yes' %}
                {{ texts.CHECK_ANSWERS_PAGE.OB_QUALIFY_QUESTION_MENTAL_HEALTH_CAPACITY }}
                {% else %}
                {{ texts.CHECK_ANSWERS_PAGE.JUROR_QUALIFY_QUESTION_MENTAL_HEALTH_CAPACITY }}
                {% endif %}
              </p>
              <p>
                {% if user.qualify.mentalHealthCapacity.details.length > 0 and user.qualify.mentalHealthCapacity.answer == texts.QUALIFY_PAGE.YES %}
                  {% if user.thirdParty == 'Yes' %}
                    <pre id="mentalHealthAnswer">{{ texts.QUALIFY_PAGE.MENTAL_HEALTH_CAPACITY_YES_OB }} - {{ user.qualify.mentalHealthCapacity.details }}</pre>
                  {% else %}
                    <pre id="mentalHealthAnswer">{{ texts.QUALIFY_PAGE.MENTAL_HEALTH_CAPACITY_YES }} - {{ user.qualify.mentalHealthCapacity.details }}</pre>
                  {% endif %}
                {% else %}
                  {% if user.thirdParty == 'Yes' %}
                    <span id="mentalHealthAnswer">{{ texts.QUALIFY_PAGE.MENTAL_HEALTH_CAPACITY_NO_OB }}</span>
                  {% else %}
                    <span id="mentalHealthAnswer">{{ texts.QUALIFY_PAGE.MENTAL_HEALTH_CAPACITY_NO }}</span>
                  {% endif %}
                {% endif %}
              </p>
            </td>
            {% if user.thirdParty == 'Yes' %}
              <td class="change-answer"><a href="{{ url('steps.qualify.mental.health.capacity.change.tp.get') }}" aria-describedby="question-mentalhealth">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% else %}
              <td class="change-answer"><a href="{{ url('steps.qualify.mental.health.capacity.change.get') }}" aria-describedby="question-mentalhealth">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% endif %}
          </tr>

          <tr>
            <td>
              <p class="question question--full" id="question-bail">
                {% if user.thirdParty == 'Yes' %}
                {{ texts.CHECK_ANSWERS_PAGE.OB_QUALIFY_QUESTION_BAIL }}
                {% else %}
                {{ texts.CHECK_ANSWERS_PAGE.JUROR_QUALIFY_QUESTION_BAIL }}
                {% endif %}
              </p>
              <p>
              {% if user.qualify.onBail.details.length > 0 and user.qualify.onBail.answer == texts.QUALIFY_PAGE.YES %}
                {% if user.thirdParty == 'Yes' %}
                  <pre id="onBailAnswer">{{ texts.QUALIFY_PAGE.BAIL_YES_OB }} - {{ user.qualify.onBail.details }}</pre>
                {% else %}
                  <pre id="onBailAnswer">{{ texts.QUALIFY_PAGE.BAIL_YES }} - {{ user.qualify.onBail.details }}</pre>
                {% endif %}
              {% else %}
                {% if user.thirdParty == 'Yes' %}
                  <span id="onBailAnswer">{{ texts.QUALIFY_PAGE.BAIL_NO_OB }}</span>
                {% else %}
                  <span id="onBailAnswer">{{ texts.QUALIFY_PAGE.BAIL_NO }}</span>
                {% endif %}
              {% endif %}
              </p>
            </td>
            {% if user.thirdParty == 'Yes' %}
              <td class="change-answer"><a href="{{ url('steps.qualify.bail.change.tp.get') }}" aria-describedby="question-bail">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% else %}
              <td class="change-answer"><a href="{{ url('steps.qualify.bail.change.get') }}" aria-describedby="question-bail">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% endif %}
          </tr>
          <tr>
            <td>
              <p class="question question--full" id="question-conviction">
                {% if user.thirdParty == 'Yes' %}
                {{ texts.CHECK_ANSWERS_PAGE.OB_QUALIFY_QUESTION_CONVICTED }}
                {% else %}
                {{ texts.CHECK_ANSWERS_PAGE.JUROR_QUALIFY_QUESTION_CONVICTED }}
                {% endif %}
              </p>
              <p>
                {% if user.qualify.convicted.details.length > 0 and user.qualify.convicted.answer == texts.QUALIFY_PAGE.YES %}
                  {% if user.thirdParty == 'Yes' %}
                    <pre id="convictionAnswer">{{ texts.QUALIFY_PAGE.CONVICTIONS_YES_OB}} - {{ user.qualify.convicted.details }}</pre>
                  {% else %}
                    <pre id="convictionAnswer">{{ texts.QUALIFY_PAGE.CONVICTIONS_YES}} - {{ user.qualify.convicted.details }}</pre>
                  {% endif %}
                {% else %}
                  {% if user.thirdParty == 'Yes' %}
                    <span id="convictionAnswer">{{ texts.QUALIFY_PAGE.CONVICTIONS_NO_OB }}</span>
                  {% else %}
                    <span id="convictionAnswer">{{ texts.QUALIFY_PAGE.CONVICTIONS_NO }}</span>
                  {% endif %}
                {% endif %}
              </p>
            </td>
            {% if user.thirdParty == 'Yes' %}
              <td class="change-answer"><a href="{{ url('steps.qualify.convictions.change.tp.get') }}" aria-describedby="question-conviction">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% else %}
              <td class="change-answer"><a href="{{ url('steps.qualify.convictions.change.get') }}" aria-describedby="question-conviction">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% endif %}
          </tr>
        </tbody>
      </table>


      <br><br>
      <table class="check-your-answers" id="confirmDateTable">
        <thead>
          <tr>
            <th colspan="2">
              {% if user.thirdParty == 'Yes' %}
              {{ texts.CHECK_ANSWERS_PAGE.OB_CONFIRM_DATE_HEADER }}
              {% else %}
              {{ texts.CHECK_ANSWERS_PAGE.JUROR_CONFIRM_DATE_HEADER }}
              {% endif %}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="question question--full" id="question-confirmdate">
                {% if user.thirdParty == 'Yes' %}
                {{ texts.CHECK_ANSWERS_PAGE.OB_CONFIRM_DATE_PROMPT }}
                {% else %}
                {{ texts.CHECK_ANSWERS_PAGE.JUROR_CONFIRM_DATE_PROMPT }}
                {% endif %}
              </p>
              <p>
                {% if user.confirmedDate == 'Change' %}
                  {% if user.thirdParty == 'Yes' %}
                  {{ texts.CHECK_ANSWERS_PAGE.OB_LATER_DATE_REQUEST }}
                  {% else %}
                  {{ texts.CHECK_ANSWERS_PAGE.JUROR_LATER_DATE_REQUEST }}
                  {% endif %}
                {% elseif user.confirmedDate == 'Yes' %}
                  {% if user.thirdParty == 'Yes' %}
                  {{ texts.CHECK_ANSWERS_PAGE.OB_CONFIRM_DATE }}
                  {% else %}
                  {{ texts.CHECK_ANSWERS_PAGE.JUROR_CONFIRM_DATE }}
                  {% endif %}
                {% else %}
                  {% if user.thirdParty == 'Yes' %}
                  {{ texts.CHECK_ANSWERS_PAGE.OB_EXCUSAL_REQUEST }}
                  {% else %}
                  {{ texts.CHECK_ANSWERS_PAGE.JUROR_EXCUSAL_REQUEST }}
                  {% endif %}
                {% endif %}
              </p>
            </td>
            {% if user.thirdParty == 'Yes' %}
              <td class="change-answer"><a href="{{ url('steps.confirm.date.change.tp.get') }}" id="changeConfirmDate" aria-describedby="question-confirmdate">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% else %}
              <td class="change-answer"><a href="{{ url('steps.confirm.date.change.get') }}" id="changeConfirmDate" aria-describedby="question-confirmdate">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% endif %}
          </tr>
        </tbody>
      </table>


      {% if user.confirmedDate == 'Change' %}
      <br><br>

      <table class="check-your-answers" id="deferralTable">
        <thead>
          <tr>
            <th colspan="2">
              {% if user.thirdParty == 'Yes' %}
              {{ texts.CHECK_ANSWERS_PAGE.OB_CHANGE_DATE_HEADER }}
              {% else %}
              {{ texts.CHECK_ANSWERS_PAGE.JUROR_CHANGE_DATE_HEADER }}
              {% endif %}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="question question--full" id="question-changedate-reason">
                {% if user.thirdParty == 'Yes' %}
                {{ texts.CHECK_ANSWERS_PAGE.OB_CHANGE_DATE_QUESTION_1 }}
                {% else %}
                {{ texts.CHECK_ANSWERS_PAGE.JUROR_CHANGE_DATE_QUESTION_1 }}
                {% endif %}
              </p>
              <pre>{{ user.deferral.reason }}</pre>
            </td>
            {% if user.thirdParty == 'Yes' %}
              <td class="change-answer"><a href="{{ url('steps.confirm.date.deferral.change.tp.get') }}" id="changeDeferral" aria-describedby="question-changedate-reason">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% else %}
              <td class="change-answer"><a href="{{ url('steps.confirm.date.deferral.change.get') }}" id="changeDeferral" aria-describedby="question-changedate-reason">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% endif %}
          </tr>
          <tr>
            <td>
              <p class="question question--full" id="question-changedate-dates">
                {% if user.thirdParty == 'Yes' %}
                {{ texts.CHECK_ANSWERS_PAGE.OB_CHANGE_DATE_QUESTION_2 }}
                {% else %}
                {{ texts.CHECK_ANSWERS_PAGE.JUROR_CHANGE_DATE_QUESTION_2 }}
                {% endif %}
              </p>
              <pre>{{ user.deferral.dates }}</pre>
            </td>
            {% if user.thirdParty == 'Yes' %}
              <td class="change-answer"><a href="{{ url('steps.confirm.date.deferral-dates.change.tp.get') }}" aria-describedby="question-changedate-dates">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% else %}
              <td class="change-answer"><a href="{{ url('steps.confirm.date.deferral-dates.change.get') }}" aria-describedby="question-changedate-dates">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% endif %}
          </tr>
        </tbody>
      </table>
      {% endif %}


      {% if user.confirmedDate == 'No' %}
      <br><br>

      <table class="check-your-answers" id="excusalTable">
        <thead>
          <tr>
            <th colspan="2">
              {% if user.thirdParty == 'Yes' %}
              {{ texts.CHECK_ANSWERS_PAGE.OB_EXCUSAL_HEADER }}
              {% else %}
              {{ texts.CHECK_ANSWERS_PAGE.JUROR_EXCUSAL_HEADER }}
              {% endif %}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="question question--full" id="question-excusal">
                {% if user.thirdParty == 'Yes' %}
                {{ texts.CHECK_ANSWERS_PAGE.OB_EXCUSAL_PROMPT }}
                {% else %}
                {{ texts.CHECK_ANSWERS_PAGE.JUROR_EXCUSAL_PROMPT }}
                {% endif %}
              </p>
              <pre>{{ user.excusal.reason }}</pre>
            </td>
            {% if user.thirdParty == 'Yes' %}
              <td class="change-answer"><a href="{{ url('steps.confirm.date.excusal.change.tp.get') }}" id="changeExcusalReason" aria-describedby="question-excusal">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% else %}
              <td class="change-answer"><a href="{{ url('steps.confirm.date.excusal.change.get') }}" id="changeExcusalReason" aria-describedby="question-excusal">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% endif %}
          </tr>
        </tbody>
      </table>
      {% endif %}

      <br><br>

      <table class="check-your-answers" id="cjsEmployedTable">
        <thead>
          <tr>
            <th colspan="2">
              {% if user.thirdParty == 'Yes' %}
              {{ texts.CHECK_ANSWERS_PAGE.OB_EMPLOYED_HEADER }}
              {% else %}
              {{ texts.CHECK_ANSWERS_PAGE.JUROR_EMPLOYED_HEADER }}
              {% endif %}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="question question--full" id="question-cjsemployed">
                {% if user.thirdParty == 'Yes' %}
                {{ texts.CHECK_ANSWERS_PAGE.OB_EMPLOYED_QUESTION }}
                {% else %}
                {{ texts.CHECK_ANSWERS_PAGE.JUROR_EMPLOYED_QUESTION }}
                {% endif %}
              </p>
              <p>
                {% if (user.cjsEmployed == texts.CHECK_ANSWERS_PAGE.EMPLOYED_YES) or (user.cjsEmployed == texts.CHECK_ANSWERS_PAGE.OB_EMPLOYED_YES) %}
                  
                  {% if user.thirdParty == 'Yes' %}
                    {{ texts.CHECK_ANSWERS_PAGE.OB_EMPLOYED_YES }}
                  {% else %}
                    {{ texts.CHECK_ANSWERS_PAGE.EMPLOYED_YES }}
                  {% endif %}
                  
                  {% if user.cjsPolice %}
                    <pre>{{ texts.CHECK_ANSWERS_PAGE.POLICE }}<br>{{ user.cjsPoliceDetails }}</pre>
                  {% endif %}
                  {% if user.cjsPrison %}
                    <br>
                    <pre>{{ texts.CHECK_ANSWERS_PAGE.PRISON_SERVICE }}<br>{{ user.cjsPrisonDetails }}</pre>
                  {% endif %}
                  {% if user.cjsNca %}
                    <br>
                    <pre>{{ texts.CHECK_ANSWERS_PAGE.NCA }}</pre>
                  {% endif %}
                  {% for employer in user.cjsEmployer %}
                    {% if employer === 'Other' %}
                      <br>
                      <pre>{{ texts.CHECK_ANSWERS_PAGE.OTHER }}<br>{{ user.cjsEmployerDetails }}</pre>
                    {% endif %}
                  {% endfor %}
                  {% if user.cjsEmployer === 'Other' %}
                    <br>
                    <pre>{{ texts.CHECK_ANSWERS_PAGE.OTHER }}<br>{{ user.cjsEmployerDetails }}</pre>
                  {% endif %}
                {% else %}
                  {% if user.thirdParty == 'Yes' %}
                    {{ texts.CHECK_ANSWERS_PAGE.OB_EMPLOYED_NO }}
                  {% else %}
                    {{ texts.CHECK_ANSWERS_PAGE.EMPLOYED_NO }}
                  {% endif %}
                {% endif %}
              </p>
            </td>
            {% if user.thirdParty == 'Yes' %}
              <td class="change-answer"><a href="{{ url('steps.cjs.employed.change.tp.get') }}" id="changeCJS" aria-describedby="question-cjsemployed">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% else %}
              <td class="change-answer"><a href="{{ url('steps.cjs.employed.change.get') }}" id="changeCJS" aria-describedby="question-cjsemployed">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% endif %}
          </tr>
        </tbody>
      </table>

      <br><br>

      <table class="check-your-answers" id="reasonableAdjustmentsTable">
        <thead>
          <tr>
            <th colspan="2">
              {% if user.thirdParty == 'Yes' %}
              {{ texts.CHECK_ANSWERS_PAGE.OB_ASSISTANCE_HEADER }}
              {% else %}
              {{ texts.CHECK_ANSWERS_PAGE.JUROR_ASSISTANCE_HEADER }}
              {% endif %}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="otherDetails">
              <p class="question question--full" id="question-assistance1">
                {% if user.thirdParty == 'Yes' %}
                {{ texts.CHECK_ANSWERS_PAGE.OB_ASSISTANCE_QUESTION_1 }}
                {% else %}
                {{ texts.CHECK_ANSWERS_PAGE.JUROR_ASSISTANCE_QUESTION_1 }}
                {% endif %}
              </p>
              <p>
                {% if user.assistanceNeeded == 'Yes' %}
                {{ texts.CHECK_ANSWERS_PAGE.YES_ASSISTANCE }}
                <pre>{{ user.assistanceTypeOutput}}</pre>
                {% else %}
                {{ texts.CHECK_ANSWERS_PAGE.NO_ASSISTANCE }}
                {% endif %}
              </p>
              <p>
                {% if user.assistanceTypeDetails %}
                <pre id="assistanceTypeOther">{{ texts.CHECK_ANSWERS_PAGE.OTHER }}</br>{{ user.assistanceTypeDetails }}</pre>
                {% endif %}
              </p>
            </td>
            {% if user.thirdParty == 'Yes' %}
              <td class="change-answer"><a href="{{ url('steps.assistance.change.tp.get') }}" id="changeAdjustments" aria-describedby="question-assistance1">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% else %}
              <td class="change-answer"><a href="{{ url('steps.assistance.change.get') }}" id="changeAdjustments" aria-describedby="question-assistance1">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% endif %}
          </tr>

          <tr class="{% if user.assistanceNeeded == 'Yes' %}{% else %}js-hidden{% endif %}">
            <td>
              <p class="question question--full" id="question-assistance2">
                {% if user.thirdParty == 'Yes' %}
                {{ texts.CHECK_ANSWERS_PAGE.OB_ASSISTANCE_QUESTION_2 }}
                {% else %}
                {{ texts.CHECK_ANSWERS_PAGE.JUROR_ASSISTANCE_QUESTION_2 }}
                {% endif %}
              </p>
                {% if user.assistanceSpecialArrangements and user.assistanceNeeded == 'Yes' %}
                <pre id="assistanceSpecialArrangements">{{ user.assistanceSpecialArrangements }}</pre>
                {% else %}
                &nbsp;
                {% endif %}
            </td>
            {% if user.thirdParty == 'Yes' %}
              <td class="change-answer"><a href="{{ url('steps.assistance.change.tp.get') }}" aria-describedby="question-assistance2">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% else %}
              <td class="change-answer"><a href="{{ url('steps.assistance.change.get') }}" aria-describedby="question-assistance2">{{ texts.CHECK_ANSWERS_PAGE.CHANGE_LINK }}</a></td>
            {% endif %}
          </tr>
        </tbody>
      </table>

      <br/><br/><br/>
    {% endif %}{#{% if user.ineligibleAge === false %}#}



    <form action="{{ url('steps.confirm.information.post') }}" method="post">

      <h2>{{ texts.VALIDATION.CONFIRM_INFO.CONFIRM_CORRECT }}</h2>

      <br/>

      <div class="notice">
        <i class="icon icon-important">
          <span class="visuallyhidden">{{ texts.CHECK_ANSWERS_PAGE.WARNING }}</span>
        </i>
        <strong class="bold-small">
          {{ texts.CHECK_ANSWERS_PAGE.WARNING_TEXT_1 }}
        </strong>
      </div>

      <div class="notice">
        <ul class="list list-bullet">
          {% if user.thirdParty == 'Yes' %}
          <li><strong class="bold-small">{{ texts.CHECK_ANSWERS_PAGE.OB_WARNING_TEXT_2 }}</strong></li>
          <li><strong class="bold-small">{{ texts.CHECK_ANSWERS_PAGE.OB_WARNING_TEXT_3 }}</strong></li>
          {% else %}
          <li><strong class="bold-small">{{ texts.CHECK_ANSWERS_PAGE.JUROR_WARNING_TEXT_2 }}</strong></li>
          <li><strong class="bold-small">{{ texts.CHECK_ANSWERS_PAGE.JUROR_WARNING_TEXT_3 }}</strong></li>
          {% endif %}
        </ul>
      </div>

      <div class="{% if errors.items['informationConfirmed'] %} panel panel-border-narrow error {% endif %}" id="informationConfirmedGroup">
    {% if errors.items['informationConfirmed'] %}<span class="error-message">{{ errors.items['informationConfirmed'][0].details }}</span>{% endif %}
        <div class="form-group {% if errors.items['informationConfirmed'] %} pink-background-box {% else %} grey-background-box {% endif %}">
          <br style="clear:both">
          <label class="block-label selection-button-checkbox toggle-reset" for="informationConfirmed">
            <input name="informationConfirmed" id="informationConfirmed" type="checkbox" value="true">

            {% if user.thirdParty == 'Yes' %}
            {{ texts.CHECK_ANSWERS_PAGE.OB_CONFIRM_TRUE }}
            {% else %}
            {{ texts.CHECK_ANSWERS_PAGE.JUROR_CONFIRM_TRUE }}
            {% endif %}

            <p>
            {% if user.thirdParty == 'Yes' %}
            {{ texts.CHECK_ANSWERS_PAGE.OB_UNDERSTAND_MUST_BE_TRUE }}
            {% else %}
            {{ texts.CHECK_ANSWERS_PAGE.JUROR_UNDERSTAND_MUST_BE_TRUE }}
            {% endif %}
            </p>

          </label>
          
          <br style="clear:both">
        </div>
      </div>


      {# Submit form #}
      <div class="form-group">
        <input type="hidden" name="_csrf" value="{{ csrftoken }}">
        <input class="button" type="submit" value="{{ texts.INTERFACE.BUTTON_TEXT_SUBMIT }}">
      </div>
    </form>

  </div>

</div>

{% endblock %}
