{% extends "../../layouts/default-gds.njk" %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./deferral-date-macro.njk" import deferralDate %}

{% block pageTitle %}
  {% include "../../includes/title-error.njk" %}
  {% if user.thirdParty == 'Yes' %}
    {{ texts.DEFERRAL_PAGE.DATES.HEADING_OB }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
  {% else %}
    {{ texts.DEFERRAL_PAGE.DATES.HEADING }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
  {% endif %}
{% endblock %}

{% block page_identifier %}Deferral Dates{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../includes/back-link-gds.njk" %}
{% endblock %}

{% block content %}

<input type="hidden" name="_lang" id="_lang" value="{{ ulang }}">

  {% include "../../includes/errors-gds.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <form action="{{ url('steps.confirm.date.deferral-dates.post') }}" method="post" {% if not IS_PRODUCTION %}novalidate{% endif %}>
      
      {# {% if errors.items['dates'] or errors.items['date1'] or errors.items['date1Error'] or errors.items['date2'] or errors.items['date2Error'] or errors.items['date3'] or errors.items['date3Error']%}govuk-form-group--error{% endif %} #}
      <div class="govuk-form-group ">
        
        <h1 class="govuk-heading-l">
          {% if user.thirdParty == 'Yes' %}
            {{- texts.DEFERRAL_PAGE.DATES.HEADING_OB -}}
          {% else %}
            {{- texts.DEFERRAL_PAGE.DATES.HEADING -}}
          {% endif %}
        </h1>

        <p class="govuk-body">{{ texts.DEFERRAL_PAGE.DATES.GUIDANCE_P1 }} {{deferralDateRange.earliestDateShort | translateDate("D MM YYYY", "D MMMM YYYY", texts.INTERFACE.HTML_LANG)}} {{ texts.DEFERRAL_PAGE.DATES.GUIDANCE_AND }} {{deferralDateRange.latestDateShort | translateDate("D MM YYYY", "D MMMM YYYY", texts.INTERFACE.HTML_LANG)}}</p>

        <p class="govuk-body">
          {% if user.thirdParty == 'Yes' %}
            {{ texts.DEFERRAL_PAGE.DATES.GUIDANCE_P2_OB }}
          {% else %}
            {{ texts.DEFERRAL_PAGE.DATES.GUIDANCE_P2 }}
          {% endif %}
        </p>
      
        <div class="{% if errors.items['dates'] %}govuk-error{% endif %}" id="datesGroup">

          {% set dateError1 = undefined %}
          {% if errors.items['date1'] %}
            {% set dateError1 = errors.items['date1'][0].summary %}
          {% endif %}

          {% set dateError2 = undefined %}
          {% if errors.items['date2'] %}
            {% set dateError2 = errors.items['date2'][0].summary %}
          {% endif %}

          {% set dateError3 = undefined %}
          {% if errors.items['date3'] %}
            {% set dateError3 = errors.items['date3'][0].summary %}
          {% endif %}

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full deferral-datepicker">
              {{ deferralDate({
                id: "firstChoice",
                heading: texts.DEFERRAL_PAGE.DATES.DATE1_LABEL,
                hint: texts.DEFERRAL_PAGE.DATES.DATE_EXAMPLE_HINT + deferralDateRange.earliestDateShort,
                buttonAlt: texts.DEFERRAL_PAGE.DATEPICKER_ALT_1,
                texts: texts.DEFERRAL_PAGE,
                datepickerId: "datepicker1",
                dateFieldId: "date1",
                dateFieldDefault: datepickerDefaults['date1'],
                buttonId: "btn_date1",
                buttonClasses: "ga-defer-datepicker-1",
                dayValue: user.date1Day,
                monthValue: user.date1Month,
                yearValue: user.date1Year,
                dateError: dateError1
              }) }}
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full deferral-datepicker">
              {{ deferralDate({
                id: "secondChoice",
                heading: texts.DEFERRAL_PAGE.DATES.DATE2_LABEL,
                hint: texts.DEFERRAL_PAGE.DATES.DATE_EXAMPLE_HINT + deferralDateRange.earliestDateShort,
                buttonAlt: texts.DEFERRAL_PAGE.DATEPICKER_ALT_2,
                texts: texts.DEFERRAL_PAGE,
                datepickerId: "datepicker2",
                dateFieldId: "date2",
                dateFieldDefault: datepickerDefaults['date2'],
                buttonId: "btn_date2",
                buttonClasses: "ga-defer-datepicker-2",
                dayValue: user.date2Day,
                monthValue: user.date2Month,
                yearValue: user.date2Year,
                dateError: dateError2
              }) }}
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full deferral-datepicker">
              {{ deferralDate({
                id: "thirdChoice",
                heading: texts.DEFERRAL_PAGE.DATES.DATE3_LABEL,
                hint: texts.DEFERRAL_PAGE.DATES.DATE_EXAMPLE_HINT + deferralDateRange.earliestDateShort,
                buttonAlt: texts.DEFERRAL_PAGE.DATEPICKER_ALT_3,
                texts: texts.DEFERRAL_PAGE,
                datepickerId: "datepicker3",
                dateFieldId: "date3",
                dateFieldDefault: datepickerDefaults['date3'],
                buttonId: "btn_date3",
                buttonClasses: "ga-defer-datepicker-3",
                dayValue: user.date3Day,
                monthValue: user.date3Month,
                yearValue: user.date3Year,
                dateError: dateError3
              }) }}
            </div>
          </div>

        </div>

      </div>

      {# guidance details sections #}
      {% include "./defer-guidance-1.njk" %}

      {% include "./defer-guidance-2.njk" %}

      {# Submit form #}
      {{ govukButton({
          text: texts.INTERFACE.BUTTON_TEXT_CONTINUE
      }) }}

      
      <input type="hidden" name="_csrf" value="{{ csrftoken }}">

    </form>

  </div>
</div>


{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  {#<script src="{{ assetPath }}js/govuk-template.js?0.17.3"></script>#}
  <script src="{{ assetPath }}js/datepicker.js"></script>
  
  <script type="text/javascript">
    $(document).ready(function(){
      var dp1 = new calendar.datepicker('datepicker1', 'date1', true);
      var dp2 = new calendar.datepicker('datepicker2', 'date2', true);
      var dp3 = new calendar.datepicker('datepicker3', 'date3', true);

      $('#btn_date1').removeClass('noscript').click(function(e) {
        dp1.showDlg();
        e.stopPropagation();
        return false;
      });

      $('#btn_date2').removeClass('noscript').click(function(e) {
        dp2.showDlg();
        e.stopPropagation();
        return false;
      });

      $('#btn_date3').removeClass('noscript').click(function(e) {
        dp3.showDlg();
        e.stopPropagation();
        return false;
      });

      // close date pickers on click outside
      $('#datesGroup').click(function(e){
        //Check for click in the container div and hide the date-picker dialogs
        $(document).unbind('click mousedown mouseup mousemove mouseover');
        $('#datepicker1').attr('aria-hidden', 'true');
        $('#datepicker2').attr('aria-hidden', 'true');
        $('#datepicker3').attr('aria-hidden', 'true');
      });

    });

  </script>
{% endblock %}
