{% extends "../../layouts/default-gds.njk" %}

{% from "../../govuk-frontend/components/details/macro.njk" import govukDetails %}
{% from "../../govuk-frontend/components/textarea/macro.njk" import govukTextarea %}
{% from "../../govuk-frontend/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% include "../../includes/title-error.njk" %}
  {% if user.thirdParty == 'Yes' %}
    {{ texts.EXCUSAL_PAGE.PROMPT_OB }}
  {% else %}
    {{ texts.EXCUSAL_PAGE.PROMPT }}
  {% endif %}
{% endblock %}

{% block page_identifier %}Excusal{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../includes/back-link-gds.njk" %}
{% endblock %}

{% block content %}

  {% include "../../includes/errors-gds.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{ url('steps.confirm.date.excusal.post') }}" method="post">

        {# Set label text #}
        {% if user.thirdParty == 'Yes' %}
          {% set labelText =  texts.EXCUSAL_PAGE.HINT_OB %}
        {% else %}
          {% set labelText =  texts.EXCUSAL_PAGE.HINT %}
        {% endif %}

        {# Set excusal details error #}
        {% set excusalReasonError = undefined %}
        {% if errors.items['excusalReason']%}
          {% set excusalReasonError = {"text": errors.items['excusalReason'][0].details} %}
        {% endif %}

        <div class="govuk-form-group {% if errors.items['excusalReason'] %}govuk-form-group--error{% endif %}" id="excusalReasonGroup">

          <h1 class="govuk-heading-xl">
            {% if user.thirdParty == 'Yes' %}
              {{ texts.EXCUSAL_PAGE.PROMPT_OB }}
            {% else %}
              {{ texts.EXCUSAL_PAGE.PROMPT }}
            {% endif %}
          </h1>

          <div class="govuk-character-count">
            {{ govukTextarea({
              name: "excusalReason",
              id: "excusalReason",
              label: {
                text: labelText
              },
              attributes: {
                cols: "30",
                rows: "4",
                maxlength: "1000"
              },
              errorMessage: excusalReasonError,
              value: user.excusal.reason
            }) }}
            <span class="govuk-hint govuk-character-count__message">{{ texts.VALIDATION.MAX_TEXT_CHARS }}</span>
          </div>

        </div>

        <details class="govuk-details">
          <summary class="govuk-details__summary" {% if trackingCode %}onclick="trackVirtualPageViews('What evidence will I need to provide')"{% endif %}>
            <span class="govuk-details__summary-text">
              {% if user.thirdParty == 'Yes' %}
                {{ texts.EXCUSAL_PAGE.EVIDENCE_QUESTION_OB }}
              {% else %}
                {{ texts.EXCUSAL_PAGE.EVIDENCE_QUESTION }}
              {% endif %}
            </span>
          </summary>
          <div class="govuk-details__text">
            {% if user.thirdParty == 'Yes' %}
              {{ texts.EXCUSAL_PAGE.EVIDENCE_ANSWER_OB }}
            {% else %}
              {{ texts.EXCUSAL_PAGE.EVIDENCE_ANSWER }}
            {% endif %}
          </div>
        </details>

        {# Submit form #}
        {{ govukButton({
          text: texts.INTERFACE.BUTTON_TEXT_CONTINUE
        }) }}

        <input type="hidden" name="_csrf" value="{{ csrftoken }}">

      </form>

  </div>
</div>

{% endblock %}
