{% extends "../../layouts/default-gds.njk" %}

{% from "../../govuk-frontend/components/inset-text/macro.njk" import govukInsetText %}
{% from "../../govuk-frontend/components/radios/macro.njk" import govukRadios %}
{% from "../../govuk-frontend/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% include "../../includes/title-error.njk" %}
  {% if user.thirdParty == 'Yes' %}
    {{ texts.CONFIRM_DATE_PAGE.HEADING_OB }} - {{ texts.INTERFACE.GOV }}
  {% else %}
    {{ texts.CONFIRM_DATE_PAGE.HEADING }} - {{ texts.INTERFACE.GOV }}
  {% endif %}
{% endblock %}

{% block page_identifier %}Service Confirmation{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../includes/back-link-gds.njk" %}
{% endblock %}

{% block content %}

  {% include "../../includes/errors-gds.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{ url('steps.confirm.date.post') }}" method="post">

          {# Set radio labels #}
          {% if user.thirdParty == 'Yes' %}
            {% set radioHint = texts.CONFIRM_DATE_PAGE.DATE_CONFIRMATION_HEADING_OB  %}

            {% set radioYesLabel = texts.CONFIRM_DATE_PAGE.ANSWER_YES_OB  %}

            {% set radioDeferralLabel = texts.CONFIRM_DATE_PAGE.ANSWER_DEFERRAL_OB %}
            {% set radioDeferralHint = texts.CONFIRM_DATE_PAGE.ANSWER_DEFERRAL_HINT_OB %}

            {% set radioExcusalLabel = texts.CONFIRM_DATE_PAGE.ANSWER_EXCUSAL_OB %}
            {% set radioExcusalHint = texts.CONFIRM_DATE_PAGE.ANSWER_EXCUSAL_HINT_OB %}
          {% else %}
            {% set radioHint = texts.CONFIRM_DATE_PAGE.DATE_CONFIRMATION_HEADING  %}

            {% set radioYesLabel = texts.CONFIRM_DATE_PAGE.ANSWER_YES  %}

            {% set radioDeferralLabel = texts.CONFIRM_DATE_PAGE.ANSWER_DEFERRAL %}
            {% set radioDeferralHint = texts.CONFIRM_DATE_PAGE.ANSWER_DEFERRAL_HINT %}

            {% set radioExcusalLabel = texts.CONFIRM_DATE_PAGE.ANSWER_EXCUSAL %}
            {% set radioExcusalHint = texts.CONFIRM_DATE_PAGE.ANSWER_EXCUSAL_HINT %}
          {% endif %}

          {# Set radio values #}
          {% set radioYesChecked = '' %}
          {% set radioDeferralChecked = '' %}
          {% set radioExcusalChecked = '' %}
          {% if user.confirmedDate == 'Yes' %}
            {% set radioYesChecked = 'checked="checked"' %}
          {% endif %}
          {% if user.confirmedDate == 'Change' %}
            {% set radioDeferralChecked = 'checked="checked"' %}
          {% endif %}
          {% if user.confirmedDate == 'No' %}
            {% set radioExcusalChecked = 'checked="checked"' %}
          {% endif %}
          
          {# Set radio errors #}
          {% set radioAnswerError = undefined %}
          {% if errors.items['confirmedDate'] %}
            {% set radioAnswerError = {"text": errors.items['confirmedDate'][0].details} %}
          {% endif %}

        <div class="govuk-form-group {% if errors.items['confirmedDate'] %}govuk-form-group--error{% endif %}" id="convictedGroup">

          <h1 class="govuk-heading-xl">
            {% if user.thirdParty == 'Yes' %}
              {{ texts.CONFIRM_DATE_PAGE.HEADING_OB }}
            {% else %}
              {{ texts.CONFIRM_DATE_PAGE.HEADING }}
            {% endif %}
          </h1>

          <div class="govuk-body">

            <p>
              {% if user.thirdParty == 'Yes' %}
                {{ texts.CONFIRM_DATE_PAGE.INTRO_PARAGRAPH_OB  }}
              {% else %}
                {{ texts.CONFIRM_DATE_PAGE.INTRO_PARAGRAPH }}
              {% endif %}
            </p>

            <p>
              {% if user.thirdParty == 'Yes' %}
                {{ texts.CONFIRM_DATE_PAGE.REQUIRED_OB }}
              {% else %}
                {{ texts.CONFIRM_DATE_PAGE.REQUIRED }}
              {% endif %}
            </p>

            {% set courtDateHtml %}
              <div class="govuk-!-font-weight-bold">
              <span id="hearingDate">{{ user.hearingDate }}</span>
                at
              <span id="hearingTime">{{ user.hearingTime }}</span>
              </div>
            {% endset %}

            {% set courtAddressHtml %}
              <div class="govuk-!-font-weight-bold">
                {{ user.courtAddress | safe }}
              </div>
            {% endset %}

            {{ govukInsetText({
              html: courtDateHtml
            }) }}

            <p>{{ texts.CONFIRM_DATE_PAGE.AT }}</p>

            {{ govukInsetText({
              html: courtAddressHtml
            }) }}
          </div>

          {{ govukRadios({
            id: "confirmedDate",
            name: "confirmedDate",
            hint: {
              text: radioHint
            },
            errorMessage: radioAnswerError,
            items: [
              {
                id: "confirmedDate",
                name: "confirmedDate",
                value: "Yes" ,
                text: radioYesLabel,
                checked: radioYesChecked
              },
              {
                id: "changeDates",
                name: "confirmedDate",
                value: "Change",
                text: radioDeferralLabel,
                hint: {
                  text: radioDeferralHint
                },
                checked: radioDeferralChecked
              },
              {
                id: "declineDates",
                name: "confirmedDate",
                value: "No",
                text: radioExcusalLabel,
                hint: {
                  text: radioExcusalHint
                },
                checked: radioExcusalChecked
              }
            ]
          }) }}

        </div>

        {# Submit form #}
        {{ govukButton({
            text: texts.INTERFACE.BUTTON_TEXT_CONTINUE
        }) }}
        
        <input type="hidden" id="hearingDateTimestamp" value="{{ user.hearingDateTimestamp }}">
        <input type="hidden" name="_csrf" value="{{ csrftoken }}">

      </form>

  </div>
</div>

{% endblock %}
