{% extends "../../layouts/default-gds.njk" %}

{#{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}#}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% include "../../includes/title-error.njk" %}
  {% if user.thirdParty == 'Yes' %}
    {{ texts.CONFIRM_DATE_PAGE.HEADING_OB }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
  {% else %}
    {{ texts.CONFIRM_DATE_PAGE.HEADING }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
  {% endif %}
{% endblock %}

{% block page_identifier %}Service Confirmation{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../includes/back-link-gds.njk" %}
{% endblock %}

{% block content %}

  {% include "../../includes/errors-gds.njk" %}

  {# Set radio labels #}
  {% if user.thirdParty == 'Yes' %}
    {% set radioLegendText = texts.CONFIRM_DATE_PAGE.DATE_CONFIRMATION_QUESTION_OB %}

    {% set radioYesLabel %}
      {{ texts.CONFIRM_DATE_PAGE.ANSWER_YES_1_OB | safe }}
      {{ user.hearingDateShort | translateDate("DD/MM/YYYY", "dddd D MMMM YYYY", texts.INTERFACE.HTML_LANG)}}
      {{ texts.CONFIRM_DATE_PAGE.ANSWER_YES_2_OB | safe }}
    {% endset %}

    {% set radioDeferralLabel = texts.CONFIRM_DATE_PAGE.ANSWER_DEFERRAL_OB | safe %}

    {% set radioExcusalLabel = texts.CONFIRM_DATE_PAGE.ANSWER_EXCUSAL_OB | safe %}

  {% else %}
    {% set radioLegendText = texts.CONFIRM_DATE_PAGE.DATE_CONFIRMATION_QUESTION %}

    {% set radioYesLabel %}
      {{ texts.CONFIRM_DATE_PAGE.ANSWER_YES_1  | safe }}
      {{ user.hearingDateShort | translateDate("DD/MM/YYYY", "dddd D MMMM YYYY", texts.INTERFACE.HTML_LANG)}}
      {{ texts.CONFIRM_DATE_PAGE.ANSWER_YES_2  | safe }}
    {% endset %}

    {% set radioDeferralLabel = texts.CONFIRM_DATE_PAGE.ANSWER_DEFERRAL | safe %}

    {% set radioExcusalLabel = texts.CONFIRM_DATE_PAGE.ANSWER_EXCUSAL | safe %}
  {% endif %}

  {# Set radio values #}
  {% set radioYesChecked = '' %}
  {% set radioDeferralChecked = '' %}
  {% set radioExcusalChecked = '' %}
  {% if user.confirmedDate == 'Yes' %}
    {% set radioYesChecked = 'checked="checked"' %}
  {% endif %}
  {% if user.confirmedDate == 'Change' %}
    {% set radioDeferralChecked = 'checked="checked"' %}
  {% endif %}
  {% if user.confirmedDate == 'No' %}
    {% set radioExcusalChecked = 'checked="checked"' %}
  {% endif %}
  
  {# Set radio errors #}
  {% set radioAnswerError = undefined %}
  {% if errors.items['confirmedDate'] %}
    {% set radioAnswerError = {"text": errors.items['confirmedDate'][0].details} %}
  {% endif %}

  <form action="{{ url('steps.confirm.date.post') }}" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">
          {% if user.thirdParty == 'Yes' %}
            {{- texts.CONFIRM_DATE_PAGE.HEADING_OB -}}
          {% else %}
            {{- texts.CONFIRM_DATE_PAGE.HEADING -}}
          {% endif %}
        </h1>

        <div class="govuk-body">
          {# summons info panel #}
          <div class="govuk-panel confirm-date-panel govuk-!-margin-bottom-6">
            <p class="govuk-panel__body govuk-!-font-size-24">
              {% if user.thirdParty == 'Yes' %}
                {{ texts.CONFIRM_DATE_PAGE.PANEL_INTRO_OB }}
              {% else %}
                {{ texts.CONFIRM_DATE_PAGE.PANEL_INTRO }}
              {% endif %}
            </p>
            <h2 class="govuk-panel__title govuk-!-font-size-36">
              {{ user.hearingDateShort | translateDate("DD/MM/YYYY", "dddd D MMMM YYYY", texts.INTERFACE.HTML_LANG) }}
            </h2>
            <div class="govuk-panel__body govuk-!-font-size-24">
              {{ user.hearingTime }}<br>
              {{ texts.CONFIRM_DATE_PAGE.AT }}<br>
              {{ user.courtAddress | safe }}
            </div>
          </div>

          {# radio buttons #}
          <div class="govuk-form-group {% if errors.items['confirmedDate'] %}govuk-form-group--error{% endif %}" id="convictedGroup">

            {{ govukRadios({
              id: "confirmedDate",
              name: "confirmedDate",
              fieldset: {
                legend: {
                  text: radioLegendText,
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                }
              },

              errorMessage: radioAnswerError,
              items: [
                {
                  id: "confirmedDate",
                  name: "confirmedDate",
                  value: "Yes" ,
                  text: radioYesLabel,
                  checked: radioYesChecked
                },
                {
                  id: "changeDates",
                  name: "confirmedDate",
                  value: "Change",
                  text: radioDeferralLabel,
                  checked: radioDeferralChecked
                },
                {
                  id: "declineDates",
                  name: "confirmedDate",
                  value: "No",
                  text: radioExcusalLabel,
                  checked: radioExcusalChecked
                }
              ]
            }) }}

          </div>

          {# submit form button #}
          {{ govukButton({
              text: texts.INTERFACE.BUTTON_TEXT_CONTINUE
          }) }}

        </div>

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {# guidance details sections #}
        {% include "./defer-guidance-1.njk" %}

        {% include "./defer-guidance-2.njk" %}

      </div>
    </div>

    <input type="hidden" id="hearingDateTimestamp" value="{{ user.hearingDateTimestamp }}">
    <input type="hidden" name="_csrf" value="{{ csrftoken }}">

  </form>

{% endblock %}