{% extends "../../layouts/default.njk" %}

{% block page_title %}
  {% if user.thirdParty == 'Yes' %}
  {{ texts.CONFIRM_DATE_PAGE.HEADING_OB }} - {{ texts.INTERFACE.GOV }}
  {% else %}
  {{ texts.CONFIRM_DATE_PAGE.HEADING }} - {{ texts.INTERFACE.GOV }}
  {% endif %}
{% endblock %}

{% block page_identifier %}Service Confirmation{% endblock %}s

{% block content %}

<div class="grid-row">

  <div class="column-two-thirds">

    {% include "../../includes/back-link.njk" %}
    {% include "../../includes/errors.njk" %}
    
    <form action="{{ url('steps.confirm.date.post') }}" method="post">

      <div class="form-group {% if errors.items['confirmedDate'] %}error{% endif %}" id="confirmedDateGroup">

        <h1 class="heading-xlarge">
        {% if user.thirdParty == 'Yes' %}
        {{ texts.CONFIRM_DATE_PAGE.HEADING_OB }}
        {% else %}
        {{ texts.CONFIRM_DATE_PAGE.HEADING }}
        {% endif %}
        </h1>

        <p class="lede">
          {% if user.thirdParty == 'Yes' %}
          {{ texts.CONFIRM_DATE_PAGE.INTRO_PARAGRAPH_OB  }}
          {% else %}
          {{ texts.CONFIRM_DATE_PAGE.INTRO_PARAGRAPH }}
          {% endif %}
        </p>

        <p class="lede">
          {% if user.thirdParty == 'Yes' %}
          {{ texts.CONFIRM_DATE_PAGE.REQUIRED_OB }}
          {% else %}
          {{ texts.CONFIRM_DATE_PAGE.REQUIRED }}
          {% endif %}
        </p>

        <div class="panel panel-border-wide text">
          <p class="bold-small">

            <span id="hearingDate">{{ user.hearingDate }}</span>
            at
            <span id="hearingTime">{{ user.hearingTime }}</span>
          </p>
        </div>

        <p class="lede">{{ texts.CONFIRM_DATE_PAGE.AT }}</p>

        <div class="panel panel-border-wide text">
          <p class="bold-small">
            {{ user.courtAddress | safe }}
          </p>
        </div>

        <fieldset>
          <legend>
            <span class="lede">
              {% if user.thirdParty == 'Yes' %}
              {{ texts.CONFIRM_DATE_PAGE.DATE_CONFIRMATION_HEADING_OB }}
              {% else %}
              {{ texts.CONFIRM_DATE_PAGE.DATE_CONFIRMATION_HEADING }}
              {% endif %}
            </span>
          </legend>

          <input type="hidden" id="hearingDateTimestamp" value="{{ user.hearingDateTimestamp }}">

          {% if errors.items['confirmedDate'] %}<span class="error-message">{{ errors.items['confirmedDate'][0].details }}</span>{% endif %}

          <label class="block-label selection-button-radio" for="confirmedDate">
            <input id="confirmedDate" type="radio" name="confirmedDate" value="Yes" {% if user.confirmedDate == 'Yes' %}checked="checked"{% endif %}>
            <div role="text">
              {% if user.thirdParty == 'Yes' %}
              {{ texts.CONFIRM_DATE_PAGE.ANSWER_YES_OB }}
              {% else %}
              {{ texts.CONFIRM_DATE_PAGE.ANSWER_YES }}
              {% endif %}
            </div>
          </label>
          <br>
          <label class="block-label selection-button-radio" for="changeDates">
            <input id="changeDates" type="radio" name="confirmedDate" value="Change" {% if user.confirmedDate == 'Change' %}checked="checked"{% endif %}>
            <div role="text">
              {% if user.thirdParty == 'Yes' %}
              {{ texts.CONFIRM_DATE_PAGE.ANSWER_DEFERRAL_OB }}
              {% else %}
              {{ texts.CONFIRM_DATE_PAGE.ANSWER_DEFERRAL }}
              {% endif %}
              <span class="form-hint">
                {% if user.thirdParty == 'Yes' %}
                {{ texts.CONFIRM_DATE_PAGE.ANSWER_DEFERRAL_HINT_OB }}
                {% else %}
                {{ texts.CONFIRM_DATE_PAGE.ANSWER_DEFERRAL_HINT }}
                {% endif %}
              </span>
            </div>
          </label>
          <br>
          <label class="block-label selection-button-radio" for="declineDates">
            <input id="declineDates" type="radio" name="confirmedDate" value="No" {% if user.confirmedDate == 'No' %}checked="checked"{% endif %}>
            <div role="text">
              {% if user.thirdParty == 'Yes' %}
              {{ texts.CONFIRM_DATE_PAGE.ANSWER_EXCUSAL_OB }}
              {% else %}
              {{ texts.CONFIRM_DATE_PAGE.ANSWER_EXCUSAL }}
              {% endif %}
              <span class="form-hint">
                {% if user.thirdParty == 'Yes' %}
                {{ texts.CONFIRM_DATE_PAGE.ANSWER_EXCUSAL_HINT_OB }}
                {% else %}
                {{ texts.CONFIRM_DATE_PAGE.ANSWER_EXCUSAL_HINT }}
                {% endif %}
              </span>
            </div>
          </label>

        </fieldset>

      </div>

      <br>
      {# Submit form #}
      <input type="hidden" name="_csrf" value="{{ csrftoken }}">
      <input class="button" type="submit" value="{{ texts.INTERFACE.BUTTON_TEXT_CONTINUE }}">
    </form>

  </div>

</div>

{% endblock %}
