{% from "../../govuk-frontend/components/panel/macro.njk" import govukPanel %}

<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    {{ texts.CONFIRMATION.HERO.THANKS }}<br>
    {{ texts.CONFIRMATION.HERO.FINISHED }}
  </h1>
  <div class="govuk-panel__body">
    <p class="text-center">
      {% if user.ineligibleDeceased == true %}
        {{ texts.CONFIRMATION.DECEASED.REFERENCE }}<br>
      {% elif user.thirdParty == 'Yes' %}
        {{ texts.CONFIRMATION.HERO.YOUR_NUMBER_OB }}<br>
      {% else %}
        {{ texts.CONFIRMATION.HERO.YOUR_NUMBER }}<br>
      {% endif %}
      <strong class="bold-small">{{ user.jurorNumber }}</strong>
    </p>
    <p class="govuk-!-font-size-19">
      {% if user.ineligibleDeceased == true %}
        {{ texts.CONFIRMATION.DECEASED.GETTING_IN_TOUCH }}
      {% elif user.thirdParty == 'Yes' %}
        {{ texts.CONFIRMATION.HERO.GETTING_IN_TOUCH_OB }}
      {% else %}
        {{ texts.CONFIRMATION.HERO.GETTING_IN_TOUCH }}
      {% endif %}
    </p>
  </div>
</div>

<p class="govuk-body">
{% if user.ineligibleDeceased == true %}
    {{ texts.CONFIRMATION.DECEASED.EMAIL_RESPONSE }}
{% elif user.thirdParty == 'Yes' %}
  {{ texts.CONFIRMATION.HERO.EMAIL_SUMMONS_OB }}
{% else %}
  {{ texts.CONFIRMATION.HERO.EMAIL_SUMMONS }}
{% endif %}
</p>

