<div class="govuk-box-highlight">
  <h1 class="bold-large">
    {{ texts.CONFIRMATION.HERO.THANKS }}<br>
    <img src="/img/icons/icon-tick.png" class="tick" alt="&#x2714;"> {{ texts.CONFIRMATION.HERO.FINISHED }}
  </h1>

  <p class="text-center">
    {% if user.ineligibleDeceased == true %}
    {{ texts.CONFIRMATION.DECEASED.REFERENCE }}<br>
    {% elif user.thirdParty == 'Yes' %}
    {{ texts.CONFIRMATION.HERO.YOUR_NUMBER_OB }}<br>
    {% else %}
    {{ texts.CONFIRMATION.HERO.YOUR_NUMBER }}<br>
    {% endif %}

    <strong class="bold-small">{{ user.jurorNumber }}</strong>
  </p>

  <p>
    {% if user.ineligibleDeceased == true %}
    {{ texts.CONFIRMATION.DECEASED.GETTING_IN_TOUCH }}
    {% elif user.thirdParty == 'Yes' %}
    {{ texts.CONFIRMATION.HERO.GETTING_IN_TOUCH_OB }}
    {% else %}
    {{ texts.CONFIRMATION.HERO.GETTING_IN_TOUCH }}
    {% endif %}

  </p>
</div>

<p>
{% if user.ineligibleDeceased == true %}
{{ texts.CONFIRMATION.DECEASED.EMAIL_RESPONSE }}
{% elif user.thirdParty == 'Yes' %}
{{ texts.CONFIRMATION.HERO.EMAIL_SUMMONS_OB }}
{% else %}
{{ texts.CONFIRMATION.HERO.EMAIL_SUMMONS }}
{% endif %}
</p>
