{% extends "../../layouts/default.njk" %}

{% block page_title %}
{{ texts.CONFIRMATION.TITLE }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}Confirmation Age Disqualified{% endblock %}

{% block content %}

<div class="grid-row">

  <div class="column-two-thirds">
    {% include "./_hero.njk" %}

    <p class="bold-small">
      {{ texts.CONFIRMATION.DOWNLOAD_A_COPY_1 }}<a href="/steps/08-confirmation/download">{{ texts.CONFIRMATION.DOWNLOAD_A_COPY_2}}</a>
      {% if user.thirdParty == 'Yes' %}
        {{ texts.CONFIRMATION.DOWNLOAD_A_COPY_3_OB}}
      {% else %}
        {{ texts.CONFIRMATION.DOWNLOAD_A_COPY_3}}
      {% endif %}
    </p>

    <br>
    <h2 class="heading-medium">{{ texts.CONFIRMATION.NEXT_INFO }}</h2>

    {% if user.thirdParty == 'Yes' %}
    <p>{{ texts.CONFIRMATION.AGE.NO_SERVICE_REQUIRED_OB }} {{ texts.CONFIRMATION.NO_ACTION }}</p>
    {% else %}
    <p>{{ texts.CONFIRMATION.AGE.NO_SERVICE_REQUIRED }} {{ texts.CONFIRMATION.NO_ACTION }}</p>
    {% endif %}

    {% if user.thirdParty == 'Yes' %}
    <p>{{ texts.CONFIRMATION.AGE.DOB_QUALIFICATION_OB }}</p>
    {% else %}
    <p>{{ texts.CONFIRMATION.AGE.DOB_QUALIFICATION }}</p>
    {% endif %}

    {% include "../../includes/feedback.njk" %}
  </div>

</div>

{% endblock %}
