{% extends "../../layouts/default-gds.njk" %}

{% block pageTtitle %}
  {{ texts.CONFIRMATION.TITLE }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}Confirmation Deferral{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "./_hero.njk" %}

      <h2 class="govuk-heading-m">{{ texts.CONFIRMATION.NEXT_INFO }}</h2>
      <div class="govuk-body">
      {% if user.assistanceNeeded == 'Yes' %}
        {% if user.qualify.livedConsecutive.details.length > 0 or user.qualify.mentalHealthAct.details.length > 0 or user.qualify.onBail.details.length > 0 or user.qualify.convicted.details.length > 0 %}
          {% if user.thirdParty == 'Yes' %}
            {# Deferral + Inelligible + RA TP #}
            <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_DEFERRAL_ADJUST_OB_1 }}</p>
            <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_DEFERRAL_ADJUST_OB_2 }}</p>
            <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_DEFERRAL_ADJUST_OB_3 }}</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_DEFERRAL_ADJUST_OB_LIST_ITEM_1 }}</li>
              <li>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_DEFERRAL_ADJUST_OB_LIST_ITEM_2 }}</li>
            </ul>

            <p>{{ texts.CONFIRMATION.DEFERRAL.IF_YES_OB }}</p>
          {% else %}
            {# Deferral + Inelligible + RA #}
            <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_DEFERRAL_ADJUST_1 }}</p>
            <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_DEFERRAL_ADJUST_2 }}</p>
            <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_DEFERRAL_ADJUST_3 }}</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_DEFERRAL_ADJUST_LIST_ITEM_1 }}</li>
              <li>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_DEFERRAL_ADJUST_LIST_ITEM_2 }}</li>
            </ul>

            <p>{{ texts.CONFIRMATION.DEFERRAL.IF_YES }}</p>
          {% endif %}
        {% else %}
          {% if user.thirdParty == 'Yes' %}
            {# Deferral + RA  TP #}
            <p>{{ texts.CONFIRMATION.DEFERRAL.NEXT_INFO_GUIDANCE_LINE_OB }}</p>
            <p>{{ texts.CONFIRMATION.DEFERRAL.NEXT_INFO_GUIDANCE_ADJUST_OB }}</p>
            <p>{{ texts.CONFIRMATION.DEFERRAL.NEXT_INFO_LIST_HEADER_OB }}</p>
          {% else %}
            {# Deferral + RA #}
            <p>{{ texts.CONFIRMATION.DEFERRAL.NEXT_INFO_GUIDANCE_LINE }}</p>
            <p>{{ texts.CONFIRMATION.DEFERRAL.NEXT_INFO_GUIDANCE_ADJUST}}</p>
            <p>{{ texts.CONFIRMATION.DEFERRAL.NEXT_INFO_LIST_HEADER }}</p>
          {% endif %}
        {% endif %}
      {% endif %}

      {% if user.assistanceNeeded == 'No' %}
        {% if user.thirdParty == "Yes" %}
          {% if user.qualify.livedConsecutive.details.length > 0 or user.qualify.mentalHealthAct.details.length > 0 or user.qualify.onBail.details.length > 0 or user.qualify.convicted.details.length > 0 %}
            {# Deferral + Ineligible TP #}
            <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_DEFERRAL_OB_1 }}</p>
            <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_DEFERRAL_OB_2 }}</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_DEFERRAL_OB_LIST_ITEM_1 }}</li>
              <li>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_DEFERRAL_OB_LIST_ITEM_2 }}</li>
            </ul>

            <p>{{ texts.CONFIRMATION.RECEIVE_LIST_ADJUSTMENT_OB }}</p>
          {% else %}
            {# Deferral only TP #}
            <p>{{ texts.CONFIRMATION.DEFERRAL.NEXT_INFO_GUIDANCE_OB }}</p>
            <p>{{ texts.CONFIRMATION.DEFERRAL.NEXT_INFO_LIST_HEADER_OB }}</p>
          {% endif %}
        {% elif user.thirdParty == "No"%}
          {% if user.qualify.livedConsecutive.details.length > 0 or user.qualify.mentalHealthAct.details.length > 0 or user.qualify.onBail.details.length > 0 or user.qualify.convicted.details.length > 0 %}
            {# Deferral + Ineligible #}
            <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_DEFERRAL_1 }}</p>
            <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_DEFERRAL_2 }}</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_DEFERRAL_LIST_ITEM_1 }}</li>
              <li>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_DEFERRAL_LIST_ITEM_2 }}</li>
            </ul>

            <p>{{ texts.CONFIRMATION.RECEIVE_LIST_ADJUSTMENT }}</p>
          {% else %}
            {# Deferral only #}
            <p>{{ texts.CONFIRMATION.DEFERRAL.NEXT_INFO_GUIDANCE }}</p>
            <p>{{ texts.CONFIRMATION.DEFERRAL.NEXT_INFO_LIST_HEADER }}</p>
          {% endif %}
        {% endif %}
      {% endif %}
      </div>

      <ul class="govuk-list govuk-list--bullet">
        {% if user.thirdParty == 'Yes' %}
        <li>{{ texts.CONFIRMATION.RECEIVE_LIST_ITEM_1_OB }}</li>
        <li>{{ texts.CONFIRMATION.RECEIVE_LIST_ITEM_2_OB }}</li>
        {% else %}
        <li>{{ texts.CONFIRMATION.RECEIVE_LIST_ITEM_1 }}</li>
        <li>{{ texts.CONFIRMATION.RECEIVE_LIST_ITEM_2 }}</li>
        {% endif %}
      </ul>

      <h2 class="govuk-heading-m">
      {% if user.thirdParty == 'Yes' %}
        {{ texts.CONFIRMATION.GETTING_READY_OB }}
      {% else %}
        {{ texts.CONFIRMATION.GETTING_READY }}
      {% endif %}
      </h2>

      <div class="govuk-body">

        {% if user.thirdParty == 'Yes' %}
          <p>{{ texts.CONFIRMATION.GETTING_READY_INFO_OB }}</p>
        {% else %}
          <p>{{ texts.CONFIRMATION.GETTING_READY_INFO }}</p>
        {% endif %}
        
        {% if user.thirdParty == 'Yes' %}
          <p>
            {{ texts.CONFIRMATION.YOU_CAN_OB }}
            <a class="govuk-link" id="watch-video-link" target="_blank" href="{{texts.CONFIRMATION.WATCH_VIDEO_LINK_URL}}" rel="external" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.WATCH_VIDEO_LINK }}</a>
            {{- texts.CONFIRMATION.WATCH_VIDEO_OB }}
          </p>
        {% else %}
          <p>
            {{ texts.CONFIRMATION.YOU_CAN }}
            <a class="govuk-link" id="watch-video-link" target="_blank" href="{{texts.CONFIRMATION.WATCH_VIDEO_LINK_URL}}" rel="external" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.WATCH_VIDEO_LINK }}</a>
            {{- texts.CONFIRMATION.WATCH_VIDEO }}
          </p>
        {% endif %}

        {% if user.thirdParty == 'Yes' %}
          <p>
            <a class="govuk-link" id ="learn-more-link" target="_blank" href="{{texts.CONFIRMATION.LEARN_MORE_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.LEARN_MORE_LINK_OB }}</a>.
            {{ texts.CONFIRMATION.YOU_CAN_READ_THE }}
            <a class="govuk-link" id ="discuss-trial-link" target="_blank" href="{{texts.CONFIRMATION.DISCUSSING_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.DISCUSSING_LINK_OB }}</a>
            {{ texts.CONFIRMATION.FIND_OUT_OB }} <a class="govuk-link" id ="expenses-info-link" target="_blank" href="{{texts.CONFIRMATION.EXPENSES_INFO_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.EXPENSES_INFO_LINK_OB }}</a>.
          </p>
        {% else %}
          <p>
            <a class="govuk-link" id ="learn-more-link" target="_blank" href="{{texts.CONFIRMATION.LEARN_MORE_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.LEARN_MORE_LINK }}</a>.
            {{ texts.CONFIRMATION.YOU_CAN_READ_THE }}
            <a class="govuk-link" id ="discuss-trial-link" target="_blank" href="{{texts.CONFIRMATION.DISCUSSING_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.DISCUSSING_LINK }}</a>
            {{ texts.CONFIRMATION.FIND_OUT }} <a class="govuk-link" id ="expenses-info-link" target="_blank" href="{{texts.CONFIRMATION.EXPENSES_INFO_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.EXPENSES_INFO_LINK }}</a>.
          </p>
        {% endif %}

        <p>
          {% if user.thirdParty == 'Yes' %}
            <a class="govuk-link" id ="calculate-expenses-link" target="_blank" href="{{texts.CONFIRMATION.CALCULATE_EXPENSES_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.CALCULATE_EXPENSES_LINK_OB }}</a>.
          {% else %}
            <a class="govuk-link" id ="calculate-expenses-link" target="_blank" href="{{texts.CONFIRMATION.CALCULATE_EXPENSES_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.CALCULATE_EXPENSES_LINK }}</a>.
          {% endif %}
        </p>

      </div>

      {% include "../../includes/feedback.njk" %}

    </div>
  </div>

{% endblock %}
