{% extends "../../layouts/default-gds.njk" %}

{% block pageTitle %}
  {{ texts.CONFIRMATION.TITLE }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}Confirmation Excusal{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "./_hero.njk" %}

      <h2 class="govuk-heading-m">{{ texts.CONFIRMATION.NEXT_INFO }}</h2>
      <div class="govuk-body">
        {% if user.assistanceNeeded == 'Yes' %}
          {% if user.qualify.livedConsecutive.details.length > 0 or user.qualify.mentalHealthAct.details.length > 0 or user.qualify.onBail.details.length > 0 or user.qualify.convicted.details.length > 0 %}
            {% if user.thirdParty == 'Yes' %}
              {# Excusal + Ineligible + RA TP #}
              <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_EXCUSAL_ADJUST_OB_1 }}</p>
              <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_EXCUSAL_ADJUST_OB_2 }}</p>
              <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_EXCUSAL_ADJUST_OB_3 }}</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_EXCUSAL_OB_LIST_ITEM_1 }}</li>
                <li>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_EXCUSAL_OB_LIST_ITEM_2 }}</li>
              </ul>

              <p>{{texts.CONFIRMATION.INELIGIBLE.IF_YES_OB }}</p>
            {% else %}
              {# Excusal + Ineligible + RA #}
              <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_EXCUSAL_ADJUST_1 }}</p>
              <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_EXCUSAL_ADJUST_2 }}</p>
              <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_EXCUSAL_ADJUST_3 }}</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_EXCUSAL_LIST_ITEM_1 }}</li>
                <li>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_EXCUSAL_LIST_ITEM_2 }}</li>
              </ul>

              <p>{{ texts.CONFIRMATION.INELIGIBLE.IF_YES }}</p>
            {% endif %}
          {% else %}
            {% if user.thirdParty == 'Yes' %}
              {# Excusal + RA TP #}
              <p>{{ texts.CONFIRMATION.EXCUSAL.NEXT_INFO_GUIDANCE_OB }}</p>
              <p>{{ texts.CONFIRMATION.EXCUSAL.NEXT_INFO_GUIDANCE_ADJUST_OB }}</p>
              <p>{{ texts.CONFIRMATION.EXCUSAL.NEXT_INFO_LIST_HEADER_OB }}</p>
            {% else %}
              {# Excusal + RA #}
              <p>{{ texts.CONFIRMATION.EXCUSAL.NEXT_INFO_GUIDANCE_ADJUST_1}}</p>
              <p>{{ texts.CONFIRMATION.EXCUSAL.NEXT_INFO_GUIDANCE_ADJUST_2}}</p>
              <p>{{ texts.CONFIRMATION.EXCUSAL.NEXT_INFO_LIST_HEADER }}</p>
            {% endif %}
          {% endif %}
        {% endif %}

        {% if user.assistanceNeeded == 'No' %}
          {% if user.thirdParty == "Yes" %}
            {% if user.qualify.livedConsecutive.details.length > 0 or user.qualify.mentalHealthAct.details.length > 0 or user.qualify.onBail.details.length > 0 or user.qualify.convicted.details.length > 0 %}
              {# Excusal + Ineligible TP #}
              <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_EXCUSAL_OB_1 }}</p>
              <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_EXCUSAL_OB_2 }}</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_EXCUSAL_OB_LIST_ITEM_1 }}</li>
                <li>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_EXCUSAL_OB_LIST_ITEM_2 }}</li>
              </ul>

              <p>{{ texts.CONFIRMATION.INELIGIBLE.IF_YES_OB }}</p>
            {% else %}
              {# Excusal only TP #}
              <p>{{ texts.CONFIRMATION.EXCUSAL.NEXT_INFO_GUIDANCE_OB }}</p>
              <p>{{ texts.CONFIRMATION.EXCUSAL.NEXT_INFO_LIST_HEADER_OB }}</p>
            {% endif %}
          {% elif user.thirdParty == "No"%}
            {% if user.qualify.livedConsecutive.details.length > 0 or user.qualify.mentalHealthAct.details.length > 0 or user.qualify.onBail.details.length > 0 or user.qualify.convicted.details.length > 0 %}
              {# Excusal + Ineligible #}
              <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_EXCUSAL_1 }}</p>
              <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_EXCUSAL_2 }}</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_EXCUSAL_LIST_ITEM_1 }}</li>
                <li>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_EXCUSAL_LIST_ITEM_2 }}</li>
              </ul>

              <p>{{ texts.CONFIRMATION.INELIGIBLE.IF_YES }}</p>
            {% else %}
              {# Excusal only #}
              <p>{{ texts.CONFIRMATION.EXCUSAL.NEXT_INFO_GUIDANCE }}</p>
              <p>{{ texts.CONFIRMATION.EXCUSAL.NEXT_INFO_LIST_HEADER }}</p>
            {% endif %}
          {% endif %}
        {% endif %}
      </div>

      <ul class="govuk-list govuk-list--bullet">
        {% if user.thirdParty == 'Yes' %}
        <li>{{ texts.CONFIRMATION.RECEIVE_LIST_ITEM_1_OB }}</li>
        <li>{{ texts.CONFIRMATION.RECEIVE_LIST_ITEM_2_OB }}</li>
        {% else %}
        <li>{{ texts.CONFIRMATION.RECEIVE_LIST_ITEM_1 }}</li>
        <li>{{ texts.CONFIRMATION.RECEIVE_LIST_ITEM_2 }}</li>
        {% endif %}
      </ul>

      <div class="govuk-body">
      {% if user.assistanceNeeded == 'Yes' %}
          {% if user.thirdParty == 'Yes' %}
          <p>{{ texts.CONFIRMATION.EXCUSAL.ADJUSTMENT_OB }}</p>
          {% else %}
          <p>{{ texts.CONFIRMATION.EXCUSAL.ADJUSTMENT }}</p>
          {% endif%}
      {% endif %}
      </div>

      <h2 class="govuk-heading-m">
      {% if user.thirdParty == 'Yes' %}
        {{ texts.CONFIRMATION.GETTING_READY_OB }}
      {% else %}
        {{ texts.CONFIRMATION.GETTING_READY }}
      {% endif %}
      </h2>

      <div class="govuk-body">

        {% if user.thirdParty == 'Yes' %}
          <p>{{ texts.CONFIRMATION.GETTING_READY_INFO_OB }}</p>
        {% else %}
          <p>{{ texts.CONFIRMATION.GETTING_READY_INFO }}</p>
        {% endif %}

        {% if user.thirdParty == 'Yes' %}
          <p>
            {{ texts.CONFIRMATION.YOU_CAN_OB }}
            <a class="govuk-link" id="watch-video-link" target="_blank" href="{{texts.CONFIRMATION.WATCH_VIDEO_LINK_URL}}" rel="external" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.WATCH_VIDEO_LINK }}</a>
            {{- texts.CONFIRMATION.WATCH_VIDEO_OB }}
          </p>
        {% else %}
          <p>
            {{ texts.CONFIRMATION.YOU_CAN }}
            <a class="govuk-link" id="watch-video-link" target="_blank" href="{{texts.CONFIRMATION.WATCH_VIDEO_LINK_URL}}" rel="external" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.WATCH_VIDEO_LINK }}</a>
            {{- texts.CONFIRMATION.WATCH_VIDEO }}
          </p>
        {% endif %}

        {% if user.thirdParty == 'Yes' %}
          <p>
            <a class="govuk-link" id ="learn-more-link" target="_blank" href="{{texts.CONFIRMATION.LEARN_MORE_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.LEARN_MORE_LINK_OB }}</a>.
            {{ texts.CONFIRMATION.YOU_CAN_READ_THE }}
            <a class="govuk-link" id ="discuss-trial-link" target="_blank" href="{{texts.CONFIRMATION.DISCUSSING_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.DISCUSSING_LINK_OB }}</a>
            {{ texts.CONFIRMATION.FIND_OUT_OB }} <a class="govuk-link" id ="expenses-info-link" target="_blank" href="{{texts.CONFIRMATION.EXPENSES_INFO_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.EXPENSES_INFO_LINK_OB }}</a>.
          </p>
        {% else %}
          <p>
            <a class="govuk-link" id ="learn-more-link" target="_blank" href="{{texts.CONFIRMATION.LEARN_MORE_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.LEARN_MORE_LINK }}</a>.
            {{ texts.CONFIRMATION.YOU_CAN_READ_THE }}
            <a class="govuk-link" id ="discuss-trial-link" target="_blank" href="{{texts.CONFIRMATION.DISCUSSING_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.DISCUSSING_LINK }}</a>
            {{ texts.CONFIRMATION.FIND_OUT }} <a class="govuk-link" id ="expenses-info-link" target="_blank" href="{{texts.CONFIRMATION.EXPENSES_INFO_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.EXPENSES_INFO_LINK }}</a>.
          </p>
        {% endif %}

        <p>
          {% if user.thirdParty == 'Yes' %}
            <a class="govuk-link" id ="calculate-expenses-link" target="_blank" href="{{texts.CONFIRMATION.CALCULATE_EXPENSES_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.CALCULATE_EXPENSES_LINK_OB }}</a>.
          {% else %}
            <a class="govuk-link" id ="calculate-expenses-link" target="_blank" href="{{texts.CONFIRMATION.CALCULATE_EXPENSES_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.CALCULATE_EXPENSES_LINK }}</a>.
          {% endif %}
        </p>

      </div>

      {% include "../../includes/feedback.njk" %}

    </div>

  </div>

{% endblock %}
