{% extends "../../layouts/default.njk" %}

{% block page_title %}
{{ texts.CONFIRMATION.TITLE }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}Confirmation Straight Through{% endblock %}

{% block content %}

<div class="grid-row">

  <div class="column-two-thirds">
    {% include "./_hero.njk" %}

    <h2 class="heading-medium">{{ texts.CONFIRMATION.NEXT_INFO }}</h2>
    {% if user.qualify.livedConsecutive.answer == 'No' or user.qualify.mentalHealthAct.answer == 'Yes' or user.qualify.onBail.answer == 'Yes' or user.qualify.convicted.answer == 'Yes'  %}
      {% if user.thirdParty == 'Yes' %}
      <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_OB }}</p>
            <p>{{ texts.CONFIRMATION.INELIGIBLE.IF_YES_OB}}</p>

      {% else %}
      <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE }}</p>
            <p>{{ texts.CONFIRMATION.INELIGIBLE.IF_YES }}</p>

      {% endif %}

    {% endif %}

    {% if user.assistanceNeeded == 'Yes' %}
      {% if user.assistanceNeeded == 'Yes' and user.thirdParty == 'Yes' %}
      <p>{{ texts.CONFIRMATION.ADJUSTMENT_OB }}</p>
      <p>{{ texts.CONFIRMATION.RECEIVE_LIST_ADJUSTMENT_OB }}</p>
            <p>{{ texts.CONFIRMATION.RECEIVE_LIST_OB }}</p>

      {% else %}
      <p>{{ texts.CONFIRMATION.ADJUSTMENT }}</p>
      <p>{{ texts.CONFIRMATION.RECEIVE_LIST_ADJUSTMENT }}</p>
            <p>{{ texts.CONFIRMATION.RECEIVE_LIST }}</p>

      {% endif %}

    {% endif %}
    <ul class="list list-bullet">
      {% if user.thirdParty == 'Yes' %}
      <li>{{ texts.CONFIRMATION.RECEIVE_LIST_ITEM_1_OB }}</li>
      <li>{{ texts.CONFIRMATION.RECEIVE_LIST_ITEM_2_OB }}</li>
      {% else %}
      <li>{{ texts.CONFIRMATION.RECEIVE_LIST_ITEM_1 }}</li>
      <li>{{ texts.CONFIRMATION.RECEIVE_LIST_ITEM_2 }}</li>
      {% endif %}
    </ul>

    {% if user.thirdParty == 'Yes' %}
    <h2 class="heading-medium">
      {{ texts.CONFIRMATION.GETTING_READY_OB }}
    </h2>
    <p>
      {{ texts.CONFIRMATION.YOU_CAN_OB }}
      <a target="_blank" id="watch-video" href="https://www.youtube.com/watch?v=yQGekF-72xQ&t=2s" {% if trackingCode %}onclick="trackOutboundLink('https://www.youtube.com/watch?v=yQGekF-72xQ&t=2s')"{% endif %}
 rel="external">{{ texts.CONFIRMATION.WATCH_VIDEO }}</a>,
      {{ texts.CONFIRMATION.WHAT_TO_EXPECT_OB }}
    </p>
    {% else %}
    <h2 class="heading-medium">
      {{ texts.CONFIRMATION.GETTING_READY }}
    </h2>
    <p>
      {{ texts.CONFIRMATION.YOU_CAN }}
      <a target="_blank" id="watch-video" href="https://www.youtube.com/watch?v=yQGekF-72xQ&t=2s" {% if trackingCode %}onclick="trackOutboundLink('https://www.youtube.com/watch?v=yQGekF-72xQ&t=2s')"{% endif %}
 rel="external">{{ texts.CONFIRMATION.WATCH_VIDEO }}</a>,
      {{ texts.CONFIRMATION.WHAT_TO_EXPECT }}
    </p>
    {% endif %}

    {% if user.thirdParty == 'Yes' %}
    <p>
      {{ texts.CONFIRMATION.LEARN_MORE_OB }}
      <a target="_blank" href="https://www.gov.uk/jury-service/discussing-the-trial" {% if trackingCode %}onclick="trackOutboundLink('https://www.gov.uk/jury-service/discussing-the-trial')"{% endif %}>{{ texts.CONFIRMATION.DISCUSSING_OB }}</a>
      {{ texts.CONFIRMATION.FIND_OUT_OB }} <a target="_blank" href="https://www.gov.uk/jury-service/how-to-claim-expenses" {% if trackingCode %}onclick="trackOutboundLink('https://www.gov.uk/jury-service/how-to-claim-expenses')"{% endif %}>{{ texts.CONFIRMATION.CLAIM_EXPENSES_OB }}</a>.
    </p>
    {% else %}
    <p>
      {{ texts.CONFIRMATION.LEARN_MORE }}
      <a target="_blank" href="https://www.gov.uk/jury-service/discussing-the-trial" {% if trackingCode %}onclick="trackOutboundLink('https://www.gov.uk/jury-service/discussing-the-trial')"{% endif %}>{{ texts.CONFIRMATION.DISCUSSING }}</a>
      {{ texts.CONFIRMATION.FIND_OUT }} <a target="_blank" href="https://www.gov.uk/jury-service/how-to-claim-expenses" {% if trackingCode %}onclick="trackOutboundLink('https://www.gov.uk/jury-service/how-to-claim-expenses')"{% endif %}>{{ texts.CONFIRMATION.CLAIM_EXPENSES }}</a>.
    </p>
    {% endif %}

   <br>
    <div class="notice">
      <i class="icon icon-file-download">
        <span class="visuallyhidden">{{ texts.CONFIRMATION.DOWNLOAD_PDF }}</span>
      </i>
      <strong class="bold-small">
        <a target="_blank" id="service-guide" href="https://formfinder.hmctsformfinder.justice.gov.uk/jury-summons-guide-eng.pdf"{% if trackingCode %}onclick="trackEvent('PDF guide', 'Download', 'Guide to Jury Service')"{% endif %}>{{ texts.CONFIRMATION.SERVICE_GUIDE }}</a>
      </strong>
    </div>

    <br>
    <div class="notice">
      <i class="icon icon-file-download">
        <span class="visuallyhidden">{{ texts.CONFIRMATION.DOWNLOAD_PDF }}</span>
      </i>
      <strong class="bold-small">
        <a target="_blank" id="juror-charter" href="https://formfinder.hmctsformfinder.justice.gov.uk/juror-charter-eng.pdf"{% if trackingCode %}onclick="trackEvent('PDF charter', 'Download', 'The Juror Charter')"{% endif %}>{{ texts.CONFIRMATION.JUROR_CHARTER }}</a>
      </strong>
    </div>

    <br>
    <div class="notice">
      <i class="icon icon-file-download">
        <span class="visuallyhidden">{{ texts.CONFIRMATION.DOWNLOAD_PDF }}</span>
      </i>
      <strong class="bold-small">
        <a target="_blank" id="support-pdf" href="https://formfinder.hmctsformfinder.justice.gov.uk/5222a-eng.pdf"{% if trackingCode %}onclick="trackEvent('PDF support', 'Download', 'Supporting you through jury service')"{% endif %}>{{ texts.CONFIRMATION.SUPPORTING_YOU }}</a>
      </strong>
    </div>

    {% include "../../includes/feedback.njk" %}

  </div>

</div>

{% endblock %}
