{% extends "../../layouts/default-gds.njk" %}

{% block pageTitle %}
  {{ texts.CONFIRMATION.TITLE }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}Confirmation Straight Through{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "./_hero.njk" %}


      <h2 class="govuk-heading-m">{{ texts.CONFIRMATION.NEXT_INFO }}</h2>
      <div class="govuk-body">
        {% if user.qualify.livedConsecutive.answer == 'No' or user.qualify.mentalHealthAct.answer == 'Yes' or user.qualify.onBail.answer == 'Yes' or user.qualify.convicted.answer == 'Yes'  %}
          {% if user.thirdParty == 'Yes' %}
            <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_OB_1 }}</p>
            <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_OB_2 }}</p>
            {% if user.assistanceNeeded != 'Yes' %}
              <p>{{ texts.CONFIRMATION.INELIGIBLE.IF_YES_OB }}</p>
            {% endif %}
          {% else %}
            <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_1 }}</p>
            <p>{{ texts.CONFIRMATION.INELIGIBLE.NEXT_INFO_GUIDANCE_2 }}</p>
            {% if user.assistanceNeeded != 'Yes' %}
              <p>{{ texts.CONFIRMATION.INELIGIBLE.IF_YES }}</p>
            {% endif %}
          {% endif %}
        {% else %}
          {% if user.assistanceNeeded == 'No' %}
            {% if user.thirdParty == 'Yes' %}
              <p>{{ texts.CONFIRMATION.RECEIVE_LIST_OB }}</p>
            {% else %}
              <p>{{ texts.CONFIRMATION.RECEIVE_LIST }}</p>
            {% endif %}
          {% endif %}
        {% endif %}
      </div>

      <div class="govuk-body">
        {% if user.qualify.livedConsecutive.answer == 'No' or user.qualify.mentalHealthAct.answer == 'Yes' or user.qualify.onBail.answer == 'Yes' or user.qualify.convicted.answer == 'Yes'  %}
            {% if user.assistanceNeeded == 'Yes' %}
              {% if user.thirdParty == 'Yes' %}
                <p>{{ texts.CONFIRMATION.ADJUSTMENT_ALSO_OB }}</p>
                <p>{{ texts.CONFIRMATION.RECEIVE_LIST_ADJUSTMENT_OB }}</p>
              {% else %}
                <p>{{ texts.CONFIRMATION.ADJUSTMENT_ALSO }}</p>
                <p>{{ texts.CONFIRMATION.RECEIVE_LIST_ADJUSTMENT }}</p>
              {% endif %}
            {% endif %}
        {% else %}
          {% if user.assistanceNeeded == 'Yes' %}
            {% if user.thirdParty == 'Yes' %}
              <p>{{ texts.CONFIRMATION.ADJUSTMENT_OB }}</p>
              <p>{{ texts.CONFIRMATION.RECEIVE_LIST_ADJUSTMENT_OB }}</p>
            {% else %}
              <p>{{ texts.CONFIRMATION.ADJUSTMENT }}</p>
              <p>{{ texts.CONFIRMATION.RECEIVE_LIST_ADJUSTMENT }}</p>
            {% endif %}
          {% endif %}
        {% endif %}
      </div>

      {#list list-bullet #}
      <ul class="govuk-list govuk-list--bullet">
        {% if user.thirdParty == 'Yes' %}
        <li>{{ texts.CONFIRMATION.RECEIVE_LIST_ITEM_1_OB }}</li>
        <li>{{ texts.CONFIRMATION.RECEIVE_LIST_ITEM_2_OB }}</li>
        {% else %}
        <li>{{ texts.CONFIRMATION.RECEIVE_LIST_ITEM_1 }}</li>
        <li>{{ texts.CONFIRMATION.RECEIVE_LIST_ITEM_2 }}</li>
        {% endif %}
      </ul>

      <h2 class="govuk-heading-m">
      {% if user.thirdParty == 'Yes' %}
        {{ texts.CONFIRMATION.GETTING_READY_OB }}
      {% else %}
        {{ texts.CONFIRMATION.GETTING_READY }}
      {% endif %}
      </h2>

      <div class="govuk-body">
      
        {% if user.thirdParty == 'Yes' %}
          <p>{{ texts.CONFIRMATION.GETTING_READY_INFO_OB }}</p>
        {% else %}
          <p>{{ texts.CONFIRMATION.GETTING_READY_INFO }}</p>
        {% endif %}

        {% if user.thirdParty == 'Yes' %}
          <p>
            {{ texts.CONFIRMATION.YOU_CAN_OB }}
            <a class="govuk-link" id="watch-video-link" target="_blank" href="{{texts.CONFIRMATION.WATCH_VIDEO_LINK_URL}}" rel="external" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.WATCH_VIDEO_LINK }}</a>
            {{- texts.CONFIRMATION.WATCH_VIDEO_OB }}
          </p>
        {% else %}
          <p>
            {{ texts.CONFIRMATION.YOU_CAN }}
            <a class="govuk-link" id="watch-video-link" target="_blank" href="{{texts.CONFIRMATION.WATCH_VIDEO_LINK_URL}}" rel="external" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.WATCH_VIDEO_LINK }}</a>
            {{- texts.CONFIRMATION.WATCH_VIDEO }}
          </p>
        {% endif %}

        {% if user.thirdParty == 'Yes' %}
          <p>
            <a class="govuk-link" id ="learn-more-link" target="_blank" href="{{texts.CONFIRMATION.LEARN_MORE_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.LEARN_MORE_LINK_OB }}</a>.
            {{ texts.CONFIRMATION.YOU_CAN_READ_THE }}
            <a class="govuk-link" id ="discuss-trial-link" target="_blank" href="{{texts.CONFIRMATION.DISCUSSING_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.DISCUSSING_LINK_OB }}</a>
            {{ texts.CONFIRMATION.FIND_OUT_OB }} <a class="govuk-link" id ="expenses-info-link" target="_blank" href="{{texts.CONFIRMATION.EXPENSES_INFO_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.EXPENSES_INFO_LINK_OB }}</a>.
          </p>
        {% else %}
          <p>
            <a class="govuk-link" id ="learn-more-link" target="_blank" href="{{texts.CONFIRMATION.LEARN_MORE_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.LEARN_MORE_LINK }}</a>.
            {{ texts.CONFIRMATION.YOU_CAN_READ_THE }}
            <a class="govuk-link" id ="discuss-trial-link" target="_blank" href="{{texts.CONFIRMATION.DISCUSSING_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.DISCUSSING_LINK }}</a>
            {{ texts.CONFIRMATION.FIND_OUT }} <a class="govuk-link" id ="expenses-info-link" target="_blank" href="{{texts.CONFIRMATION.EXPENSES_INFO_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.EXPENSES_INFO_LINK }}</a>.
          </p>
        {% endif %}

        <p>
          {% if user.thirdParty == 'Yes' %}
            <a class="govuk-link" id ="calculate-expenses-link" target="_blank" href="{{texts.CONFIRMATION.CALCULATE_EXPENSES_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.CALCULATE_EXPENSES_LINK_OB }}</a>.
          {% else %}
            <a class="govuk-link" id ="calculate-expenses-link" target="_blank" href="{{texts.CONFIRMATION.CALCULATE_EXPENSES_LINK_URL}}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.CALCULATE_EXPENSES_LINK }}</a>.
          {% endif %}
        </p>

      </div>

      {% include "../../includes/feedback.njk" %}

    </div>
  </div>

{% endblock %}
