{% extends "../../layouts/expense-calculator-default.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
    {{ texts.EXPENSE_CALCULATOR.TRAVEL_PARKING_INFO.HEADING }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}Expense Calculator Travel Parking Info{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../includes/back-link-gds.njk" %}
{% endblock %}

{% block content %}

  {% include "../../includes/errors-gds.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{ url('expense.calculator.travel.parking.info.post') }}" method="post">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            {{- texts.EXPENSE_CALCULATOR.TRAVEL_PARKING_INFO.HEADING -}}
          </h1>
        </legend>

        <p class="govuk-body">{{ texts.EXPENSE_CALCULATOR.TRAVEL_PARKING_INFO.HINT }}</p>

        {# Submit form #}
        {{ govukButton({
            text: texts.EXPENSE_CALCULATOR.INTERFACE.BUTTON_TEXT_CONTINUE
        }) }}

        <input type="hidden" name="_csrf" value="{{ csrftoken }}">

      </form>

    </div>
  </div>

{% endblock %}
