{% extends "../../layouts/default-gds.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% include "../../includes/title-error.njk" %}
  {{ texts.ON_BEHALF.THIRD_PARTY_DETAILS.NAME.TITLE }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}3rd Party Details Name{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../includes/back-link-gds.njk" %}
{% endblock %}

{% block content %}

  {% include "../../includes/errors-gds.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{ url('branches.third.party.details.name.post') }}" method="POST" {% if not IS_PRODUCTION %}novalidate{% endif %}>

        {# Set First Name error #}
        {% if errors.items['firstName'] %}
          {% set firstNameError = {"text": errors.items['firstName'][0].details} %}
        {% else %}
          {% set firstNameError = undefined %}
        {% endif %}

        {# Set Last Namne error #}
        {% if errors.items['lastName'] %}
          {% set lastNameError = {"text": errors.items['lastName'][0].details} %}
        {% else %}
          {% set lastNameError = undefined %}
        {% endif %}
      
        <div class="govuk-form-group {% if errors.items['firstName'] or errors.items['lastName'] %}govuk-form-group--error{% endif %}">
      
          <fieldset class="govuk-fieldset" id="nameFieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                <span class="govuk-caption-l">
                  {{- texts.ON_BEHALF.THIRD_PARTY_DETAILS.CAPTION -}}
                </span>
                {{- texts.ON_BEHALF.THIRD_PARTY_DETAILS.NAME.TITLE -}}
              </h1>
            </legend>

            {# First Name #}
            {{ govukInput({
              label: {
                text: texts.ON_BEHALF.THIRD_PARTY_DETAILS.NAME.LABEL_FIRST_NAME
              },
              id: "firstName",
              name: "firstName",
              errorMessage: firstNameError,
              attributes: {
                minlength: "1",
                maxlength: "50"
              },
              autocomplete: "off",
              classes: "govuk-!-width-one-half",
              value: user.thirdPartyDetails.firstName
            }) }}

            {# Last Name #}
            {{ govukInput({
              label: {
                text: texts.ON_BEHALF.THIRD_PARTY_DETAILS.NAME.LABEL_LAST_NAME
              },
              id: "lastName",
              name: "lastName",
              errorMessage: lastNameError,
              attributes: {
                minlength: "1",
                maxlength: "50"
              },
              autocomplete: "off",
              classes: "govuk-!-width-one-half",
              value: user.thirdPartyDetails.lastName
            }) }}

          </fieldset>

        </div>

        {# Submit form #}
        {{ govukButton({
          text: texts.INTERFACE.BUTTON_TEXT_CONTINUE
        }) }}

        <input type="hidden" name="_csrf" value="{{ csrftoken }}">

      </form>

  </div>
</div>

{% endblock %}
