{% extends "../../layouts/default-gds.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% include "../../includes/title-error.njk" %}
  {{ texts.ON_BEHALF.THIRD_PARTY_DETAILS.RELATIONSHIP.TITLE }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}3rd Party Details{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../includes/back-link-gds.njk" %}
{% endblock %}

{% block content %}

  {% include "../../includes/errors-gds.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{ url('branches.third.party.details.relationship.post') }}" method="POST" {% if not IS_PRODUCTION %}novalidate{% endif %}>

        {# Set Relationship error #}
        {% if errors.items['relationship'] %}
          {% set relationshipError = {"text": errors.items['relationship'][0].details} %}
        {% else %}
          {% set relationshipError = undefined %}
        {% endif %}

        <div class="govuk-form-group {% if errors.items['relationship'] %}govuk-form-group--error{% endif %}">

          <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                <span class="govuk-caption-l">
                  {{- texts.ON_BEHALF.THIRD_PARTY_DETAILS.CAPTION -}}
                </span>
                {{- texts.ON_BEHALF.THIRD_PARTY_DETAILS.RELATIONSHIP.TITLE -}}
              </h1>
            </legend>

            {# Relationship #}
            {{ govukInput({
              label: {
                text: texts.ON_BEHALF.THIRD_PARTY_DETAILS.RELATIONSHIP.LABEL_RELATIONSHIP
              },
              id: "relationship",
              name: "relationship",
              errorMessage: relationshipError,
              attributes: {
                minlength: "1",
                maxlength: "50"
              },
              autocomplete: "off",
              classes: "govuk-!-width-one-half",
              value: user.thirdPartyDetails.relationship
            }) }}

          </fieldset>

        </div>

        {# Submit form #}
        {{ govukButton({
          text: texts.INTERFACE.BUTTON_TEXT_CONTINUE
        }) }}
        
        <input type="hidden" name="_csrf" value="{{ csrftoken }}">

      </form>

  </div>
</div>

{% endblock %}
