{% extends "../../layouts/default-gds.njk" %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% include "../../includes/title-error.njk" %}
  {{ texts.YOUR_DETAILS_PAGE.HEADING_ADDRESS_CHANGE }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}Personal Details Address Change{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../includes/back-link-gds.njk" %}
{% endblock %}

{% block content %}

  {% include "../../includes/errors-gds.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{ url('steps.your.details.address-change.post') }}" method="post" {% if not IS_PRODUCTION %}novalidate{% endif %}>

        {# Set Address Line 1 error #}
        {% if errors.items['addressLineOne'] %}
          {% set address1Error = {"text": errors.items['addressLineOne'][0].details, visuallyHiddenText: texts.ERRORS.HIDDEN_ERROR} %}
        {% else %}
          {% set address1Error = undefined %}
        {% endif %}

        {# Set Address Line 2 error #}
        {% if errors.items['addressLineTwo'] %}
          {% set address2Error = {"text": errors.items['addressLineTwo'][0].details, visuallyHiddenText: texts.ERRORS.HIDDEN_ERROR} %}
        {% else %}
          {% set address2Error = undefined %}
        {% endif %}

        {# Set Address Line 3 error #}
        {% if errors.items['addressLineThree'] %}
          {% set address3Error = {"text": errors.items['addressLineThree'][0].details, visuallyHiddenText: texts.ERRORS.HIDDEN_ERROR} %}
        {% else %}
          {% set address3Error = undefined %}
        {% endif %}

        {# Set Town or City error #}
        {% if errors.items['addressTown'] %}
          {% set townError = {"text": errors.items['addressTown'][0].details, visuallyHiddenText: texts.ERRORS.HIDDEN_ERROR} %}
        {% else %}
          {% set townError = undefined %}
        {% endif %}

        {# Set County error #}
        {% if errors.items['addressCounty'] %}
          {% set countyError = {"text": errors.items['addressCounty'][0].details, visuallyHiddenText: texts.ERRORS.HIDDEN_ERROR} %}
        {% else %}
          {% set countyError = undefined %}
        {% endif %}

        {# Set Postcode error #}
        {% if errors.items['addressPostcode'] %}
          {% set postcodeError = {"text": errors.items['addressPostcode'][0].details, visuallyHiddenText: texts.ERRORS.HIDDEN_ERROR} %}
        {% else %}
          {% set postcodeError = undefined %}
        {% endif %}

        <div class="govuk-form-group {% if errors.addressError %}govuk-form-group--error{% endif %}" id="addressGroup">

          <fieldset class="govuk-fieldset" id="addressFieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                <span class="govuk-caption-l">
                  {{- texts.YOUR_DETAILS_PAGE.CAPTION -}}
                </span>
                {{- texts.YOUR_DETAILS_PAGE.HEADING_ADDRESS_CHANGE -}}
              </h1>
            </legend>

            <div class="govuk-body">

              {# Address Line 1 #}
              {{ govukInput({
                label: {
                  text: texts.YOUR_DETAILS_PAGE.FORM_ADDRESS_LINE_ONE_LABEL
                },
                id: "addressLineOne",
                name: "addressLineOne",
                errorMessage: address1Error,
                attributes: {
                  maxlength: "35"
                },
                autocomplete: "off",
                value: user.addressLineOne
              }) }}

              {# Address Line 2 #}
              {{ govukInput({
                label: {
                  text: texts.YOUR_DETAILS_PAGE.FORM_ADDRESS_LINE_TWO_LABEL
                },
                id: "addressLineTwo",
                name: "addressLineTwo",
                errorMessage: address2Error,
                attributes: {
                  maxlength: "35"
                },
                autocomplete: "off",
                value: user.addressLineTwo
              }) }}

              {# Address Line 3 #}
              {{ govukInput({
                label: {
                  text: texts.YOUR_DETAILS_PAGE.FORM_ADDRESS_LINE_THREE_LABEL
                },
                id: "addressLineThree",
                name: "addressLineThree",
                errorMessage: address3Error,
                attributes: {
                  maxlength: "35"
                },
                autocomplete: "off",
                value: user.addressLineThree
              }) }}

              {# Town or City #}
              {{ govukInput({
                label: {
                  text: texts.YOUR_DETAILS_PAGE.FORM_ADDRESS_TOWN_LABEL
                },
                id: "addressTown",
                name: "addressTown",
                classes: "govuk-!-width-two-thirds",
                errorMessage: townError,
                attributes: {
                  maxlength: "35"
                },
                autocomplete: "off",
                value: user.addressTown
              }) }}

              {# County #}
              {{ govukInput({
                label: {
                  text: texts.YOUR_DETAILS_PAGE.FORM_ADDRESS_COUNTY_LABEL
                },
                id: "addressCounty",
                name: "addressCounty",
                classes: "govuk-!-width-two-thirds",
                errorMessage: countyError,
                attributes: {
                  maxlength: "35"
                },
                autocomplete: "off",
                value: user.addressCounty
              }) }}

              {# Postcode #}
              {{ govukInput({
                label: {
                  text: texts.YOUR_DETAILS_PAGE.FORM_ADDRESS_POSTCODE_LABEL
                },
                id: "addressPostcode",
                name: "addressPostcode",
                classes: "govuk-input--width-10",
                errorMessage: postcodeError,
                attributes: {
                  maxlength: "8"
                },
                autocomplete: "off",
                value: user.addressPostcode
              }) }}

          </fieldset>

        </div>

        {# Info about change of address #}
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary ga-details-change-address">
            <span class="govuk-details__summary-text ga-details-change-address">
              {{ texts.YOUR_DETAILS_PAGE.HELPER_CHANGE_ADDRESS_TITLE }}
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>{{ texts.YOUR_DETAILS_PAGE.HELPER_CHANGE_ADDRESS_PARAGRAPH_1 }}</p>
            <p>{{ texts.YOUR_DETAILS_PAGE.HELPER_CHANGE_ADDRESS_PARAGRAPH_2 }}</p>
          </div>
        </details>

        {# Submit form #}
        {{ govukButton({
            text: texts.INTERFACE.BUTTON_TEXT_CONTINUE
        }) }}

        <input type="hidden" name="_csrf" value="{{ csrftoken }}">

      </form>

    </div>
  </div>

{% endblock %}
