{% extends "../../layouts/default-gds.njk" %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  {% include "../../includes/title-error.njk" %}
  {{ texts.YOUR_DETAILS_PAGE.HEADING_ADDRESS_CONFIRM }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}Personal Details Address{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../includes/back-link-gds.njk" %}
{% endblock %}

{% block content %}

  {% include "../../includes/errors-gds.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{ url('steps.your.details.address.post') }}" method="post" {% if not IS_PRODUCTION %}novalidate{% endif %}>

        {# Set radio errors #}
        {% set radioAnswerError = undefined %}
        {% if errors.items['addressConfirm']%}
          {% set radioAnswerError = {text: errors.items['addressConfirm'][0].details} %}
        {% endif %}

        {# set legend HTML #}
        {% set legendHTML %}
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-l">{{- texts.YOUR_DETAILS_PAGE.CAPTION -}}</span>
            {{- texts.YOUR_DETAILS_PAGE.HEADING_ADDRESS_CONFIRM -}}
          </h1>
        {% endset %}

        {{ govukRadios({
          name: "addressConfirm",
          fieldset: {
            legend: {
              html: legendHTML,
              classes: "govuk-fieldset__legend--l",
              isPageHeading: false
            }
          },
          hint: {
            html: user.addressRender
          },
          errorMessage: radioAnswerError,
          items: [
            {
              id: "addressConfirm-Yes",
              value: texts.YOUR_DETAILS_PAGE.YES,
              text: texts.YOUR_DETAILS_PAGE.FORM_CONFIRM_ADDRESS_YES
            },
            {
              id: "addressConfirm-No",
              value: texts.YOUR_DETAILS_PAGE.NO,
              text: texts.YOUR_DETAILS_PAGE.FORM_CONFIRM_ADDRESS_NO
            }
          ]
        }) }}

        {# Info about change of address #}
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary ga-details-address-change-soon">
            <span class="govuk-details__summary-text ga-details-address-change-soon">
              {{ texts.YOUR_DETAILS_PAGE.HELPER_CONFIRM_ADDRESS_TITLE }}
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>{{ texts.YOUR_DETAILS_PAGE.HELPER_CONFIRM_ADDRESS_PARAGRAPH_1 }}</p>
            <p>{{ texts.YOUR_DETAILS_PAGE.HELPER_CONFIRM_ADDRESS_PARAGRAPH_2 }}</p>
            <p>{{ texts.YOUR_DETAILS_PAGE.HELPER_CONFIRM_ADDRESS_PARAGRAPH_3 }}</p>
          </div>
        </details>

        {# Submit form #}
        {{ govukButton({
            text: texts.INTERFACE.BUTTON_TEXT_CONTINUE
        }) }}

        <input type="hidden" name="_csrf" value="{{ csrftoken }}">

      </form>

    </div>
  </div>

{% endblock %}
