{% extends "../../layouts/default-gds.njk" %}

{% from "../../govuk-frontend/components/details/macro.njk" import govukDetails %}
{% from "../../govuk-frontend/components/date-input/macro.njk" import govukDateInput %}
{% from "../../govuk-frontend/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% include "../../includes/title-error.njk" %}
  {% if user.thirdParty == 'Yes' %}
  {{ texts.YOUR_DETAILS_CONFIRM_PAGE.HEADING_OB }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
  {% else %}
  {{ texts.YOUR_DETAILS_CONFIRM_PAGE.HEADING }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
  {% endif %}
{% endblock %}

{% block page_identifier %}Confirm your date of birth{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../includes/back-link-gds.njk" %}
{% endblock %}

{% block content %}

  {% include "../../includes/errors-gds.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{ url('steps.your.details.confirm.post') }}" method="post" {% if not IS_PRODUCTION %}novalidate{% endif %}>

        {# Set error html #}
        {% set dobError = undefined %}
        {% if errors.items %}
          {% set dobErrorHTML %}
            {% if errors.items['dobDay'] %}
              <span class="govuk-error-message dateOfBirthErrorMessage" id="dobDayErrorMessage">
              <span class="govuk-visually-hidden">{{texts.ERRORS.TITLE_ERROR}}</span>{{ errors.items['dobDay'][0].details }}
              </span>
            {% endif %}
            {% if errors.items['dobMonth'] %}
              <span class="govuk-error-message dateOfBirthErrorMessage" id="dobMonthErrorMessage">
              <span class="govuk-visually-hidden">{{texts.ERRORS.TITLE_ERROR}}</span>{{ errors.items['dobMonth'][0].details }}
              </span>
            {% endif %}
            {% if errors.items['dobYear'] %}
              <span class="govuk-error-message dateOfBirthErrorMessage" id="dobYearErrorMessage">
              <span class="govuk-visually-hidden">{{texts.ERRORS.TITLE_ERROR}}</span>{{ errors.items['dobYear'][0].details }}
              </span>
            {% endif %}
            {% if errors.items['dateOfBirth'] %}
              <span class="govuk-error-message dateOfBirthErrorMessage" id="dateOfBirthErrorMessage">
              <span class="govuk-visually-hidden">{{texts.ERRORS.TITLE_ERROR}}</span>{{ errors.items['dateOfBirth'][0].details }}
              </span>
            {% endif %}
          {% endset %}
          {% set dobError = {"html": dobErrorHTML} %}
        {% endif %}

        {% set dobDayClass = "govuk-input--width-2" %}
        {% if errors.items['dobDay']  or errors.items['dateOfBirth'] %}
            {% set dobDayClass = "govuk-input--width-2 govuk-input--error" %}
        {% endif %}

        {% set dobMonthClass = "govuk-input--width-2" %}
        {% if errors.items['dobMonth']  or errors.items['dateOfBirth'] %}
            {% set dobMonthClass = "govuk-input--width-2 govuk-input--error" %}
        {% endif %}

        {% set dobYearClass = "govuk-input--width-4" %}
        {% if errors.items['dobYear'] or errors.items['dateOfBirth'] %}
            {% set dobYearClass = "govuk-input--width-4 govuk-input--error" %}
        {% endif %}

        <div class="govuk-form-group {% if dobError %}govuk-form-group--error{% endif %}">

          <fieldset class="govuk-fieldset inline-edit" id="dateOfBirthGroup">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                <span class="govuk-caption-xl">
                  {% if user.thirdParty == 'Yes' %}
                    {{ texts.YOUR_DETAILS_CONFIRM_PAGE.CAPTION_OB }}
                  {% else %}
                    {{ texts.YOUR_DETAILS_CONFIRM_PAGE.CAPTION }}
                  {% endif %}
                </span>
                {% if user.thirdParty == 'Yes' %}
                  {{ texts.YOUR_DETAILS_CONFIRM_PAGE.HEADING_OB }}
                {% else %}
                  {{ texts.YOUR_DETAILS_CONFIRM_PAGE.HEADING }}
                {% endif %}
              </h1>
            </legend>

            {% if user.thirdParty == 'Yes' %}
              {% if dobError == undefined %}
                <p class="govuk-body">{{ 'YOUR_DETAILS_CONFIRM_PAGE.DOB_CURRENT_VALUE_OB' | translate(texts, { formattedDob: formattedDob }) }}</p>
                <p class="govuk-body">{{ 'YOUR_DETAILS_CONFIRM_PAGE.DOB_CURRENT_AGE_OB' | translate(texts, { currentAge: currentAge }) }}</p>
              {% endif %}
              <p><strong class="govuk-body govuk-!-font-weight-bold">{{ texts.YOUR_DETAILS_CONFIRM_PAGE.DOB_CONFIRM_MESSAGE_OB }}</strong></p>
            {% else %}
              {% if dobError == undefined %}
                <p class="govuk-body">{{ 'YOUR_DETAILS_CONFIRM_PAGE.DOB_CURRENT_VALUE' | translate(texts, { formattedDob: formattedDob }) }}</p>
                <p class="govuk-body">{{ 'YOUR_DETAILS_CONFIRM_PAGE.DOB_CURRENT_AGE' | translate(texts, { currentAge: currentAge }) }}</p>
              {% endif %}
              <p><strong class="govuk-body govuk-!-font-weight-bold">{{ texts.YOUR_DETAILS_CONFIRM_PAGE.DOB_CONFIRM_MESSAGE }}</strong></p>
            {% endif %}

            <label class="govuk-label govuk-!-font-weight-bold">{{ texts.YOUR_DETAILS_PAGE.FORM_DOB_SUBTITLE }}</label>

            <div class="govuk-grid-row inline-section primary {% if errors.items %}closed govuk-error{% endif %} " id="dateOfBirthGroup">
              <div class="govuk-grid-column-one-half govuk-body">{{ formattedDob }}</div>
              <div class="govuk-grid-column-one-half govuk-body">
                <a href="#dateOfBirthGroup" class="govuk-link inline-edit-toggle" id="changeDob">{{ texts.INTERFACE.FORM_CHANGE_LABEL }}<span class="govuk-visually-hidden">{{ texts.YOUR_DETAILS_PAGE.FORM_DOB_SUBTITLE }}</span></a>
              </div>
            </div>

            <div class="inline-section {% if errors.items %}show{% else %}hide{% endif %}" id="dateOfBirthGroup">

              {# Confirm date of birth #}
              {{ govukDateInput({
                id: "dateOfBirth",
                hint: {
                  text: texts.YOUR_DETAILS_PAGE.FORM_DOB_HELPER
                },
                errorMessage: dobError,
                items: [
                  {
                    id: "dobDay",
                    name: "dobDay",
                    classes: dobDayClass,
                    autocomplete: "off",
                    label: texts.YOUR_DETAILS_PAGE.FORM_DOB_DAY_LABEL,
                    attributes: {
                      pattern: "[0-9]*",
                      min: "1",
                      max: "31",
                      minlength: "1",
                      maxlength: "2"
                    },
                    value: user.dobDay
                  },
                  {
                    id: "dobMonth",
                    name: "dobMonth",
                    classes: dobMonthClass,
                    autocomplete: "off",
                    label: texts.YOUR_DETAILS_PAGE.FORM_DOB_MONTH_LABEL,
                    attributes: {
                      pattern: "[0-9]*",
                      min: "1",
                      max: "12",
                      maxlength: "2"
                    },
                    value: user.dobMonth
                  },
                  {
                    id: "dobYear",
                    name: "dobYear",
                    classes: dobYearClass,
                    autocomplete: "off",
                    label: texts.YOUR_DETAILS_PAGE.FORM_DOB_YEAR_LABEL,
                    attributes: {
                      pattern: "[0-9]*",
                      maxlength: "4"
                    },
                    value: user.dobYear
                  }
                ]
              }) }}
              
            </div>

          </fieldset>

        </div>

        {# Submit form #}
        {{ govukButton({
            text: texts.INTERFACE.BUTTON_TEXT_CONTINUE
        }) }}

        <input type="hidden" name="_csrf" value="{{ csrftoken }}">

      </form>
    </div>
  </div>


{% endblock %}
