{% extends "../../layouts/default-gds.njk" %}

{% from "../../govuk-frontend/components/details/macro.njk" import govukDetails %}
{% from "../../govuk-frontend/components/date-input/macro.njk" import govukDateInput %}
{% from "../../govuk-frontend/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% include "../../includes/title-error.njk" %}
  {{ texts.YOUR_DETAILS_PAGE.HEADING }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}Personal Details Date Of Birth{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../includes/back-link-gds.njk" %}
{% endblock %}

{% block content %}

{% include "../../includes/errors-gds.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{ url('steps.your.details.date-of-birth.post') }}" method="post" {% if not IS_PRODUCTION %}novalidate{% endif %}>

      {# Set Date of birth error #}
      {% set dobError = undefined %}
      {% if errors.items['dateOfBirth'][0].fields %}
        {% set dobErrorHTML %}
          {% for errorField in errors.items['dateOfBirth'][0].fields %}
            {% if errorField !== 'dateOfBirth' %}
              <span class="govuk-error-message dateOfBirthErrorMessage" id="{{ errorField }}ErrorMessage">
                <span class="govuk-visually-hidden">{{texts.ERRORS.HIDDEN_ERROR}}: </span>
                {{ errors.items['dateOfBirth'][0].details[loop.index0] }}
              </span>
            {% endif %}
          {% endfor %}
        {% endset %}
        {% set dobError = {"html": dobErrorHTML} %}
      {% else %}
        {% if errors.items['dateOfBirth'] %}
          {% set dobErrorHTML %}
            <span class="govuk-error-message dateOfBirthErrorMessage" id="dateOfBirthErrorMessage">{{ errors.items['dateOfBirth'][0].details }}</span>
          {% endset %}
          {% set dobError = {"html": dobErrorHTML} %}
        {% endif %}
      {% endif %}

      <div class="govuk-form-group {% if errors.items['dateOfBirth'] %}govuk-form-group--error{% endif %}" id="dateOfBirthGroup">

        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-xl">
                {{- texts.YOUR_DETAILS_PAGE.CAPTION -}}
              </span>
              {{- texts.YOUR_DETAILS_PAGE.HEADING_DATE_OF_BIRTH -}}
            </h1>
          </legend>

          {{ govukDateInput({
            id: "dateOfBirth",
            hint: {
              text: texts.YOUR_DETAILS_PAGE.FORM_DOB_HELPER
            },
            errorMessage: dobError,
            items: [
              {
                id: "dobDay",
                name: "dobDay",
                classes: "govuk-input--width-2",
                autocomplete: "off",
                label: texts.YOUR_DETAILS_PAGE.FORM_DOB_DAY_LABEL,
                attributes: {
                  pattern: "[0-9]*",
                  min: "1",
                  max: "31",
                  minlength: "1",
                  maxlength: "2"
                },
                value: user.dobDay
              },
              {
                id: "dobMonth",
                name: "dobMonth",
                classes: "govuk-input--width-2",
                autocomplete: "off",
                label: texts.YOUR_DETAILS_PAGE.FORM_DOB_MONTH_LABEL,
                attributes: {
                  pattern: "[0-9]*",
                  min: "1",
                  max: "12",
                  maxlength: "2"
                },
                value: user.dobMonth
              },
              {
                id: "dobYear",
                name: "dobYear",
                classes: "govuk-input--width-4",
                autocomplete: "off",
                label: texts.YOUR_DETAILS_PAGE.FORM_DOB_YEAR_LABEL,
                attributes: {
                  pattern: "[0-9]*",
                  maxlength: "4"
                },
                value: user.dobYear
              }
            ]
          }) }}
          
        </fieldset>

      </div>

      {# Info about DOB #}
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text" {% if trackingCode %}onclick="trackVirtualPageViews('Help with date of birth')"{% endif %}>
              {{- texts.YOUR_DETAILS_PAGE.FORM_DOB_HELPER_TITLE -}}
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>{{ texts.YOUR_DETAILS_PAGE.FORM_DOB_HELPER_PARAGRAPH_1 }}</p>
            <p>{{ texts.YOUR_DETAILS_PAGE.FORM_DOB_HELPER_PARAGRAPH_2 }}</p>
            <p>
              {{ texts.YOUR_DETAILS_PAGE.FORM_DOB_HELPER_PARAGRAPH_3 }}
            
              {% if texts.INTERFACE.HTML_LANG === "cy" %}
                <br>
                {% if texts.INTERFACE.CONTACT_TELEPHONE_1 %}
                  {{ texts.INTERFACE.CONTACT_TELEPHONE_LABEL_1 }}<a class="govuk-link" href="{{ texts.INTERFACE.CONTACT_TELEPHONE_LINK_1 }}">{{ texts.INTERFACE.CONTACT_TELEPHONE_1}}</a>
                {% endif %}
                <br>
                {% if texts.INTERFACE.CONTACT_TELEPHONE_2 %}
                  {{ texts.INTERFACE.CONTACT_TELEPHONE_LABEL_2 }}<a class="govuk-link" href="{{ texts.INTERFACE.CONTACT_TELEPHONE_LINK_2 }}">{{ texts.INTERFACE.CONTACT_TELEPHONE_2}}</a>
                {% endif %}
                <br>
                {{ texts.YOUR_DETAILS_PAGE.FORM_DOB_HELPER_PARAGRAPH_4 }}
              {% endif %}
            </p>
          </div>
        </details>

        {# Submit form #}
        {{ govukButton({
            text: texts.INTERFACE.BUTTON_TEXT_CONTINUE
        }) }}

      <input type="hidden" name="_csrf" value="{{ csrftoken }}">

    </form>

  </div>
</div>

{% endblock %}
