{% extends "../../layouts/default-gds.njk" %}

{% from "../../govuk-frontend/components/details/macro.njk" import govukDetails %}
{% from "../../govuk-frontend/components/input/macro.njk" import govukInput %}
{% from "../../govuk-frontend/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% include "../../includes/title-error.njk" %}
  {{ texts.YOUR_DETAILS_PAGE.HEADING_NAME_CONFIRM }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}Personal Details Name{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../includes/back-link-gds.njk" %}
{% endblock %}

{% block content %}

  {% include "../../includes/errors-gds.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{ url('steps.your.details.name.post') }}" method="post" {% if not IS_PRODUCTION %}novalidate{% endif %}>

        {# Set radio labels #}
        {% set radioYesLabel = texts.YOUR_DETAILS_PAGE.FORM_CONFIRM_NAME_YES %}
        {% set radioNoLabel = texts.YOUR_DETAILS_PAGE.FORM_CONFIRM_NAME_NO %}

        {# Set radio values #}
        {% if user.nameConfirm === texts.YOUR_DETAILS_PAGE.YES %}
          {% set radioYesChecked = 'checked="checked"' %}
        {% else %}
          {% set radioYesChecked = undefined %}
        {% endif %}
        {% if user.nameConfirm === texts.YOUR_DETAILS_PAGE.NO %}
          {% set radioNoChecked = 'checked="checked"' %}
        {% else %}
          {% set radioNoChecked = undefined %}
        {% endif %}

        {# Set radio errors #}
        {% set radioAnswerError = undefined %}
        {% if errors.items['nameConfirm']%}
          {% set radioAnswerError = {text: errors.items['nameConfirm'][0].details} %}
        {% endif %}

        <div class="govuk-form-group {% if errors.nameError %}govuk-form-group--error{% endif %}" id="nameGroup">

          <fieldset class="govuk-fieldset" id="nameFieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                <span class="govuk-caption-xl">
                  {{- texts.YOUR_DETAILS_PAGE.CAPTION -}}
                </span>
                {{- texts.YOUR_DETAILS_PAGE.HEADING_NAME_CONFIRM -}}
              </h1>
            </legend>

            <div class="govuk-body">{{ user.nameRender | safe }}</div>

            <div class="govuk-radios" data-module="radios">
              {% if radioAnswerError %}
                <span id="nameConfirmError" class="govuk-error-message">
                  <span class="govuk-visually-hidden">{{texts.ERRORS.HIDDEN_ERROR}}: </span>
                  {{- radioAnswerError.text -}}
                </span>
              {% endif%}

              {# Radio YES #}
              <div class="govuk-radios__item">    
                <input class="selection-button-radio govuk-radios__input store-updated-information" id="nameConfirm-Yes" name="nameConfirm" type="radio" value="{{ texts.YOUR_DETAILS_PAGE.YES }}" {{radioYesChecked}}}>
                <label class="govuk-radios__label" for="nameConfirm-Yes">
                  {{ radioYesLabel }}
                </label>
              </div>

              {# Radio NO #}
              <div class="govuk-radios__item">
                <input class="selection-button-radio govuk-radios__input store-updated-information" id="nameConfirm-No" name="nameConfirm" type="radio" value="{{ texts.YOUR_DETAILS_PAGE.NO }}" {{radioNoChecked}}}>
                <label class="govuk-label govuk-radios__label" for="nameConfirm-No">
                  {{ radioNoLabel }}
                </label>
              </div>
            </div>

          </fieldset>

        </div>

        {# Submit form #}
        {{ govukButton({
            text: texts.INTERFACE.BUTTON_TEXT_CONTINUE
        }) }}

        <input type="hidden" name="_csrf" value="{{ csrftoken }}">

      </form>
      
    </div>
  </div>

{% endblock %}
