{% extends "../../layouts/default.njk" %}

{% block page_title %}
  {% include "../../includes/title-error.njk" %}
  {{ texts.ON_BEHALF.THIRD_PARTY_CONTACT_DETAILS.HEADER }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}3rd Party Contact Details{% endblock %}

{% block content %}

<div class="grid-row">
  <div class="column-two-thirds">

    {% include "../../includes/back-link.njk" %}
    {% include "../../includes/errors.njk" %}

    <form action="{{ url('branches.third.party.contact.details.post') }}" method="post" {% if not IS_PRODUCTION %}novalidate{% endif %}>

      <div class="form-group {% if errors.items['primaryPhone'] or errors.items['secondaryPhone'] or errors.items['useJurorPhoneDetails'] or errors.items['useJurorEmailDetails'] or errors.items['emailAddress'] or errors.items['emailAddressConfirmation'] %}error{% endif %}" id="thirdPartyReasonGroup">

      <h1 class="heading-xlarge">
        <div class="heading-secondary">
          {{ texts.ON_BEHALF.THIRD_PARTY_CONTACT_DETAILS.CAPTION }}
        </div>
        {{ texts.ON_BEHALF.THIRD_PARTY_CONTACT_DETAILS.HEADER }}
      </h1>

      <fieldset>
        <legend>
          <span class="lede">
            <strong class="bold-medium">{{ texts.ON_BEHALF.THIRD_PARTY_CONTACT_DETAILS.CONTACT }}</strong>
          </span>
        </legend>

        <p>
          {{ texts.ON_BEHALF.THIRD_PARTY_CONTACT_DETAILS.CONTACT_PARAGRAPH }}
        </p>

        <div class="bold-small">{{ texts.ON_BEHALF.THIRD_PARTY_CONTACT_DETAILS.PHONE }}</div>
        {{ texts.ON_BEHALF.THIRD_PARTY_CONTACT_DETAILS.PHONE_PARAGRAPH }}
        {% if errors.items['useJurorPhoneDetails'] %}<span class="error-message" id="useJurorPhoneDetailsGroup">{{ errors.items['useJurorPhoneDetails'][0].details }}</span>{% endif %}

        <div class="form-group">
          <br>
          <label class="block-label selection-button-radio" for="phoneNumber_existing">
            <input id="phoneNumber_existing" type="radio" name="useJurorPhoneDetails" value="No" {% if user.useJurorPhoneDetails == 'No' %}checked="checked"{% endif %}>
            {{ texts.ON_BEHALF.THIRD_PARTY_CONTACT_DETAILS.PHONE_USE_PREVIOUS }}
          </label>

          <label class="block-label selection-button-radio" for="phoneNumber_new" data-target="newPhoneNumber">
            <input id="phoneNumber_new" type="radio" name="useJurorPhoneDetails" value="Yes" {% if user.useJurorPhoneDetails == 'Yes' %}checked="checked"{% endif %}>
            {{ texts.ON_BEHALF.THIRD_PARTY_CONTACT_DETAILS.PHONE_GIVE_NEW }}
          </label>
          <div class="panel panel-border-narrow js-hidden" id="newPhoneNumber">
            <div class="form-group">
              <label class="form-label" for="primaryPhone">{{ texts.ON_BEHALF.THIRD_PARTY_CONTACT_DETAILS.MAIN_PHONE }}</label>
              {% if errors.items['primaryPhone'] %}<span class="error-message" id="primaryPhoneErrorMessage">{{ errors.items['primaryPhone'][0].details }}</span>{% endif %}
              <input class="form-control" name="primaryPhone" type="text" inputmode="numeric" id="primaryPhone" value="{{ user.primaryPhone }}" autocomplete="off" {% if errors.items['primaryPhone'] %}aria-describedby="primaryPhoneErrorMessage"{% endif %}>
            </div>
            <div class="form-group">
              <label class="form-label" for="secondaryPhone">{{ texts.ON_BEHALF.THIRD_PARTY_CONTACT_DETAILS.OTHER_PHONE }}</label>
              {% if errors.items['secondaryPhone'] %}<span class="error-message" id="secondaryPhoneErrorMessage">{{ errors.items['secondaryPhone'][0].details }}</span>{% endif %}
              <input class="form-control" name="secondaryPhone" type="text" inputmode="numeric" id="secondaryPhone" value="{{ user.secondaryPhone }}" autocomplete="off" {% if errors.items['secondaryPhone'] %}aria-describedby="secondaryPhoneErrorMessage"{% endif %}>
            </div>
          </div>
        </div>

        <div class="bold-small">{{ texts.ON_BEHALF.THIRD_PARTY_CONTACT_DETAILS.EMAIL }}</div>
        {{ texts.ON_BEHALF.THIRD_PARTY_CONTACT_DETAILS.EMAIL_PARAGRAPH }}
        {% if errors.items['useJurorEmailDetails'] %}<span class="error-message" id="useJurorEmailDetailsGroup">{{ errors.items['useJurorEmailDetails'][0].details }}</span>{% endif %}

        <div class="form-group">
          <br>
          <label class="block-label selection-button-radio" for="emailAddress_existing">
            <input id="emailAddress_existing" type="radio" name="useJurorEmailDetails" value="No" {% if user.useJurorEmailDetails == 'No' %}checked="checked"{% endif %}>
            {{ texts.ON_BEHALF.THIRD_PARTY_CONTACT_DETAILS.EMAIL_USE_PREVIOUS }}
          </label>

          <label class="block-label selection-button-radio" for="emailAddress_new" data-target="newEmailAddress">
            <input id="emailAddress_new" type="radio" name="useJurorEmailDetails" value="Yes" {% if user.useJurorEmailDetails == 'Yes' %}checked="checked"{% endif %}>
            {{ texts.ON_BEHALF.THIRD_PARTY_CONTACT_DETAILS.EMAIL_GIVE_NEW }}
          </label>
          <div class="panel panel-border-narrow js-hidden" id="newEmailAddress">
            <div class="form-group">
              <label class="form-label" for="emailAddress">{{ texts.ON_BEHALF.THIRD_PARTY_CONTACT_DETAILS.EMAIL_ENTER }}</label>
              {% if errors.items['emailAddress'] %}<span class="error-message" id="emailAddressErrorMessage">{{ errors.items['emailAddress'][0].details }}</span>{% endif %}
              <input class="form-control" type="email" id="emailAddress" name="emailAddress" maxlength="254" value="{{ user.emailAddress }}" autocomplete="off" {% if errors.items['emailAddress'] %}aria-describedby="emailAddressErrorMessage"{% endif %}>
            </div>
            <div class="form-group">
              <label class="form-label" for="emailAddressConfirmation">{{ texts.ON_BEHALF.THIRD_PARTY_CONTACT_DETAILS.EMAIL_ENTER_CONFIRM }}</label>
              {% if errors.items['emailAddressConfirmation'] %}<span class="error-message" id="emailAddressConfirmationErrorMessage">{{ errors.items['emailAddressConfirmation'][0].details }}</span>{% endif %}
              <input class="form-control" type="email" id="emailAddressConfirmation" name="emailAddressConfirmation" maxlength="254" value="{{ user.emailAddressConfirmation }}" autocomplete="off" {% if errors.items['emailAddressConfirmation'] %}aria-describedby="emailAddressConfirmationErrorMessage"{% endif %}>
            </div>
          </div>
        </div>


        <div class="form-group">
          <details>
            <summary>{{ texts.ON_BEHALF.THIRD_PARTY_CONTACT_DETAILS.EMAIL_HELPER_TITLE }}</summary>
            <div class="panel panel-border-narrow" id="details-content-1" aria-hidden="true">
              <p>
                {{ texts.ON_BEHALF.THIRD_PARTY_CONTACT_DETAILS.EMAIL_HELPER_TEXT }}
              </p>
            </div>
          </details>
        </div>
      </fieldset>

      {# Submit form #}
      <input type="hidden" name="_csrf" value="{{ csrftoken }}">
      <input class="button" type="submit" value="{{ texts.INTERFACE.BUTTON_TEXT_CONTINUE }}">
    </form>
  </div>
</div>
{% endblock %}
