{% extends "../../layouts/default-gds.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% include "../../includes/title-error.njk" %}
  {{ texts.REPLY_TYPE.HEADER }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}Responder Type{% endblock %}

{% block content %}
  
  {% include "../../includes/errors-gds.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ url('steps.responder.type.post') }}" method="post">

        {% if errors.count > 0 %}
          {% set radiosError = {text: errors.items['thirdParty'][0].details, visuallyHiddenText: texts.ERRORS.HIDDEN_ERROR} %}
        {% else %}
          {% set radiosError = undefined %}
        {% endif %}
        
        {{ govukRadios({
          classes: "govuk-radios",
          name: "thirdParty",
          fieldset: {
            legend: {
              text: texts.REPLY_TYPE.HEADER,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: radiosError,
          items: [
            {
              id: "thirdParty_No",
              value: "No",
              text: texts.REPLY_TYPE.REPLY_SELF,
              hint: {
                text: texts.REPLY_TYPE.REPLY_SELF_INFO
              }
            },
            {
              id: "thirdParty_Yes",
              value: "Yes",
              text: texts.REPLY_TYPE.REPLY_TP,
              hint: { 
                text: texts.REPLY_TYPE.REPLY_TP_INFO
              }
            }
          ]})
        }}

        {% if texts.INTERFACE.HTML_LANG === "cy" %}
          {% set guidanceText %}
            {{ texts.REPLY_TYPE.NEED_HELP_TEXT }}
            <br>
            {% if texts.INTERFACE.CONTACT_TELEPHONE_1 %}
              {{ texts.INTERFACE.CONTACT_TELEPHONE_LABEL_1 }}<a class="govuk-link" href="{{ texts.INTERFACE.CONTACT_TELEPHONE_LINK_1 }}">{{ texts.INTERFACE.CONTACT_TELEPHONE_1}}</a>
            {% endif %}
            <br>
            {% if texts.INTERFACE.CONTACT_TELEPHONE_2 %}
              {{ texts.INTERFACE.CONTACT_TELEPHONE_LABEL_2 }}<a class="govuk-link" href="{{ texts.INTERFACE.CONTACT_TELEPHONE_LINK_2 }}">{{ texts.INTERFACE.CONTACT_TELEPHONE_2}}</a>
            {% endif %}
          {% endset %}
        {% else %}
          {% set guidanceText %}
            {{ texts.REPLY_TYPE.NEED_HELP_TEXT }}
          {% endset %}
        {% endif %}
  
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary ga-details-help-replying">
            <span class="govuk-details__summary-text ga-details-help-replying">
              {{ texts.REPLY_TYPE.NEED_HELP }}
            </span>
          </summary>
          <div class="govuk-details__text">
            {{ guidanceText | safe }}
          </div>
        </details>

        {# Submit form #}
        {{ govukButton({
          text: texts.INTERFACE.BUTTON_TEXT_CONTINUE
        }) }}

        <input type="hidden" name="_csrf" value="{{ csrftoken }}">

      </form>
    </div>
  </div>

{% endblock %}
