.icon-calendar {
  background-image: url('/img/govuk/icon-calendar.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-calendar {
    background-image: url('/img/govuk/icon-calendar-2x.png');
  }
}

.icon-file-download {
  background-image: url('/img/govuk/icon-file-download.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-file-download {
    background-image: url('/img/govuk/icon-file-download-2x.png');
  }
}

.icon-important {
  background-image: url('/img/govuk/icon-important.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-important {
    background-image: url('/img/govuk/icon-important-2x.png');
  }
}

.icon-information {
  background-image: url('/img/govuk/icon-information.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-information {
    background-image: url('/img/govuk/icon-information-2x.png');
  }
}

.icon-locator {
  background-image: url('/img/govuk/icon-locator.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-locator {
    background-image: url('/img/govuk/icon-locator-2x.png');
  }
}

.icon-pointer {
  background-image: url('/img/govuk/icon-pointer.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-pointer {
    background-image: url('/img/govuk/icon-pointer-2x.png');
  }
}

.icon-pointer-black {
  background-image: url('/img/govuk/icon-pointer-black.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-pointer-black {
    background-image: url('/img/govuk/icon-pointer-black-2x.png');
  }
}

.icon-search {
  background-image: url('/img/govuk/icon-search.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-search {
    background-image: url('/img/govuk/icon-search-2x.png');
  }
}

.icon-step-1 {
  background-image: url('/img/govuk/icon-steps/icon-step-1.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-1 {
    background-image: url('/img/govuk/icon-steps/icon-step-1-2x.png');
  }
}

.icon-step-2 {
  background-image: url('/img/govuk/icon-steps/icon-step-2.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-2 {
    background-image: url('/img/govuk/icon-steps/icon-step-2-2x.png');
  }
}

.icon-step-3 {
  background-image: url('/img/govuk/icon-steps/icon-step-3.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-3 {
    background-image: url('/img/govuk/icon-steps/icon-step-3-2x.png');
  }
}

.icon-step-4 {
  background-image: url('/img/govuk/icon-steps/icon-step-4.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-4 {
    background-image: url('/img/govuk/icon-steps/icon-step-4-2x.png');
  }
}

.icon-step-5 {
  background-image: url('/img/govuk/icon-steps/icon-step-5.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-5 {
    background-image: url('/img/govuk/icon-steps/icon-step-5-2x.png');
  }
}

.icon-step-6 {
  background-image: url('/img/govuk/icon-steps/icon-step-6.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-6 {
    background-image: url('/img/govuk/icon-steps/icon-step-6-2x.png');
  }
}

.icon-step-7 {
  background-image: url('/img/govuk/icon-steps/icon-step-7.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-7 {
    background-image: url('/img/govuk/icon-steps/icon-step-7-2x.png');
  }
}

.icon-step-8 {
  background-image: url('/img/govuk/icon-steps/icon-step-8.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-8 {
    background-image: url('/img/govuk/icon-steps/icon-step-8-2x.png');
  }
}

.icon-step-9 {
  background-image: url('/img/govuk/icon-steps/icon-step-9.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-9 {
    background-image: url('/img/govuk/icon-steps/icon-step-9-2x.png');
  }
}

.icon-step-10 {
  background-image: url('/img/govuk/icon-steps/icon-step-10.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-10 {
    background-image: url('/img/govuk/icon-steps/icon-step-10-2x.png');
  }
}

.icon-step-11 {
  background-image: url('/img/govuk/icon-steps/icon-step-11.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-11 {
    background-image: url('/img/govuk/icon-steps/icon-step-11-2x.png');
  }
}

.icon-step-12 {
  background-image: url('/img/govuk/icon-steps/icon-step-12.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-12 {
    background-image: url('/img/govuk/icon-steps/icon-step-12-2x.png');
  }
}

.icon-step-13 {
  background-image: url('/img/govuk/icon-steps/icon-step-13.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-13 {
    background-image: url('/img/govuk/icon-steps/icon-step-13-2x.png');
  }
}

.icon-step-14 {
  background-image: url('/img/govuk/icon-steps/icon-step-14.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-14 {
    background-image: url('/img/govuk/icon-steps/icon-step-14-2x.png');
  }
}

.icon-profile {
  @include icon(icon-profile, 27, 27);
  background-image: url('/img/icons/icon-profile.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-profile {
    background-image: url('/img/icons/icon-profile-2x.png');
  }
}

.icon-load {
  @include icon(icon-load, 27, 27);
  background-image: url('/img/icons/icon-load.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-load {
    background-image: url('/img/icons/icon-load-2x.png');
  }
}

.icon-clock {
  @include icon(icon-clock, 27, 27);
  background-image: url('/img/icons/icon-clock.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-clock {
    background-image: url('/img/icons/icon-clock-2x.png');
  }
}

.icon-warning-red {
  @include icon(icon-warning-red, 27, 27);
  background-image: url('/img/icons/icon-warning-red.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-warning-red {
    background-image: url('/img/icons/icon-warning-red-2x.png');
  }
}

.icon-arrow-left {
  @include icon(icon-arrow-left, 6, 10);
  background-image: url('/img/govuk/icon-arrow-left.png');
}

.icon-info {
  @include icon(icon-info, 27, 27);
  background-image: url('/img/icons/icon-info.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-info {
    background-image: url('/img/icons/icon-info-2x.png');
  }
}
