{% extends "../../layouts/default-gds.njk" %}

{% from "../../govuk-frontend/components/radios/macro.njk" import govukRadios %}
{% from "../../govuk-frontend/components/character-count/macro.njk" import govukCharacterCount %}
{% from "../../govuk-frontend/components/textarea/macro.njk" import govukTextarea %}
{% from "../../govuk-frontend/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% include "../../includes/title-error.njk" %}
  {% if user.thirdParty == 'Yes' %}
    {{ texts.QUALIFY_PAGE.BAIL_TITLE_OB }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
  {% else %}
    {{ texts.QUALIFY_PAGE.BAIL_TITLE }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
  {% endif %}
{% endblock %}

{% block page_identifier %}Eligibility Bail{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../includes/back-link-gds.njk" %}
{% endblock %}

{% block content %}

  {% include "../../includes/errors-gds.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <form action="{{ url('steps.qualify.bail.post') }}" method="post">

        {# Set radio labels #}
        {% if user.thirdParty == 'Yes' %}
          {% set radioYesLabel = texts.QUALIFY_PAGE.BAIL_YES_OB  %}
          {% set radioNoLabel = texts.QUALIFY_PAGE.BAIL_NO_OB %}
        {% else %}
          {% set radioYesLabel = texts.QUALIFY_PAGE.BAIL_YES %}
          {% set radioNoLabel = texts.QUALIFY_PAGE.BAIL_NO %}
        {% endif %}

        {# Set radio values #}
        {% if user.qualify.onBail.answer === texts.QUALIFY_PAGE.YES %}
          {% set radioYesChecked = 'checked="checked"' %}
        {% else %}
          {% set radioYesChecked = undefined %}
        {% endif %}
        {% if user.qualify.onBail.answer === texts.QUALIFY_PAGE.NO %}
          {% set radioNoChecked = 'checked="checked"' %}
        {% else %}
          {% set radioNoChecked = undefined %}
        {% endif %}

        {# Set radio errors #}
        {% set radioAnswerError = undefined %}
        {% set radioDetailsError = undefined %}
        {% if errors.items['onBail']%}
          {% set radioAnswerError = {"text": errors.items['onBail'][0].details, visuallyHiddenText: texts.ERRORS.HIDDEN_ERROR} %}
        {% endif %}
        {% if errors.items['onBailDetails']%}
          {% set radioDetailsError = {"text": errors.items['onBailDetails'][0].details, visuallyHiddenText: texts.ERRORS.HIDDEN_ERROR} %}
        {% endif %}

        <div class="govuk-form-group {% if radioAnswerError or radioDetailsError %}govuk-form-group--error{% endif %}" id="onBailGroup">

          <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                <span class="govuk-caption-xl">
                  {% if user.thirdParty == 'Yes' %}
                    {{ texts.QUALIFY_PAGE.CAPTION_OB }}
                  {% else %}
                    {{ texts.QUALIFY_PAGE.CAPTION }}
                  {% endif %}
                </span>
                {% if user.thirdParty == 'Yes' %}
                  {{ texts.QUALIFY_PAGE.BAIL_TITLE_OB }}
                {% else %}
                  {{ texts.QUALIFY_PAGE.BAIL_TITLE }}
                {% endif %}
              </h1>
            </legend>

            <span class="govuk-hint" id="onBail-hint">
              {{texts.QUALIFY_PAGE.UNSURE_PROMPT}}
              <a class="govuk-link" href="{{ url('steps.qualify.bail.info') }}">
                {{ texts.QUALIFY_PAGE.MORE_INFO_LINK }}<span class="govuk-visually-hidden">{{ texts.QUALIFY_PAGE.BAIL_MORE_INFO_LINK }}</span>
              </a>
            </span>
            
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

              {% if radioAnswerError %}
                <span id="onBailError" class="govuk-error-message">
                  <span class="govuk-visually-hidden">{{texts.ERRORS.HIDDEN_ERROR}}: </span>
                  {{- radioAnswerError.text -}}
                </span>
              {% endif%}

              {# Radio YES #}
              <div class="govuk-radios__item">    
                <input class="selection-button-radio govuk-radios__input store-updated-information" id="onBail-Yes" name="onBail" type="radio" data-aria-controls="onBailDetailsGroup" value="{{ texts.QUALIFY_PAGE.YES }}" {{radioYesChecked}}}>
                <label class="govuk-radios__label" for="onBail-Yes">
                  {{ radioYesLabel }}
                </label>
              </div>

              {# Details #}
              <div class="govuk-character-count govuk-radios__conditional" id="onBailDetailsGroup">
                {{ govukCharacterCount({
                  name: "onBailDetails",
                  id: "onBailDetails",
                  maxlength: "1000",
                  label: {
                    text: texts.QUALIFY_PAGE.DETAILS
                  },
                  errorMessage: radioDetailsError,
                  value: user.qualify.onBail.details
                }) }}
              </div>

              {# Radio NO #}
              <div class="govuk-radios__item">
                <input class="selection-button-radio govuk-radios__input store-updated-information" id="onBail-No" name="onBail" type="radio" value="{{ texts.QUALIFY_PAGE.NO }}" {{radioNoChecked}}}>
                <label class="govuk-label govuk-radios__label" for="onBail-No">
                  {{ radioNoLabel }}
                </label>
              </div>
              
            </div>

          </fieldset>

        </div>

        {# Submit form #}
        {{ govukButton({
          text: texts.INTERFACE.BUTTON_TEXT_CONTINUE
        }) }}

        <input type="hidden" name="_csrf" id="_csrf" value="{{ csrftoken }}">
        <input type="hidden" id="store_url" value="{{ url('steps.qualify.store') }}">

      </form>

  </div>
</div>

{% endblock %}
