{% extends "../../layouts/default-gds.njk" %}

{% block pageTitle %}
  {{ texts.INFO_PAGE.BAIL.HEADING }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../includes/back-link-gds.njk" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ texts.INFO_PAGE.BAIL.HEADING }}
      </h1>

      <div class="govuk-body">
        {% if user.thirdParty == 'Yes' %}
          <p>{{ texts.INFO_PAGE.BAIL.FIRST_THIRD_PARTY }}</p>
        {% else %}
          <p>{{ texts.INFO_PAGE.BAIL.FIRST_MAIN }}</p>
        {% endif %}
      </div>

    </div>
  </div>

{% endblock %}
