{% extends "../../layouts/default-gds.njk" %}

{% from "../../govuk-frontend/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
  {{ texts.INFO_PAGE.CONVICTIONS.HEADING }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../includes/back-link-gds.njk" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ texts.INFO_PAGE.CONVICTIONS.HEADING }}
      </h1>

      <div class="govuk-body">

        {% if user.thirdParty == 'Yes' %}

          <p>{{ texts.INFO_PAGE.CONVICTIONS.FIRST_THIRD_PARTY | safe }}</p>
          <p>{{ texts.INFO_PAGE.CONVICTIONS.SECOND_THIRD_PARTY | safe }}</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>{{ texts.INFO_PAGE.CONVICTIONS.LIST_THIRD_PARTY.ITEM_1 }}</li>
            <li>{{ texts.INFO_PAGE.CONVICTIONS.LIST_THIRD_PARTY.ITEM_2 }}</li>
            <li>{{ texts.INFO_PAGE.CONVICTIONS.LIST_THIRD_PARTY.ITEM_3 }}</li>
            <li>{{ texts.INFO_PAGE.CONVICTIONS.LIST_THIRD_PARTY.ITEM_4 }}</li>
            <li>{{ texts.INFO_PAGE.CONVICTIONS.LIST_THIRD_PARTY.ITEM_5 }}</li>
          </ul>

          <p>{{ texts.INFO_PAGE.CONVICTIONS.SECOND_LIST_THIRD_PARTY.TITLE | safe }}</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>{{ texts.INFO_PAGE.CONVICTIONS.SECOND_LIST_THIRD_PARTY.ITEM_1 }}</li>
            <li>{{ texts.INFO_PAGE.CONVICTIONS.SECOND_LIST_THIRD_PARTY.ITEM_2 }}</li>
          </ul>

          <p>{{ texts.INFO_PAGE.CONVICTIONS.THIRD_THIRD_PARTY | safe  }}</p>
          <p>{{ texts.INFO_PAGE.CONVICTIONS.FOURTH_THIRD_PARTY | safe  }}</p>

          {{ govukWarningText({
            text: texts.INFO_PAGE.CONVICTIONS.WARNING_THIRD_PARTY,
            iconFallbackText: texts.INTERFACE.LABEL_WARNING
          }) }}

          <p>
          {{ texts.INFO_PAGE.CONVICTIONS.FIFTH_THIRD_PARTY }}
            {% if texts.INTERFACE.HTML_LANG === "cy" %}
              <br>
              {% if texts.INTERFACE.CONTACT_TELEPHONE_1 %}
                {{ texts.INTERFACE.CONTACT_TELEPHONE_LABEL_1 }}<a class="govuk-link" href="{{ texts.INTERFACE.CONTACT_TELEPHONE_LINK_1 }}">{{ texts.INTERFACE.CONTACT_TELEPHONE_1}}</a>
              {% endif %}
              <br>
              {% if texts.INTERFACE.CONTACT_TELEPHONE_2 %}
                {{ texts.INTERFACE.CONTACT_TELEPHONE_LABEL_2 }}<a class="govuk-link" href="{{ texts.INTERFACE.CONTACT_TELEPHONE_LINK_2 }}">{{ texts.INTERFACE.CONTACT_TELEPHONE_2}}</a>
              {% endif %}
              <br>
              {{ texts.INFO_PAGE.CONVICTIONS.SIXTH_THIRD_PARTY }}
            {% else %}
              <a class="govuk-link" href="{{ texts.INTERFACE.CONTACT_TELEPHONE_LINK_1 }}">{{ texts.INTERFACE.CONTACT_TELEPHONE_1}}</a>
              {{ texts.INFO_PAGE.CONVICTIONS.SIXTH_THIRD_PARTY }}
            {% endif %}
          </p>

        {% else %}

          <p>{{ texts.INFO_PAGE.CONVICTIONS.FIRST_MAIN | safe }}</p>
          <p>{{ texts.INFO_PAGE.CONVICTIONS.SECOND_MAIN | safe }}</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>{{ texts.INFO_PAGE.CONVICTIONS.LIST_MAIN.ITEM_1 }}</li>
            <li>{{ texts.INFO_PAGE.CONVICTIONS.LIST_MAIN.ITEM_2 }}</li>
            <li>{{ texts.INFO_PAGE.CONVICTIONS.LIST_MAIN.ITEM_3 }}</li>
            <li>{{ texts.INFO_PAGE.CONVICTIONS.LIST_MAIN.ITEM_4 }}</li>
            <li>{{ texts.INFO_PAGE.CONVICTIONS.LIST_MAIN.ITEM_5 }}</li>
          </ul>

          <p>{{ texts.INFO_PAGE.CONVICTIONS.SECOND_LIST_MAIN.TITLE | safe }}</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>{{ texts.INFO_PAGE.CONVICTIONS.SECOND_LIST_MAIN.ITEM_1 }}</li>
            <li>{{ texts.INFO_PAGE.CONVICTIONS.SECOND_LIST_MAIN.ITEM_2 }}</li>
          </ul>

          <p>{{ texts.INFO_PAGE.CONVICTIONS.THIRD_MAIN | safe }}</p>
          <p>{{ texts.INFO_PAGE.CONVICTIONS.FOURTH_MAIN | safe  }}</p>

          {#
          <div class="notice">
            <i class="icon icon-important">
              <span class="visually-hidden">{{ texts.INTERFACE.LABEL_WARNING }}</span>
            </i>
            <p>
              <strong class="govuk-!-font-weight-bold">{{ texts.INFO_PAGE.CONVICTIONS.WARNING_THIRD_PARTY }}</strong>
            </p>
          </div>
          #}

          {{ govukWarningText({
            text: texts.INFO_PAGE.CONVICTIONS.WARNING_MAIN,
            iconFallbackText: texts.INTERFACE.LABEL_WARNING
          }) }}

        {% endif %}

      </div>

    </div>
  </div>

{% endblock %}
