{% extends "../../layouts/default-gds.njk" %}

{% from "../../govuk-frontend/components/radios/macro.njk" import govukRadios %}
{% from "../../govuk-frontend/components/textarea/macro.njk" import govukTextarea %}
{% from "../../govuk-frontend/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% include "../../includes/title-error.njk" %}
  {% if user.thirdParty == 'Yes' %}
    {{ texts.QUALIFY_PAGE.CONVICTIONS_TITLE_OB }} - {{ texts.INTERFACE.GOV }}
  {% else %}
    {{ texts.QUALIFY_PAGE.CONVICTIONS_TITLE }} - {{ texts.INTERFACE.GOV }}
  {% endif %}
{% endblock %}

{% block page_identifier %}Eligibility Convictions{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../includes/back-link-gds.njk" %}
{% endblock %}

{% block content %}

  {% include "../../includes/errors-gds.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{ url('steps.qualify.convictions.post') }}" method="post">

        {# Set radio labels #}
        {% if user.thirdParty == 'Yes' %}
          {% set radioYesLabel = texts.QUALIFY_PAGE.CONVICTIONS_YES_OB  %}
          {% set radioNoLabel = texts.QUALIFY_PAGE.CONVICTIONS_NO_OB %}
        {% else %}
          {% set radioYesLabel =  texts.QUALIFY_PAGE.CONVICTIONS_YES  %}
          {% set radioNoLabel =  texts.QUALIFY_PAGE.CONVICTIONS_NO %}
        {% endif %}

        {# Set radio values #}
        {% if user.qualify.convicted.answer === texts.QUALIFY_PAGE.YES %}
          {% set radioYesChecked = 'checked="checked"' %}
        {% else %}
          {% set radioYesChecked = '' %}
        {% endif %}
        {% if user.qualify.convicted.answer === texts.QUALIFY_PAGE.NO %}
          {% set radioNoChecked = 'checked="checked"' %}
        {% else %}
          {% set radioNoChecked = '' %}
        {% endif %}

        {# Set radio errors #}
        {% set radioAnswerError = undefined %}
        {% set radioDetailsError = undefined %}
        {% if errors.items['convicted']%}
          {% set radioAnswerError = {"text": errors.items['convicted'][0].details, visuallyHiddenText: texts.ERRORS.HIDDEN_ERROR} %}
        {% endif %}
        {% if errors.items['convictedDetails']%}
          {% set radioDetailsError = {"text": errors.items['convictedDetails'][0].details, visuallyHiddenText: texts.ERRORS.HIDDEN_ERROR} %}
        {% endif %}

        <div class="govuk-form-group {% if radioAnswerError or radioDetailsError %}govuk-form-group--error{% endif %}" id="convictedGroup">

          <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">
              {% if user.thirdParty == 'Yes' %}
                {{ texts.QUALIFY_PAGE.CAPTION_OB }}
              {% else %}
                {{ texts.QUALIFY_PAGE.CAPTION }}
              {% endif %}
            </span>
            {% if user.thirdParty == 'Yes' %}
              {{ texts.QUALIFY_PAGE.CONVICTIONS_TITLE_OB }}
            {% else %}
              {{ texts.QUALIFY_PAGE.CONVICTIONS_TITLE }}
            {% endif %}
          </h1>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">

              <div class="govuk-radios govuk-radios--conditional" data-module="radios">

                <div class="govuk-hint" id="onBail-hint">
                  <span class="govuk-body govuk-!-font-weight-bold">
                    {% if user.thirdParty == 'Yes' %}
                      {{texts.QUALIFY_PAGE.QUESTION_4_OB }}
                    {% else %}
                      {{ texts.QUALIFY_PAGE.QUESTION_4 }}
                    {% endif %}
                  </span>
                  <br/>
                  <span>
                    {{texts.QUALIFY_PAGE.UNSURE_PROMPT}} <a class="govuk-link" href="{{ url('steps.qualify.convictions.info') }}">{{ texts.QUALIFY_PAGE.MORE_INFO_LINK }}</a>
                  </span>
                </div>

                {% if radioAnswerError %}
                  <span id="convictedError" class="govuk-error-message">
                    <span class="govuk-visually-hidden">{{texts.ERRORS.HIDDEN_ERROR}}: </span>
                    {{- radioAnswerError.text -}}
                  </span>
                {% endif%}

                {# Radio YES #}
                <div class="govuk-radios__item">    
                  <input class="selection-button-radio govuk-radios__input store-updated-information" id="convicted-Yes" name="convicted" type="radio" data-aria-controls="convictedDetailsGroup" value="{{ texts.QUALIFY_PAGE.YES }}" {{radioYesChecked}}}>
                  <label class="govuk-radios__label" for="convicted-Yes">
                    {{ radioYesLabel }}
                  </label>
                </div>

                {# Details #}
                <div class="govuk-character-count govuk-radios__conditional" id="convictedDetailsGroup">
                  {{ govukTextarea({
                    name: "convictedDetails",
                    id: "convictedDetails",
                    label: {
                      text: texts.QUALIFY_PAGE.DETAILS
                    },
                    attributes: {
                      maxlength: "1000"
                    },
                    errorMessage: radioDetailsError,
                    value: user.qualify.convicted.details
                  }) }}
                  <span class="govuk-hint govuk-character-count__message">{{ texts.VALIDATION.MAX_TEXT_CHARS }}</span>
                </div>

                {# Radio NO #}
                <div class="govuk-radios__item">
                  <input class="selection-button-radio govuk-radios__input store-updated-information" id="convicted-No" name="convicted" type="radio" value="{{ texts.QUALIFY_PAGE.NO }}" {{radioNoChecked}}}>
                  <label class="govuk-label govuk-radios__label" for="convicted-No">
                    {{ radioNoLabel }}
                  </label>
                </div>
                
              </div>

            </fieldset>
          </div>

        </div>

        {# Submit form #}
        {{ govukButton({
          text: texts.INTERFACE.BUTTON_TEXT_CONTINUE
        }) }}

        <input type="hidden" name="_csrf" id="_csrf" value="{{ csrftoken }}">
        <input type="hidden" id="store_url" value="{{ url('steps.qualify.store') }}">

      </form>

  </div>
</div>

{% endblock %}
