{% extends "../../layouts/default.njk" %}

{% block page_title %}
  {% if user.thirdParty == 'Yes' %}
  {{ texts.QUALIFY_PAGE.CONVICTIONS_TITLE_OB }} - {{ texts.INTERFACE.GOV }}
  {% else %}
  {{ texts.QUALIFY_PAGE.CONVICTIONS_TITLE }} - {{ texts.INTERFACE.GOV }}
  {% endif %}
{% endblock %}

{% block page_identifier %}Eligibility Convictions{% endblock %}

{% block content %}

<div class="grid-row">

  <div class="column-two-thirds">

    {% include "../../includes/back-link.njk" %}
    {% include "../../includes/errors.njk" %}

    <form action="{{ url('steps.qualify.convictions.post') }}" method="post">
      <div class="form-group inline {% if (errors.items['convicted']) or (errors.items['convictedDetails']) %}error{% endif %}" id="convictedGroup">

        <h1 class="heading-xlarge">
          <div class="heading-secondary">
            {% if user.thirdParty == 'Yes' %}
            {{ texts.QUALIFY_PAGE.CAPTION_OB }}
            {% else %}
            {{ texts.QUALIFY_PAGE.CAPTION }}
            {% endif %}
          </div>
          {% if user.thirdParty == 'Yes' %}
          {{ texts.QUALIFY_PAGE.CONVICTIONS_TITLE_OB }}
          {% else %}
          {{ texts.QUALIFY_PAGE.CONVICTIONS_TITLE }}
          {% endif %}
        </h1>

        <fieldset>
          <legend>
            <span class="form-label-bold">
              {% if user.thirdParty == 'Yes' %}
              {{ texts.QUALIFY_PAGE.QUESTION_4_OB }}
              {% else %}
              {{ texts.QUALIFY_PAGE.QUESTION_4 }}
              {% endif %}
            </span>
          </legend>
          <span class="form-hint" id="convictedHint">{{ texts.QUALIFY_PAGE.UNSURE_PROMPT }} <a href="{{ url('steps.qualify.convictions.info') }}">{{ texts.QUALIFY_PAGE.MORE_INFO_LINK }}</a></span>
            {% if errors.items['convicted'] %} <span class="error-message"> {{ errors.items['convicted'][0].details }} </span> {% endif %}
          <br>
          <label class="block-label selection-button-radio" for="convicted-Yes" data-target="convictedDetailsGroup">
            {% if user.thirdParty == 'Yes' %}
              <input id="convicted-Yes" type="radio" name="convicted" class="store-updated-information" value="{{ texts.QUALIFY_PAGE.YES }}" {% if user.qualify.convicted.answer == texts.QUALIFY_PAGE.YES %}checked="checked"{% endif %}>
              {{ texts.QUALIFY_PAGE.CONVICTIONS_YES_OB }}
            {% else %}
              <input id="convicted-Yes" type="radio" name="convicted" class="store-updated-information" value="{{ texts.QUALIFY_PAGE.YES }}" {% if user.qualify.convicted.answer == texts.QUALIFY_PAGE.YES %}checked="checked"{% endif %}>
              {{ texts.QUALIFY_PAGE.CONVICTIONS_YES }}
            {% endif %}
          </label>
          <label class="block-label selection-button-radio" for="convicted-No">
            {% if user.thirdParty == 'Yes' %}
              <input id="convicted-No" type="radio" name="convicted" class="store-updated-information" value="{{ texts.QUALIFY_PAGE.NO }}" {% if user.qualify.convicted.answer == texts.QUALIFY_PAGE.NO %}checked="checked"{% endif %}>
              {{ texts.QUALIFY_PAGE.CONVICTIONS_NO_OB }}
            {% else %}
              <input id="convicted-No" type="radio" name="convicted" class="store-updated-information" value="{{ texts.QUALIFY_PAGE.NO }}" {% if user.qualify.convicted.answer == texts.QUALIFY_PAGE.NO %}checked="checked"{% endif %}>
              {{ texts.QUALIFY_PAGE.CONVICTIONS_NO }}
            {% endif %}
          </label>

          <div class="panel panel-border-narrow {% if user.qualify.convicted.answer === texts.QUALIFY_PAGE.YES %}{% else %}js-hidden{% endif %}" id="convictedDetailsGroup">
            <label class="form-label" for="convictedDetails">{{ texts.QUALIFY_PAGE.DETAILS }}</label>
            {% if errors.items['convictedDetails'] %}<span class="error-message" id="convictedDetailsErrorMessage">{{ errors.items['convictedDetails'][0].details }}</span>{% endif %}
            <textarea class="form-control" name="convictedDetails" id="convictedDetails" maxlength="1000" {% if errors.items['convictedDetails'] %}aria-describedby="convictedDetailsErrorMessage"{% endif %}>{{ user.qualify.convicted.details }}</textarea>
            <span class="form-hint" style="padding-top:4px;" aria-live="polite">{{ texts.VALIDATION.MAX_TEXT_CHARS }}</span>
          </div>
          
        </fieldset>
      </div>

      {# Submit form #}
      <input type="hidden" name="_csrf" id="_csrf" value="{{ csrftoken }}">
      <input type="hidden" id="store_url" value="{{ url('steps.qualify.store') }}">
      <input class="button" type="submit" value="{{ texts.INTERFACE.BUTTON_TEXT_CONTINUE }}">
    </form>

  </div>
</div>

{% endblock %}
