{% extends "../../layouts/default-gds.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if user.thirdParty == 'Yes' %}
    {{ texts.QUALIFY_PAGE.HEADING_OB }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
  {% else %}
    {{ texts.QUALIFY_PAGE.HEADING }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
  {% endif %}
{% endblock %}

{% block page_identifier %}Eligibility{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../includes/back-link-gds.njk" %}
{% endblock %}

{% block content %}

  {% include "../../includes/errors-gds.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">
        {% if user.thirdParty == 'Yes' %}
          {{- texts.QUALIFY_PAGE.HEADING_OB -}}
        {% else %}
          {{- texts.QUALIFY_PAGE.HEADING -}}
        {% endif %}
      </h1>
      
      {% if user.thirdParty == 'Yes' %}
        <p class="govuk-body">{{ texts.QUALIFY_PAGE.MAIN_PARA_1_OB }}</p>
        <p class="govuk-body">{{ texts.QUALIFY_PAGE.MAIN_PARA_2_OB }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ texts.QUALIFY_PAGE.MAIN_ITEM_1_OB }}</li>
          <li>{{ texts.QUALIFY_PAGE.MAIN_ITEM_2_OB }}</li>
        </ul>
        <p class="govuk-body">{{ texts.QUALIFY_PAGE.MAIN_PARA_3_OB }}</p>
      {% else %}
        <p class="govuk-body">{{ texts.QUALIFY_PAGE.MAIN_PARA_1 }}</p>
        <p class="govuk-body">{{ texts.QUALIFY_PAGE.MAIN_PARA_2 }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ texts.QUALIFY_PAGE.MAIN_ITEM_1 }}</li>
          <li>{{ texts.QUALIFY_PAGE.MAIN_ITEM_2 }}</li>
        </ul>
        <p class="govuk-body">{{ texts.QUALIFY_PAGE.MAIN_PARA_3 }}</p>
      {% endif %}

      <br/>

      {# Submit form #}
      {% if user.thirdParty == 'Yes' %}
        {{ govukButton({
          text: texts.INTERFACE.BUTTON_TEXT_CONTINUE,
          href: url('steps.qualify.residency.tp.get'),
          attributes: {
            id: "continueButton"
          }
        }) }}
      {% else %}
        {{ govukButton({
          text: texts.INTERFACE.BUTTON_TEXT_CONTINUE,
          href: url('steps.qualify.residency.get'),
          attributes: {
            id: "continueButton"
          }
        }) }}
      {% endif %}

    </div>
  </div>

{% endblock %}
