{% extends "../../layouts/default-gds.njk" %}

{% from "../../govuk-frontend/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if user.thirdParty == 'Yes' %}
    {{ texts.QUALIFY_PAGE.HEADING_OB }} - {{ texts.INTERFACE.GOV }}
  {% else %}
    {{ texts.QUALIFY_PAGE.HEADING }} - {{ texts.INTERFACE.GOV }}
  {% endif %}
{% endblock %}

{% block page_identifier %}Eligibility{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../includes/back-link-gds.njk" %}
{% endblock %}

{% block content %}

  {% include "../../includes/errors-gds.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl">
        {% if user.thirdParty == 'Yes' %}
          {{ texts.QUALIFY_PAGE.HEADING_OB }}
        {% else %}
          {{ texts.QUALIFY_PAGE.HEADING }}
        {% endif %}
      </h1>

      <p class="govuk-body" >
        {% if user.thirdParty == 'Yes' %}
          {{ texts.QUALIFY_PAGE.MAIN_OB }}
        {% else %}
          {{ texts.QUALIFY_PAGE.MAIN }}
        {% endif %}
      </p>

      {# Submit form #}
      {% if user.thirdParty == 'Yes' %}
        {{ govukButton({
          text: texts.INTERFACE.BUTTON_TEXT_CONTINUE,
          href: url('steps.qualify.residency.tp.get'),
          attributes: {
            id: "continueButton"
          }
        }) }}
      {% else %}
        {{ govukButton({
          text: texts.INTERFACE.BUTTON_TEXT_CONTINUE,
          href: url('steps.qualify.residency.get'),
          attributes: {
            id: "continueButton"
          }
        }) }}
      {% endif %}

    </div>
  </div>

{% endblock %}
