{% extends "../../layouts/default-gds.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% include "../../includes/title-error.njk" %}
  {% if user.thirdParty == 'Yes' %}
    {{ texts.QUALIFY_PAGE.MENTAL_HEALTH_CAPACITY_TITLE_OB }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
  {% else %}
    {{ texts.QUALIFY_PAGE.MENTAL_HEALTH_CAPACITY_TITLE }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
  {% endif %}
{% endblock %}

{% block page_identifier %}Eligibility Mental Health Capacity{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../includes/back-link-gds.njk" %}
{% endblock %}

{% block content %}

  {% include "../../includes/errors-gds.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{ url('steps.qualify.mental.health.capacity.post') }}" method="post">

        {# Set radio labels #}
        {% if user.thirdParty == 'Yes' %}
          {% set radioYesLabel = texts.QUALIFY_PAGE.MENTAL_HEALTH_CAPACITY_YES_OB %}
          {% set radioNoLabel = texts.QUALIFY_PAGE.MENTAL_HEALTH_CAPACITY_NO_OB %}
        {% else %}
          {% set radioYesLabel = texts.QUALIFY_PAGE.MENTAL_HEALTH_CAPACITY_YES %}
          {% set radioNoLabel = texts.QUALIFY_PAGE.MENTAL_HEALTH_CAPACITY_NO %}
        {% endif %}

        {# Set radio values #}
        {% if user.qualify.mentalHealthCapacity.answer === texts.QUALIFY_PAGE.YES %}
          {% set radioYesChecked = 'checked="checked"' %}
        {% else %}
          {% set radioYesChecked = undefined %}
        {% endif %}
        {% if user.qualify.mentalHealthCapacity.answer === texts.QUALIFY_PAGE.NO %}
          {% set radioNoChecked = 'checked="checked"' %}
        {% else %}
          {% set radioNoChecked = undefined %}
        {% endif %}

        {# Set radio errors #}
        {% set radioAnswerError = undefined %}
        {% set radioDetailsError = undefined %}
        {% if errors.items['mentalHealthCapacity']%}
          {% set radioAnswerError = {"text": errors.items['mentalHealthCapacity'][0].details, visuallyHiddenText: texts.ERRORS.HIDDEN_ERROR} %}
        {% endif %}
        {% if errors.items['mentalHealthCapacityDetails']%}
          {% set radioDetailsError = {"text": errors.items['mentalHealthCapacityDetails'][0].details, visuallyHiddenText: texts.ERRORS.HIDDEN_ERROR} %}
        {% endif %}

        {# set Caption text #}
        {% if user.thirdParty == 'Yes' %}
          {% set captionText = texts.QUALIFY_PAGE.CAPTION_OB %}
        {% else %}
          {% set captionText = texts.QUALIFY_PAGE.CAPTION %}
        {% endif %}

        {# set Title text #}
        {% if user.thirdParty == 'Yes' %}
          {% set titleText = texts.QUALIFY_PAGE.MENTAL_HEALTH_CAPACITY_TITLE_OB %}
        {% else %}
          {% set titleText = texts.QUALIFY_PAGE.MENTAL_HEALTH_CAPACITY_TITLE %}
        {% endif %}

        {# set Legend HTML #}
        {% set legendHTML %}
          <span class="govuk-caption-xl">
            {{- captionText -}}
          </span>
          {{- titleText -}}
        {% endset -%}
        
        {# set Hint HTML #}
        {% set hintHTML %}
          {% if user.thirdParty == 'Yes' %}
            {{texts.QUALIFY_PAGE.MENTAL_HEALTH_CAPACITY_HINT_OB}}
          {% else %}
            {{texts.QUALIFY_PAGE.MENTAL_HEALTH_CAPACITY_HINT}}
          {% endif %}
        {% endset %}

        {# set Details HTML #}
        {% set detailsHTML %}
          {{ govukCharacterCount({
            name: "mentalHealthCapacityDetails",
            id: "mentalHealthCapacityDetails",
            maxlength: "1000",
            hint: {
              text: texts.QUALIFY_PAGE.DETAILS
            },
            errorMessage: radioDetailsError,
            value: user.qualify.mentalHealthCapacity.details
          }) }}
        {% endset %}

        {# set radio group class #}
        {% if radioAnswerError or radioDetailsError %}
          {% set radioGroupClass = "govuk-form-group--error" %}
        {% else %}
          {% set radioGroupClass = undefined %}
        {% endif %}
        
        {{ govukRadios({
          idPrefix: "mentalHealthCapacity",
          name: "mentalHealthCapacity",
          errorMessage: radioAnswerError,
          hint: {
            html: hintHTML
          },
          formGroup: {
            id: "mentalHealthCapacityGroup",
            classes: radioGroupClass
          },
          fieldset: {
            legend: {
              html: legendHTML,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: texts.QUALIFY_PAGE.YES,
              text: radioYesLabel,
              checked: radioYesChecked,
              id: "mentalHealthCapacity-Yes",
              conditional: {
                html: detailsHTML
              }
            },
            {
              value: texts.QUALIFY_PAGE.NO,
              text: radioNoLabel,
              checked: radioNoChecked,
              id: "mentalHealthCapacity-No"
            }
          ]
        }) }}

        {% include "./mental-health-capacity-info.njk" %}

        {# Submit form #}
        {{ govukButton({
          text: texts.INTERFACE.BUTTON_TEXT_CONTINUE
        }) }}

        <input type="hidden" name="_csrf" id="_csrf" value="{{ csrftoken }}">
        <input type="hidden" id="store_url" value="{{ url('steps.qualify.store') }}">

      </form>
   
  </div>
</div>

{% endblock %}
