{% from "govuk/components/details/macro.njk" import govukDetails %}

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary ga-details-mh-sectioned">
    <span class="govuk-details__summary-text ga-details-mh-sectioned">
      {{ texts.INFO_PAGE.MENTAL_HEALTH.DETAILS_HEADING }}
    </span>
  </summary>
  <div class="govuk-details__text">

    <div class="govuk-body">
      {% if user.thirdParty == 'Yes' %}
        {# 3rd party #}
        <p>{{texts.INFO_PAGE.MENTAL_HEALTH.SECTIONED.SECTION_1_1_OB}}</p>
        <p>{{texts.INFO_PAGE.MENTAL_HEALTH.SECTIONED.SECTION_1_2_OB}}</p>
        <p>{{texts.INFO_PAGE.MENTAL_HEALTH.SECTIONED.SECTION_1_3_OB}}</p>
      {% else %}
        {# 1st person #}
        <p>{{texts.INFO_PAGE.MENTAL_HEALTH.SECTIONED.SECTION_1_1}}</p>
        <p>{{texts.INFO_PAGE.MENTAL_HEALTH.SECTIONED.SECTION_1_2}}</p>
        <p>{{texts.INFO_PAGE.MENTAL_HEALTH.SECTIONED.SECTION_1_3}}</p>
      {% endif %}
    </div>

  </div>
</details>