{% extends "../../layouts/default.njk" %}

{% block page_title %}
  {% if user.thirdParty == 'Yes' %}
  {{ texts.INFO_PAGE.RESIDENCY.HEADING_THIRD_PARTY }} - {{ texts.INTERFACE.GOV }}
  {% else %}
  {{ texts.INFO_PAGE.RESIDENCY.HEADING }} - {{ texts.INTERFACE.GOV }}
  {% endif %}
{% endblock %}

{% block content %}

<div class="grid-row">

  <div class="column-two-thirds">

    {% include "../../includes/back-link.njk" %}

    {% if user.thirdParty == 'Yes' %}
    <h1 class="heading-xlarge">{{ texts.INFO_PAGE.RESIDENCY.HEADING_THIRD_PARTY }}</h1>
    {% else %}
    <h1 class="heading-xlarge">{{ texts.INFO_PAGE.RESIDENCY.HEADING }}</h1>
    {% endif %}

    {% if user.thirdParty == 'Yes' %}
    <p>{{ texts.INFO_PAGE.RESIDENCY.FIRST_THIRD_PARTY }}</p>
    <p>{{ texts.INFO_PAGE.RESIDENCY.SECOND_THIRD_PARTY }}<a href="tel:{{ texts.INFO_PAGE.RESIDENCY.CONTACT_TEL}}">{{ texts.INFO_PAGE.RESIDENCY.CONTACT_TEL}}</a>.</p>
    {% else %}
    <p>{{ texts.INFO_PAGE.RESIDENCY.FIRST_MAIN }}</p>
    <p>{{ texts.INFO_PAGE.RESIDENCY.SECOND_MAIN }}<a href="tel:{{ texts.INFO_PAGE.RESIDENCY.CONTACT_TEL}}">{{ texts.INFO_PAGE.RESIDENCY.CONTACT_TEL}}</a>.</p>
    {% endif %}

  </div>

</div>

{% endblock %}
