{% extends "../../layouts/default-gds.njk" %}

{% from "../../govuk-frontend/components/textarea/macro.njk" import govukTextarea %}
{% from "../../govuk-frontend/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% include "../../includes/title-error.njk" %}
  {% if user.thirdParty == 'Yes' %}
    {{ texts.QUALIFY_PAGE.RESIDENCY_TITLE_OB }} - {{ texts.INTERFACE.GOV }}
  {% else %}
    {{ texts.QUALIFY_PAGE.RESIDENCY_TITLE }} - {{ texts.INTERFACE.GOV }}
  {% endif %}
{% endblock %}

{% block page_identifier %}Eligibility Residency{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "../../includes/back-link-gds.njk" %}
{% endblock %}

{% block content %}

  {% include "../../includes/errors-gds.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{ url('steps.qualify.residency.post') }}" method="post">

        {# Set radio labels #}
        {% if user.thirdParty == 'Yes' %}
          {% set radioYesLabel = texts.QUALIFY_PAGE.RESIDENCY_YES_OB %}
          {% set radioNoLabel = texts.QUALIFY_PAGE.RESIDENCY_NO_OB %}
        {% else %}
          {% set radioYesLabel = texts.QUALIFY_PAGE.RESIDENCY_YES %}
          {% set radioNoLabel = texts.QUALIFY_PAGE.RESIDENCY_NO %}
        {% endif %}

        {# Set radio values #}
        {% if user.qualify.livedConsecutive.answer === texts.QUALIFY_PAGE.YES %}
          {% set radioYesChecked = 'checked="checked"' %}
        {% else %}
          {% set radioYesChecked = undefined %}
        {% endif %}
        {% if user.qualify.livedConsecutive.answer === texts.QUALIFY_PAGE.NO %}
          {% set radioNoChecked = 'checked="checked"' %}
        {% else %}
          {% set radioNoChecked = undefined %}
        {% endif %}

        {# Set radio errors #}
        {% set radioAnswerError = undefined %}
        {% set radioDetailsError = undefined %}
        {% if errors.items['livedConsecutive']%}
          {% set radioAnswerError = {"text": errors.items['livedConsecutive'][0].details, visuallyHiddenText: texts.ERRORS.HIDDEN_ERROR} %}
        {% endif %}
        {% if errors.items['livedConsecutiveDetails']%}
          {% set radioDetailsError = {"text": errors.items['livedConsecutiveDetails'][0].details, visuallyHiddenText: texts.ERRORS.HIDDEN_ERROR} %}
        {% endif %}

        <div class="govuk-form-group {% if radioAnswerError or radioDetailsError %}govuk-form-group--error{% endif %}" id="livedConsecutiveGroup">

          <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                <span class="govuk-caption-xl">
                  {% if user.thirdParty == 'Yes' %}
                    {{ texts.QUALIFY_PAGE.CAPTION_OB }}
                  {% else %}
                    {{ texts.QUALIFY_PAGE.CAPTION }}
                  {% endif %}
                </span>
                {% if user.thirdParty == 'Yes' %}
                  {{ texts.QUALIFY_PAGE.RESIDENCY_TITLE_OB }}
                {% else %}
                  {{ texts.QUALIFY_PAGE.RESIDENCY_TITLE }}
                {% endif %}
              </h1>
            </legend>

            <span class="govuk-hint" id="livedConsecutive-hint">{{texts.QUALIFY_PAGE.UNSURE_PROMPT}} 
              <a class="govuk-link" href="{{ url('steps.qualify.residency.info') }}">
              {{ texts.QUALIFY_PAGE.MORE_INFO_LINK }}<span class="govuk-visually-hidden">{{ texts.QUALIFY_PAGE.RESIDENCY_MORE_INFO_LINK }}</span>
              </a>
            </span>

            <div class="govuk-radios govuk-radios--conditional" data-module="radios">

              {% if radioAnswerError %}
                <span id="livedConsecutiveError" class="govuk-error-message">
                  <span class="govuk-visually-hidden">{{texts.ERRORS.HIDDEN_ERROR}}: </span>
                  {{- radioAnswerError.text -}}
                </span>
              {% endif%}

              {# Radio YES #}
              <div class="govuk-radios__item">    
                <input class="selection-button-radio govuk-radios__input store-updated-information" id="livedConsecutive-Yes" name="livedConsecutive" type="radio" value="{{ texts.QUALIFY_PAGE.YES }}" {{radioYesChecked}}>
                <label class="govuk-radios__label" for="livedConsecutive-Yes">
                  {{ radioYesLabel }}
                </label>
              </div>

              {# Radio NO #}
              <div class="govuk-radios__item">
                <input class="selection-button-radio govuk-radios__input store-updated-information" id="livedConsecutive-No" name="livedConsecutive" type="radio" data-aria-controls="livedConsecutiveDetailsGroup"  value="{{ texts.QUALIFY_PAGE.NO }}" {{radioNoChecked}}>
                <label class="govuk-label govuk-radios__label" for="livedConsecutive-No">
                  {{ radioNoLabel }}
                </label>
              </div>
              
              {# Details #}
              <div class="govuk-character-count govuk-radios__conditional" id="livedConsecutiveDetailsGroup">
                {{ govukTextarea({
                  name: "livedConsecutiveDetails",
                  id: "livedConsecutiveDetails",
                  label: {
                    text: texts.QUALIFY_PAGE.DETAILS
                  },
                  attributes: {
                    maxlength: "1000"
                  },
                  errorMessage: radioDetailsError,
                  value: user.qualify.livedConsecutive.details
                }) }}
                <span class="govuk-hint govuk-character-count__message">{{ texts.VALIDATION.MAX_TEXT_CHARS }}</span>
              </div>

            </div>

          </fieldset>

        </div>
        
        {# Submit form #}
        {{ govukButton({
          text: texts.INTERFACE.BUTTON_TEXT_CONTINUE
        }) }}

        <input type="hidden" name="_csrf" id="_csrf" value="{{ csrftoken }}">
        <input type="hidden" id="store_url" value="{{ url('steps.qualify.store') }}">
        
      </form>

  </div>
</div>

{% endblock %}
