{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

 {# {{ errors.count }} Errors (test) #}

{% if errors.count > 0 %}

  {% if errors.message.length > 0 %}
  {% endif %}


  {% set errorItems = [] %}
  {% for key, messages in errors.items %}

    {# Generate HREF from summaryLink value if providede otherwise default to key #}
    {% if messages[0].summaryLink != undefined %}
      {% set hrefValue = messages[0].summaryLink %}
    {% else %}
      {% set hrefValue = key %}
    {% endif %}

    {% if messages[0]|isString %}
      {% set errorItems = (errorItems.push({text: messages[0], href: '#' + hrefValue}), errorItems) %}
    {% else %}
      {% set errorItems = (errorItems.push({text: messages[0].summary, href: '#' + hrefValue}), errorItems) %}
    {% endif %}
  {% endfor %}

  {{ govukErrorSummary({
    titleText: errors.title,
    errorList: errorItems
  }) }}

{% endif %}

{#
  <ul class="error-summary-list" aria-live="polite" aria-atomic="true">
    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
      {{ errors.title }}
    </h2>
    {% if errors.message.length > 0 %}
    <p>{{ errors.message }}</p>
    {% endif %}
    {% for key, messages in errors.items %}
    <li>
      {% if key in ['contactPhone','thirdPartyReason','dateOfBirth','useJurorPhoneDetails','useJurorEmailDetails','livedConsecutive','mentalHealthSectioned','mentalHealthCapacity','onBail','convicted','cjsEmployed','cjsEmployer','assistanceNeeded'] %}
        <a href="#{{ key }}Group">
      {% else %}
        <a href="#{{ key }}">
      {% endif %}
        {% if messages[0]|isString %}
        {{ messages[0] }}
        {% else %}
        {{ messages[0].summary }}
        {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
#}
