<br>
<p class="service-feedback govuk-body">
  <a class="govuk-link" href="http://www.smartsurvey.co.uk/s/Summons_feedback/">{{ texts.CONFIRMATION.SURVEY_LINK }}</a> {{ texts.CONFIRMATION.SURVEY_TIME }}
</p>
