<br>
<p class="service-feedback govuk-body">
  <a class="govuk-link" id="feedback-survey-link" target="_blank" href="{{ texts.INTERFACE.SMART_SURVEY_SUMMONS_RESPONSE_URL }}" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.CONFIRMATION.SURVEY_LINK }}</a> {{ texts.CONFIRMATION.SURVEY_TIME }}
</p>
