<link rel="stylesheet" href="{{ assetPath }}css/style.css" media="screen">

<script type="text/javascript" src="{{ assetPath }}js/html5shiv.min.js"></script>
<script type="text/javascript" src="{{ assetPath }}js/respond.min.js"></script>
