<div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">{{ texts.BANNER_BETA.BETA }}</strong>
    <span>{{ texts.BANNER_BETA.FEEDBACK_1 }} <a target="_blank" href="" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ texts.BANNER_BETA.FEEDBACK_2 }}</a> {{ texts.BANNER_BETA.FEEDBACK_3 }}</span>
  </p>
</div>
