<div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">{{ texts.BANNER_BETA.BETA }}</strong>
    <span>{{ texts.BANNER_BETA.FEEDBACK_1 }} <a href="http://www.smartsurvey.co.uk/s/Summons_feedback/">{{ texts.BANNER_BETA.FEEDBACK_2 }}</a> {{ texts.BANNER_BETA.FEEDBACK_3 }}</span>
  </p>
</div>
