<div class="header-proposition">
  <div class="content">
    <nav id="proposition-menu">
      {% if serviceName %}<a target="_blank" href="/" id="proposition-name" alt="{{ texts.INTERFACE.LINK_OPENS_NEW_WINDOW }}">{{ serviceName }}</a>{% endif %}
    </nav>
  </div>
</div>
